@charset "UTF-8";

/*全站的公共样式  start*/

html,body {
  font-family: '微软雅黑' !important ;
  font-size: 14px;
  height:100%;
}

ul,li{ margin:0; padding:0; list-style-type:none;}
.main-content-wrapper{ height:calc(100% - 80px); }

/* 定义 字体大小 */
.font_18{font-family: 微软雅黑; font-size: 18px; }
.font_16{font-family: 微软雅黑; font-size: 16px; }
.font_14{font-family: 微软雅黑; font-size: 14px; }
.font_12{font-family: 微软雅黑; font-size: 12px; }


/* 定义 内边距和外边距 */
.no-padding{ padding:0px;}
.no-padding-left{ padding-left:0;}
.no-padding-right{ padding-right:0;}
.no-margin-bottom{ margin-bottom:-15px;}

.pdt5  { padding-top:5px;}
.pdt10 { padding-top:10px;}
.pdt15 { padding-top:15px;}
.pdt20 { padding-top:20px;}
.pdt25 { padding-top:25px;}
.pdt30 { padding-top:30px;}

.pdb5  { padding-bottom:5px;}
.pdb10 { padding-bottom:10px;}
.pdb15 { padding-bottom:15px;}
.pdb20 { padding-bottom:20px;}
.pdb25 { padding-bottom:25px;}

.pdl5  { padding-left:5px;}
.pdl10 { padding-left:10px;}
.pdl15 { padding-left:15px;}
.pdl20 { padding-left:20px;}
.pdl25 { padding-left:25px;}

.pdr5  { padding-right:5px;}
.pdr10 { padding-right:10px;} 
.pdr15 { padding-right:15px;}
.pdr20 { padding-right:20px;}
.pdr25 { padding-right:25px;}

.mgt5  { margin-top:5px;}
.mgt10 { margin-top:10px;}
.mgt15 { margin-top:15px;}
.mgt20 { margin-top:20px;}
.mgt25 { margin-top:25px;}
.mgt30 { margin-top:30px;}

.mgb5  { margin-bottom:5px;}
.mgb10 { margin-bottom:10px;}
.mgb15 { margin-bottom:15px;}
.mgb20 { margin-bottom:20px;}
.mgb25 { margin-bottom:25px;}

.mgl5  { margin-left:5px;}
.mgl10 { margin-left:10px;}
.mgl15 { margin-left:15px;}
.mgl20 { margin-left:20px;}
.mgl25 { margin-left:25px;}

.mgr5  {margin-right: 5px;}
.mgr10 {margin-right: 10px;}
.mgr15 {margin-right: 15px;}
.mgr20 {margin-right: 20px;}
.mgr25 {margin-right: 25px;} 

.pd_5 { padding:5px;}
.pd_10{ padding:10px;}
.pd_15{ padding: 15px; }
.pd_20{ padding: 20px; }

.mg_5 { margin:5px;}
.mg_10{ margin:10px;}
.mg_15{ margin:15px;}
.mg_20{ margin:20px;}

.pd_tb_10{ padding:10px 0;}
.pd_lr_10{ padding:0 10px;}

.mg_tb_10{ margin:10px 0;}
.mg_lr_10{ margin:0 10px;}


/* 定义  颜色 */
.c_red{ color:#F00;}
.c_yellow{ color:#FF8762;}
.c_blue{ color:#0372E5;}
.c_grey{ color:#A0ABB1;}
.c_green{ color:#3FCF7E;}
.c_black{ color:#333;}
.c_white{ color:#FFF;}

/* 定义 圆角按钮 */
.circle-btn{ border-radius:20px; padding:8px 25px;color:#FFF; }
/*圆形 按钮*/
.circle{ border-radius:100%; padding:5px; text-align:center; border:none; background:#2DCC70; color:#FFF;}
/*绿色边框按钮*/
.btn-green-line-min{ border:1px solid #2ECC71; background:#FFF; color:#2ECC71;}
.btn-green-line-min:hover{ background:#FFF; color:#2ECC71; }

@media (max-width: 966px) { 
	#header .brand{display:none}
}
@media (min-width: 660px) { 
	#header #toggle-left{display:none}
}


/*首页 顶部*/
.wechat-title{ font-weight: 800;font-size: 28px; color:#fff;}

.user-nav li .icons-bellline{
-o-transform: rotate(-45deg); /* Opera浏览器 */
-webkit-transform: rotate(-45deg); /* Webkit内核浏览器 */
-moz-transform: rotate(-45deg); /* Firefox浏览器 */
}        


#header .btn-default i{   
	cursor: pointer;
    color: #fff;
}
 
#header .btn-default .glyphicon-th-list{ 
    cursor: pointer;
    color: #A9B1BC;
} 

#header .btn-default {
    padding: 3px 9px;
    background: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 35px;
    height: 35px;
	border:1px double #fff;
}
#header .btn-default:hover{ background:#2DCC6F;}
#header .brand{ padding:0;}
.user-nav ul li.dropdown.settings a{ color:#FFF;}


/*icon 字号*/
.nano-content .sub-menu i{ font-size:18px; padding-right:5px;}
.nano-content .sub-menu .icons-event-manage{ font-size:16px;padding-right:7px;}
.nano-content .sub-menu a .icons-right{ font-size:12px; padding-top:5px}


/* 左侧菜单 */
.sidebar{ height:calc(100% - -100%);}
#leftside-navigation ul li a {
    border-left: 4px solid #627078;
    color: #bfc2c8;
    text-decoration: none;
    display: block;
    padding: 12px 0 12px 25px;
    font-size: 14px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
} 
.second-menu{ background:#4D5F85;}

#leftside-navigation ul ul li {
    background: #4D5F85;
    margin-bottom: 0;
    margin-right: 0;
    border-bottom: none;
}

.leftmenu-dot{  
	display: inline-block;
    background: #AEB2B7;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 2px;}

.nano-content{ margin-top:20px;}
.nano-content li{ background:#303048;}
#leftside-navigation ul li a:hover{ color:#FFF; border-left:4px solid #233342;}
#leftside-navigation .sub-menu > .second-menu .active a{ border-left: 4px solid #4D5F85; background:#4D5F85;}
#leftside-navigation .sub-menu > .second-menu .active a span{ color:#4D5F85; background:#2693ff;}
#leftside-navigation ul li .second-menu .second-li{ border-bottom:1px solid #485D71;} 


/*当前路径*/
.current-name{ background:#fff; color:#888 ;line-height:35px; font-size:14px; font-family:"微软雅黑"; padding-left:20px;min-width: 800px;}
/*首页内容*/

/*.dashboard-tile{ height:125px;}
.dashboard-tile.detail .icon-box{display:inline-block; float:left; width:100px; height:125px; line-height:120px; }
.dashboard-tile.detail .tit-red{background:#FF8762;}
.dashboard-tile.detail .tit-green{ background:#2DCC70;}
.dashboard-tile.detail .tit-purple{background:#B198DC;}
.dashboard-tile.detail .tit-blue{background:#6DC7BE;}
.dashboard-tile.detail .icon{display:block; height:80px; line-height:140px; text-align:center; }
.dashboard-tile.detail .icon i{color:#fff;font-size:40px; }
.dashboard-tile.detail .content{ width:calc(100% - 110px); text-align:center; display:inline-block; float:right;}
.dashboard-tile .content p{margin-bottom:0;padding:10px 0;font-weight:500;font-size:14px;clear:both}
.dashboard-tile .content h1{margin:0;font-weight:300;font-size:30px;padding:8px;text-align:center;} 
.dashboard-tile .content h1.t-red{color:#FF8762;}
.dashboard-tile .content h1.t-green{color:#2DCC70;}
.dashboard-tile .content h1.t-purple{color:#B198DC;}
.dashboard-tile .content h1.t-blue{color:#6DC7BE;}*/
 
 
/*首页 快速入口*/
/*.release-box{ background:#FFF; min-height:150px; margin-bottom:15px;}
.release-box .span{ display:inline-block; width:130px; height:120px; line-height:120px; margin:20px; background:url(../../img/background.png) no-repeat center center; text-align: center; color:#889494;}
.release-box .span a:hover{ color:#889494;}
.release-box > a:hover{ color:#889494;}
.release-box .span .quickin{ width:100px;height:30px; background:#FFF; border:1px solid #D4DAE0; padding:5px 8px; color:#889494;}
.release-box .span i{ font-size:20px;}

.index-mess img{ position:relative;}
.index-mess .iconplace{ position:absolute; top:33%; left:30%; }
.index-mess .iconplace i{ font-size:40px; color:#5D6B78; margin-right:10px;}
.index-mess .textplace{position:absolute; top:40%; left:45%; font-size:18px;}*/


/*首页改版 0627*/
.index-count{ width:100%;  overflow:hidden; clear:both;} 
.index-count > div{ width:20%; float:left; padding-right:10px;}
.index-count > div:last-child{ padding-right:0;}
.index-count > div .dashboard-tile{height:125px;}
.index-count > div .dashboard-tile .content{ text-align:center;}
.index-count > div .dashboard-tile .content p{ color:#000; font-size:15px}

.index-count > div .dashboard-tile .content h1.t-red{color:#FE8662;}
.index-count > div .dashboard-tile .content h1.t-green{color:#2DCC70;}
.index-count > div .dashboard-tile .content h1.t-blue{color:#6B8DE4;}
.index-count > div .dashboard-tile .content h1.t-yellow{color:#FBD468;}
.index-count > div .dashboard-tile .content h1.t-lightblue{color:#6CC7BF;}

@media (max-width: 640px) { 
.index-count > div{ width:100%; padding-right:0px;}
}

.index-table{ background:#FFF;}
.index-table .notice{ width:100%; background:#fafafa; height:42px; line-height:42px; padding-left:8px; font-weight:600; font-size:15px;}
.index-table table thead tr th,.index-table table tbody tr td{ border:none; border-bottom:1px solid #E9E9E9; height:45px; text-align:center; vertical-align:middle;}
.index-table table tbody tr td a{ color:#2DCC70;}

/*更新通知*/
.index-notice-box{ background:#FFF;}
.index-notice-box .notice-title{ background:#FFF; height:90px; text-align:center; font-size:18px; font-weight:500; border-bottom:1px solid #F1F1F1; padding-top:25px; color:
#000;}
.index-notice-box .notice-title p{color:#A2A2A2;} 
.index-notice-box .notice-text{ padding:20px 50px 10px 50px;}
.index-notice-box .notice-text h5{ color:#000;}



/*创建俱乐部 0527*/

.jn-title-box{height: 50px; position: relative;top: 7px; margin-left:20px;} 
.jn-title-box .jn-title {   
  border-left: 4px solid #5B7189;
  padding-left:10px;
  font-size: 16px;
  color: #5B7189;
  font-weight: 900;
}
.jn-title-explain{ font-size:14px; color:#888888; font-weight:200; margin-left:15px;}
.jn-title-box .jn-btn{position:absolute; top:-7px; right:15px;}
.upload-pic{ position:relative;}
.upload-btn{ position:absolute; bottom:-14px; left:180px}
.club-add-icon{ font-size:60px; color:#2ECC71;}
.prompt-icon i{ font-size:100px; color:#2DCC70;}


/*表单后的注释文字*/
.input-explain{ color:#F00; font-size:12px; line-height:35px;}
.form-inline label{ width:80px; text-align:right}

 
@media (max-width: 1450px) { 
	.form-inline .form-control {display: inline-block; width: 148px; vertical-align: middle;}
}
@media (max-width: 1100px) { 
	.form-inline .form-control {display: inline-block; width: 100%; vertical-align: middle;}
}

 
/*多选*/
.checkbox-inline+.checkbox-inline{ margin-left: 0px;} 
.checkbox-inline{ padding-left:0; padding-right:25px;}


/*表格样式*/

.table-responsive .table-striped thead{ background:#f8f8f8; color:#FFF; color:#343535;}
@media (min-width: 640px) { 
.table-responsive .table-striped thead tr th,.table-responsive .table-striped tbody tr td{ text-align:center; max-width:150px; vertical-align:middle;word-break:break-all;}
}
 

.table-responsive tbody a{color:#337ab7;} 
.table-responsive tbody a:hover{ color:#428bca;}
.table-lr table tbody tr td.left{ text-align:right; padding-right:30px; border-left:1px solid #fff!important; vertical-align:middle;}
.table-lr table tbody tr td.right{  padding-left:30px; border-right:1px solid #fff!important; vertical-align:middle; }
.table-lr table tbody tr td.right select{ height:26px; border-radius:none;}
.table-responsive tbody .operation a{ color:#337ab7; word-break:keep-all;white-space:nowrap;}
.table-responsive tbody .operation a:hover{ color:#0A62BF;}




/*选项卡 样式添加*/
.tab-primary.tab-wrapper>.nav-tabs>li a{font-size:16px; font-weight:700; background:#fff; border:1px solid #D4D5D5; margin-right:-1px;}
.tab-primary.tab-wrapper>.nav-tabs>li.active>a{ background:#2DCC70; border:1px solid #2DCC70; color:#FFF; }
.arrow-top {	display: block;
				height: 0;
				right: -7px;
				position: absolute;
				bottom: 0px;
				width: 0;
				left: 40px;
				border:7px solid #fff; 
				border-color: transparent transparent #fff transparent ;
			}



/*条件筛选*/
#filter{ font-size:14px; }
#filter dl{ margin-top: 8px; margin-bottom: 8px; }
#filter .dl-horizontal dt  {width: 90px;}  
#filter .dl-horizontal dt,#filter .dl-horizontal dd  {line-height:30px}  
#filter .dl-horizontal dd  *{margin-left:5px; margin-right:5px;} 
#filter .dl-horizontal dd .btn-write{ background:#FFF; border:1px solid #E9EAED; color:#333;padding:3px 4px;}
#filter .dl-horizontal dd .btn-green{ background:#2ECC71; border:1px solid #2ECC71; color:#fff; padding:3px 5px;}
#filter .dl-horizontal dd .btn-sm{font-size:14px; min-width:110px }  
#filter .dl-horizontal dd .first{min-width:70px }  

 
.nsurance-list{ padding:0; margin-left:10px; margin-right:10px;}
.nsurance-list .btn-detail{ width:80px; height:30px; border:1px solid #FE8661; background:#FFF; color:#FE8661; border-radius:0;}
.nsurance-list .btn-detail i{ font-size:12px;}
.nsurance-list .btn-confirm{ width:80px; height:30px; border:1px solid #92A0AB; background:#FFF; color:#92A0AB; border-radius:0; position:relative; line-height: 18px;}
.nsurance-list .btn-confirm i{ font-size:16px;}
.san{
	border-left: 15px solid transparent;
    border-top: 15px solid #92A0AB;
    position: absolute;
    right: -1px;
    top: -1px;}


.nsurance-list>div{min-height:230px;}
.nsurance-list:hover{border: 1px solid #2ecc71; -webkit-box-shadow: 2px 2px 5px #2ecc71; box-shadow: 2px 2px 5px #2ecc71;}
.nsurance-list .list-end{ border-left:1px solid #ddd; background:#f0f0f0; }
.nsurance-list .list-end h3{ color:#2ecc71}
.nsurance-list .list-end a{ margin-top:50px}     
.thumbnail{ border-radius:0px;} 

@media (min-width: 768px) { 
	#filter .dl-horizontal dd  {margin-left:100px;}
}
.pagination strong{ color:#2693ff; }
.pagination .go-page{ width:50px;height: 28px;border-radius: 4px;}
.input-shadow{border: 1px solid #fff; padding-bottom:5px;}
.input-shadow:hover{border: 1px solid #2ecc71!important; padding-bottom:5px; box-shadow: 2px 2px 5px #2ecc71!important; -webkit-box-shadow: 2px 2px 5px #2ecc71!important; }

/*弹层*/
.modal-dialog .hyaline-modal{ background:rgba(255, 255, 255, 0); border: none!important; box-shadow:none!important; -webkit-box-shadow:none!important;}
.hyaline-modal  .hyaline-modal-close .icons-c-close{ background:rgba(255, 255, 255, 0); font-size:25px; color:#2ecc71;}
.hyaline-modal  h3{ background:#cdd4dc;line-height:45px; font-size:20px;}
.nsurance-modal .modal-title{ color:#34495E;}
.nsurance-modal table thead tr th{ color:#30CC72; border-bottom:none;}
.nsurance-modal table thead tr th,.nsurance-modal table tbody tr td{ vertical-align:middle;}
.nsurance-modal table tbody tr .nsurance-price{ background:#F6F7F9;}

/*保险记录*/
.nsurance-notes-check{line-height:13px;}
.nsurance-notes-check a{ color:#666; padding-top:5px; }
.nsurance-notes-check .btn-green{ padding:3px 8px; background:#2DCC70; color:#FFF;}
.nsurance-to-pay{ background:#E84C3C; color:#FFF!important; padding:2px 4px;} 
.nsurance-to-pay:hover{ color:#FFF;}

.nsurance-tanceng{ padding:15px;}
.nsurance-tanceng ul li{ height:100px; line-height:100px; border:1px solid #D6D6D6; margin-bottom:10px; padding:0 10px;}
.nsurance-tanceng ul li.active{ 
border:1px solid #2DCC70;
-webkit-box-shadow: #2DCC70 0px 0px 5px;
-moz-box-shadow: #2DCC70 0px 0px 5px;
box-shadow: #2DCC70 0px 0px 5px;}


.account-pay{ width:100%;padding:15px; position:relative;}
.account-pay .check-san{    
	width: 0;
    height: 0;
    border-bottom: 25px solid #2DCC70;
    border-left: 25px solid transparent;
    position: absolute;
    bottom: -10px;
    right: 0;
	display:none;
 	}
.account-pay .check-i{ position: absolute;bottom: -67px;right: 0;}
.account-pay .check-i i{ color:#fff;}	
.account-pay > span{ width:49%; display:inline-block; }
.account-pay span.left{ font-size:16px; color:#333;}
.account-pay span.right{ font-size:14px; color:#333;float:right;}
.account-pay span.left .icon-round{ display: inline-block; background:#FF9900; width:50px; height:50px; vertical-align:middle; text-align:center; border-radius:100%; margin-right:20px;}
.account-pay span.left .icon-round i{  font-size:35px; color:#FFF; display:block;line-height: 50px;} 
.account-pay.active .check-san{ display:block;}
 
 
.wechat-pay{ width:100%;padding:15px; position:relative;}
.wechat-pay .check-san{    
	width: 0;
    height: 0;
    border-bottom: 25px solid #2DCC70;
    border-left: 25px solid transparent;
    position: absolute;
    bottom: -10px;
    right: 0;
    display: none;
	}
.wechat-pay .check-i{ 
    position: absolute;
    bottom: -67px;
    right: 0;
	}	
.wechat-pay .check-i i{ color:#fff;}	
.wechat-pay > span{ width:49%; display:inline-block; }
.wechat-pay span.left{ font-size:16px; color:#333;}
.wechat-pay span.right{ font-size:14px; color:#333; float:right;}
.wechat-pay span.left .icon-round{ display: inline-block; background:#00C40B; width:50px; height:50px; vertical-align:middle; text-align:center; border-radius:100%; margin-right:20px;}
.wechat-pay span.left .icon-round i{ font-size:38px; color:#FFF; display:block;line-height: 55px;} 
.wechat-pay.active .check-san{ display:block;}

 


/*购买保险*/
.line-title{  font-size:15px; color:#000;  padding-left:10px; }
.line-title span.long{ display:inline-block; background:#AAAAAA; width:3px; height:15px; position: relative;bottom: -2px; border-radius: 4px; margin-right:10px;}
.line-title span.state{ font-size:14px; color:#333;}    
.statement{ background:#F8F8F8; padding:20px 15px; font-size:14px; }  
.statement p{ margin-bottom:5px;}
.statement .statement-tit{ font-size:15px; color:#000; padding-bottom: 5px;}
.statement .statement-symbol{ color:#F00; padding-right:3px;}
.statement .statement-agree{ height:30px; line-height:30px; color:#000; font-size:14px; margin-left:-10px;}
.statement .statement-agree .agree-check{ position:relative; top:3px;}
.favoree{ background:#FFFDE4; color:#A56B16; border:1px solid #EEE7A3; border-radius:5px; padding:10px; margin-top:10px;}
 
 

/*消息提示*/
.reminder{ width:300px; height:50px; background:url(../../img/backbtn.png) no-repeat; background-size: 300px 50px; }
.reminder-text{width:300px; height:30px; line-height:50px; text-align:center; font-size: 16px;}

/*活动预览*/
.bg-title{ background:url(../../img/bg_title.png); height: 38px;line-height: 38px;padding-left: 25px;color:#FFF; font-size: 16px;}


/*自定义菜单 20160614 p*/
 
#set-menu ul{ margin:0; padding:0;}
#set-menu ul li{ list-style:none;}
#set-menu{ background:url(../../img/custom_menu.png) no-repeat; background-size:100% 100%; width:300px; height:560px; margin:0 auto; text-align:center; position:relative;}
.club-name{ color:#fff; font-size:14px; text-align:center; padding-top:100px;}
.menu-box .border-color a.active {border: 1px solid rgb(45, 204, 112);}

/*左侧*/
  
.set-menu-box{ margin:0 20px 0 28px; font-size:12px;}
.set-menu-box ul{ width:81px;height:40px; margin:0; float:left;}
.set-menu-box ul li{ width:81px; height:39px;}
.set-menu-box ul li div{ line-height:38px; margin:0 2px; border:1px #ccc solid; display:none;}
.set-menu-box ul li div:hover{ background:#efefef;} 
 
/*一级菜单*/
.menu-box{ width:240px; display:table;font-size:12px;height:30px; position:absolute; bottom:76px; left:30px; background:#FBFBFB;}
.menu-box .border-color{ width:1%;display: table-cell; text-align:center;height:32px; line-height:30px; border:1px solid #F1F1F3;}
.menu-box .border-color a{font-size:12px; color:#414142; height:32px;line-height:32px; display:block;}
 
.menu-box .menu-box-first{width:100%;text-align:center;height:32px; line-height:30px; border:1px solid #F1F1F3;font-size:12px;}
.menu-box .menu-box-first a{color:#414142;}

.menu-box ul li{ position:relative;}
.menu-box ul li ul .set-menu-1,
.menu-box ul li ul .set-menu-2,
.menu-box ul li ul .set-menu-3{ width:100%; position:absolute; bottom:34px; left:0; border:1px solid #CCC; font-size:12px; cursor:pointer;}

.menu-box ul li ul .menu-child-1,
.menu-box ul li ul .menu-child-2,
.menu-box ul li ul .menu-child-3{ width:100%; position:absolute; bottom:68px; left:0; border:1px solid #CCC;font-size:12px;}

.sec-ul .menu-child-1 > li,
.sec-ul .menu-child-2 > li,
.sec-ul .menu-child-3 > li{ border:1px solid #efefef; }

.set-menu-child{ cursor:pointer;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.set-menu-child:hover{ background:#efefef;}
 
/*选中的颜色*/
.sec-ul .menu-child-1 > li.active,
.sec-ul .menu-child-2 > li.active,
.sec-ul .menu-child-3 > li.active{ border:1px solid #2DCC70;color:#2DCC70;}
.set-menu-1.active,
.set-menu-2.active,
.set-menu-3.active{ background:#efefef;} 



/*右侧*/
.menu-edit-box{ background:#F4F5F9; border:1px solid #E8E8E8; margin-top:50px; min-height:500px;}
.menu-edit-box .menu-top-tit{ border-bottom:1px solid #EBECED;height: 50px; line-height: 50px; font-size:16px; font-weight:500; }
.menu-edit-box .menu-top-tit i{ font-size:18px;}
.menu-edit-2nd-box{ background:#F4F5F9; border:1px solid #E8E8E8; margin-top:50px; min-height:500px;}
.menu-edit-2nd-box .menu-top-tit{ border-bottom:1px solid #EBECED;height: 50px; line-height: 50px; font-size:16px; font-weight:500; }
.menu-edit-2nd-box .menu-top-tit i{ font-size:18px;}
.control-title{width:100px; height:30px; line-height:30px;font-size:14px; font-weight:500;}
.chaining{width:100%; height:194px; background:#FFF; border:1px solid #CACACA;}
.menu-tab > span a{ color:#414142; font-size:13px;}
.menu-tab > span a:hover{ color:#414142;}

 
 
  
 
 
/*添加 搜索部分*/ 
.jn-form-box .control-label{ float:left; text-align:center; }


/*订单详情 报名信息*/
.order-detail-title{ font-size:15px; height:40px; line-height:40px; padding:0 15px; color:#000; }
.order-detail-title.bottom_line{ border-bottom:1px solid #CCC; margin-bottom:20px;}
.order-detail-title .title-left-line{ display:inline-block; height:13px; width:5px; background:#AAAAAA; border-radius:20px;}
.btn-green-line .btn-default{ background:#FFF; color:#2DCC70; border:1px solid #2DCC70; min-width:130px;}

/*活动预览*/                                  
/*.pay-type > ul{ margin-left:-40px; background:#090;}
.pay-type > ul > li{ margin-bottom:5px;}
.pay-type ul li{ list-style:none;}*/
 
.preview-event-box.tab-wrapper>.nav-tabs>li>a{ font-size:15px; font-weight:500; background:#fff; color:#000; border:none;border-bottom:2px solid #fff;}
.preview-event-box.tab-wrapper>.nav-tabs>li.active>a{ color:#2DCC70; background:#fff; border:none; border-bottom:3px solid #2DCC70;} 
.preview-event-box.tab-wrapper .tab-content{ border:none; border-bottom:1px solid #DDDDDD;}

                                            
/*没有数据以及错误页面*/
.no-404{background-image:url(../../img/404--500.png);position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-position: 50% 50%;background-size: cover;}
.no-date{background-image:url(../../img/no-date.png);position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-position: 50% 50%;background-size: cover;}
.no-authority{background-image:url(../../img/no-authority.png);position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-position: 50% 50%;background-size: cover;}


/*新增排期 增加移除按钮*/
.remove_collection_place{  background:#BDC3C7; color:#FFF; padding:7px 8px;line-height:37px; border-radius:3px;cursor: pointer;} 
.add_collection_place{  background:#2ECC71; color:#FFF; padding:7px 8px;line-height:37px; border-radius:3px;cursor: pointer;}

/*排期列表*/
.event-mess-box{ padding:0 0 15px 10px;}
.schedule-event-title{ font-size:18px; color:#000; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.schedule-event-address{ font-size:14px; color:#6F6F6F;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}


                    
 /*删除 自定义标签*/
.tag-custom{ display:inline-block; border:1px solid #E8E8E8; padding:0 17px; width:auto; height:35px; padding-left:25px;  margin-top:3px !important; margin-right:3px !important; position:relative;}
.tag-custom i{ cursor: pointer; font-size:17px; position:absolute; top:6px; right:3px; color:#AFAFAF;}
.tag-custom i:hover{ color:#f00;} 
    


/*消息提醒弹层*/
.mymodal-con .modal-dialog.modal-sm{width: 420px;}
.mymodal-title{width: 100%; background: #DFDFDF;height: 38px;padding: 10px;color: #000;font-weight: bold;}
.mymodal-info{color: #000; font-weight: bold;text-align: center;padding: 30px 10px 30px 10px;background: #fff;font-size: 18px;}
.mymodal-info .mybtn-cancel{padding: 5px 40px;background: #fff;border: 1px solid #2ECC71;border-radius: 3px;color: #2ECC71;margin-right: 30px;}
.mymodal-info .mybtn-confirm{padding: 5px 40px;background: #2ECC71;border: 1px solid #2ECC71;border-radius: 3px;color: #fff;}

/*账户管理*/

.table-account{}
.table-account .table tbody tr th{ border-left:5px solid #4D5F83; text-align:center; vertical-align:middle; color:#000; font-weight:300; width:100px;}
.table-account .table tbody tr th p i{ font-size:30px; color:#4D5F83;}
.table-account .table tbody tr td{ vertical-align:middle;}
.table-account .table tbody tr td .bank-box{ float:left; width:43%; height:160px; padding:8px; border-radius:4px; border:1px solid #D8D8D8; margin:10px 0 10px 30px;}
.table-account .table tbody tr td .bank-box .bank-box-tent{ background:#C75056; width:100%; height:100%;border-radius:4px; color:#FFF; padding:10px;}
.table-account .table tbody tr td .bank-box .bank-box-tent .bank-name{ border-bottom:2px solid #D9878B; height:40px; line-height:30px; clear:both;}
.table-account .table tbody tr td .bank-box .bank-box-tent .bank-num{ height:50px; line-height:50px; clear:both;}
.table-account .table tbody tr td .bank-box .bank-box-tent .bank-club-name{ clear:both;}
.table-account .table tbody tr td .bank-box .bank-box-tent .bank-club-name a,
.table-account .table tbody tr td .bank-box .bank-box-tent .bank-num a{ color:#FFF;cursor:pointer}

.table-account .table tbody tr td .zhifubao-box{float:left; width:43%; height:150px; padding:8px; border-radius:4px; border:1px solid #D8D8D8; margin:10px 0 10px 30px;}
.table-account .table tbody tr td .zhifubao-box .zhifubao-content{background:#01AAEF; width:100%; height:100%;border-radius:4px; color:#FFF; padding:10px; clear:both;}
.table-account .table tbody tr td .zhifubao-box .zhifubao-content .icon{float:left; width:80px; height:100%; color:#01AAEF; line-height:110px; }
.table-account .table tbody tr td .zhifubao-box .zhifubao-content .icon .icon-round{ display:inline-block; background:#FFF; width:50px; height:50px; border-radius:100%; text-align:center; line-height:50px;}
.table-account .table tbody tr td .zhifubao-box .zhifubao-content .icon .icon-round i{ font-size:24px; }
.table-account .table tbody tr td .zhifubao-box .zhifubao-content .text{ float:left; margin-top:20px;  width:calc(100% - 80px);}
.table-account .table tbody tr td .zhifubao-box .zhifubao-content .text .zhifubao-num{clear:both; line-height:35px;  }
.table-account .table tbody tr td .zhifubao-box .zhifubao-content .text .zhifubao-name{clear:both;line-height:35px;  }
.table-account .table tbody tr td .zhifubao-box .zhifubao-content .text .zhifubao-num a,
.table-account .table tbody tr td .zhifubao-box .zhifubao-content .text .zhifubao-name a{ color:#FFF; cursor:pointer;}

/*账户管理弹层按钮*/
.account-btn-box .btn{ padding:5px 30px;}
.account-btn-box .cancel-btn{ border:1px solid #2DCC70; color:#2DCC70;padding:4px 30px;}
.cancel-btn{}


/*财务管理-----申请提现*/
.account-cash-title{width: 100%;height: 42px;background: #FFFDE4;border: 1px solid #EDE69E;border-radius: 5px;margin: 10px 0px 30px 0px;padding: 12px 20px;color: #9C5D00;}
.account-form{}
.account-form .form-group > div > p{margin-top: 8px;margin-bottom: 0px;}
.account-form .form-group .mess-red{color: #FF0000;display: inline-block;padding-top: 5px;padding-left: 18px;}
.account-form .form-group .mess-grey{color: #CACACA;}

.account-form .btn-linegreen{color: #2DCC72;border: 1px solid #2DCC72;border-radius: 3px;background: #FFFFFF;padding: 7px 20px;}
.account-form .btn-green{width: 120px;color: #FFFFFF;}
.account-form .btn-linegreencel{width: 120px;color: #2DCC72;border: 1px solid #2DCC72;border-radius: 3px;background: #FFFFFF;margin-left: 20px;}
.account-btnbox{padding: 30px 10px 20px 10px;border-top: 1px solid #EEEEEE;}

.withdrawal{ font-size:16px; color:#000; height:50px; padding-bottom:10px; border-bottom:1px solid #F3F3F3; margin-bottom:12px;}
.withdrawal .price{ display:inline-block; font-size:25px; color:#F00; margin-right:10px;}
.withdrawal .withdrawal-btn{color:#2DCC70;border:1px solid #2DCC70;padding:5px 30px;}

.jn-form-box .input-width{}
.jn-form-box .search{ padding-top:6px;}
.jn-form-box .search span{display:inline-block; color:#0E8AFF; padding:2px 8px; border-radius:3px;}
.jn-form-box .search span.active{ background:#2DCC70; color:#fff; }

.state-search{ padding-top:6px; margin-left:25px;}
.state-search span{display:inline-block; color:#0E8AFF; padding:2px 8px; border-radius:3px;}
.state-search span.active{ background:#2DCC70; color:#fff; }



/*板块管理-----活动管理*/
.event-searchbtn{color: #FFFFFF!important;padding: 5px 15px;}
.event-searchbtn i{font-size: 18px;padding-right: 5px;}
.event-greyblack{padding: 0px 10px 1px 10px; background: #F7F7F7;}
.event-greyblack .event-greyblack-line{border-bottom: 1px dashed #E1E1E1;padding: 8px 25px 0px 25px;}
.event-greyblack .event-greyblack-line:last-child{border-bottom: none;}
.event-greyblack .form-group .checkbox-inline{line-height: 24px;}
.event-greyblack .form-group .checkbox-inline input{margin-top: 5px;}

/*活动新增 图片上传*/
.cover-pic{ }
.cover-pic .event-upload{ float:left; margin-right:10px; margin-bottom:10px; }
.event-upload{ width:200px; height:112px; line-height:112px;border:1px solid #ccc;text-align:center;position:relative; }
.event-upload .default-pic{ vertical-align:top; width:200px; height:110px;}
.event-upload.do{ border:1px dashed #ccc; background: none; }
.event-upload.do i{ font-size:45px; color:#999;cursor: pointer;}
.event-upload .event-upload-back{ width:200px; height:112px; position:absolute; top:0px; left:0px;background:rgba(0,0,0,0.5); color:#FFF; z-index:2; display: none; }
.event-upload:hover .event-upload-back{display:block;}
.event-upload .col-md-6{ height:112px; padding: 0;}
.event-upload .event-upload-back .col-md-6 > div{  cursor:pointer; position: relative; }
.event-upload .event-upload-back .col-md-6 > div .do-upload{position: absolute; top: 0px; left: 15px;filter:alpha(opacity=0); -moz-opacity:0; opacity:0; width: 60px;height: 100px;cursor: pointer;font-size: 0px;}

/*资质标签*/

.zizhi { padding-top: 8px;}
.zizhi .title{min-height:50px;}
.zizhi span{ float: left; }
.zizhi > span > label{padding-top: 0px!important; font-weight: 300; color: #5D5F63;}
.zizhi > span > .checkbox{ width: auto;padding-right: 20px;}
/*营业期限*/
.qixian > label{padding-top: 2px!important; font-weight: 300; color: #5D5F63;}
.qixian > label > .checkbox{ width: auto;padding-right: 20px; }


/*账户预览*/
.pingtai{}
.pingtai > div{ background: #ffffff; height: 80px; padding: 10px; border-right: 15px solid #F1F2F7;border-left: 15px solid #F1F2F7; }
.pingtai > div .pingtai-money{ font-size: 20px; font-weight: 500;}
.pingtai > div .pingtai-money a{ color: #0099FF; cursor: pointer; font-size: 14px; padding-left: 15px;}
.pingtai .back-green{ background: #00CC00; color: #ffffff;}
.pingtai .back-blue{ background: #0099FF; color: #ffffff;}
.btn-success{background: #2693ff !important;border-color: #2693ff !important;}
.btn-success:hover{background: #2693ff !important;border-color: #2693ff !important;}
input[readonly=readonly]{background-color:#FFFFFF !important;}