/*俱牛运营后台统计表---数据详情--切换样式*/
.ngCloak{display:none;}
.count-change{}
.count-change>li:hover>a{color: #fff; background: #2FCC72;}
.count-change>li.active>a{color: #fff; background: #2FCC72;}
.count-change>li>a{ border: 1px solid #2FCC72; color: #2fcc72; padding: 4px 35px;border-radius: 3px;}
.chart-info1{color: #9BBB59;font-weight: bold;}
.chart-info2{color: #BF4D4A;font-weight: bold;}
.chart-info3{color: #4F81BD;font-weight: bold;}
 .pagenum{margin-right:3px;}

 /*日期组件样式*/
.uib-datepicker-popup{background-color:#fff;}
.uib-datepicker .btn-default{background-color:#fff;color:#333;}
.uib-datepicker .uib-day .btn-default{background-color:#fff;border:none;color:#333;}
.uib-datepicker .uib-day .btn-default:hover{background-color:#bdc3c7;border-color:#bdc3c7;}
.uib-datepicker .uib-day .btn-default[disabled]{background-color:#fff;border-color:none;}
.uib-datepicker :focus { outline: none; }

.search-table td{padding:0 8px;}
.commoncount{}
.commoncount li{float:left;width:25%;height:140px;padding:5px;box-sizing:border-box;min-width:230px;}
.commoncount li .txt{width:100%;height:130px;background-color:#fff;border-radius:3px;padding:8px;box-sizing:border-box;}
.commoncount li .txt p{text-align:center;}
.commoncount li .txt h3{text-align:center;color:#FE8662;}