html,body{
  margin: 0;
  padding: 0;
  /*height: 100%;*/
}
html {
  font-size: 10px;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: PingFang-SC-Medium, SimHei, Helvetica, sans-serif;
}
body {
  font-family: PingFang-SC-Medium, SimHei, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #222;
  background: #fff;
  /*height:auto;*/
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  color: #222;
}

ol,
ul {
  list-style: none;
}

fieldset,
img {
  border: none
}

input {
  font-family: "微软雅黑", SimHei, Helvetica, sans-serif;
  font-size: 0.32rem;
  color: #222;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
select {
  -webkit-appearance: none;
  outline: none
}

a {
  font-size: 0.3rem;
  color: #222;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ins,
a,
a:hover {
  text-decoration: none;
}

a:focus,
*:focus {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

#app {
  font-size: 1.5rem;
}
.wrapper{
  padding: 0;
  background-color: #fff;
  position: relative;
}

/*input*/
.mint-field-core{
  text-indent: 1.0rem;
}

/*tab*/
.mint-navbar{
  height: 5rem;
  align-items: center;
  border-bottom: 0.02rem solid #dddddd;
}
.mint-navbar .mint-tab-item-label{
  font-size: 1.4rem;
}
/*******弹出框********/
.popWrapper{
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin:auto;
  z-index: 1000;
}
.pop{
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin:auto;
  background:#ffffff;
  border-radius:0.4rem;
}
/*去掉默认的Border*/
.mint-cell-wrapper{
  background-image: linear-gradient(180deg, #ffffff, #ffffff 50%, transparent 50%);
  background-size: 120% 0;
}
.mint-cell{
  min-height: 4.9rem;
}
/*确认按钮颜色修改*/
.mint-msgbox-confirm{
  color: #ff6f11;
}
.picker-toolbar{
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  border-bottom: 0.02rem solid #ddd;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.mint-button{
  border-radius: 0;
}
