.login-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
}
.header-img{
  display: flex;
  justify-content: space-around;
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  text-align: center;
}
.header-img img{
  display: inline-block;
  width: 7rem;
  height:7rem;
}
.login-wrapper .mint-cell{
  border-top: none;
  min-height: 60px;
  line-height: 60px;
}
.login-wrapper .inputUser input{
  font-size: 0.64rem;
}
.loginInfoWrapper{
  margin-bottom: 1rem;
}
.buttonWrapper{
  display: flex;
}
.buttonWrapper div{
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  justify-content: space-around;
  background: url("/img/20181031180423.png") no-repeat center 50%;
  background-size:90%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-top: 1rem;

}
.errorMsgWrapper{
  font-size: 1.4rem;
  color: #f01111;
  margin-top: 1rem;
  margin-left: 2rem;
}



/*****用户信息页面******/
.userInfoWrapper{
  background-color: #fff;
  padding-top: 1rem;
}
.userInfoWrapper p{
  height: 5.4rem;
  line-height: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 1.5rem;
  border-bottom: 0.02rem solid #dddddd;
}
.userInfoWrapper p>span:first-child{
  color: #333333;
}
.userInfoWrapper p>span:last-child{
  color: #666666;
}
.userInfoWrapper p:last-child{
  border-bottom: none;

}
.userInfoWrapper p img{
  width: 3.5rem;
  height: 3.5rem;
  vertical-align: middle;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}
.loginOutBtn{
  margin-top: 4rem;
}
.companyPop{
  height: 20rem;
}
.companyPop .radioPop{
  height: 15rem;
  overflow: auto;
}
.companyPop .buttonPop{
  height:5rem;
  line-height: 5rem;
  text-align: center;
  vertical-align: middle;
  font-size:1.8rem;
  color:#ff6f11;
  border-top: 0.01rem solid #e5e5e5;
}
.inputUser{
  border-bottom: 0.02rem solid #dddddd;
}
.inputUser:last-of-type{
  border-bottom: none;
}


/*弹框*/
.mint-popup{
  width: 80%;
  position: relative;
  top: 0;
  transform: translate3d(-50%, -100%, 0);
  border-radius: 0.5rem;
}
.picker-sureBtn{
  position: absolute;
  float: right;
  border: none;
  background-color: transparent;
  box-shadow: none;
  right: 0;
  top: 0;
}
