/******订单列表*****/
.headerWrapper{
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 10rem;
  line-height: 10rem;
  background: url("/img/20181031180432.png") no-repeat;
  background-size: 100%;
  vertical-align: top;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.engineer_info img{
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding-right: 4%;
}
.engineer_info{
  line-height: 0.44rem;
  font-size: 0.26rem;
  color: #fff;
  display: flex;
  align-items: center;
}
.engineer_info>div:first-of-type{
  width: 6rem;
  height: 6rem;
  padding-right: 4%;
  margin-left: 1.5rem;
  text-align: center;
}

.engineer_info p:first-of-type {
  font-size: 1.6rem;
  padding-bottom: 0.06rem;
  font-weight: bold;
}
.engineer_info p:last-of-type{
  margin-top: 1.7rem;
  font-size: 1.4rem;
}
.arrow_img{
  width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow_img img{
  display: inline-block;
  width: 0.8rem;
  height: 1.3rem;
}
.orderWrapper{
  overflow: auto;
}
.orderWrapper .mint-navbar .mint-tab-item{
  color:#666666;
  font-size: 1.4rem;
  /*padding: 1rem 0;*/
}
.orderWrapper .mint-navbar .mint-tab-item.is-selected{
  border-bottom-color: #ff6f11;
  color: #ff6f11;
  font-size: 1.4rem;
  font-family:PingFangSC-Regular;
  margin-bottom: 0;
}
.orderListWrapper .mint-navbar.is-fixed{
  top: 9.6rem;
}
.orderListWrapper .mint-tab-container-item{
  margin-top: 14.6rem;
  width: 100%;
  overflow: hidden;
}
.orderListUl{
  margin-top: 1rem;
  background-color: #ffffff;
  position: relative;
}
.orderListUl>p{
  height: 4.5rem;
  border-bottom: 0.02rem solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 1.5rem;
}
.orderListUl>p:last-child{
  padding-bottom: 0.5rem;
}
.orderListUl>p span:first-of-type{
  font-size:1.7rem;
  color:#333;
  font-weight: 600;
}
.orderDetailUl>p span:first-of-type{
  font-size: 1.5rem;
}
.orderListUl>p span:last-of-type{
  font-size: 1.4rem;
  color:#ff6f11;
}
.orderListUl>div{
  background-color: #ffffff;
  padding-left: 1rem;
}
.orderListUl>div span:first-of-type{
  display: inline-block;
  width: 22%;
  color: #666666;
  text-indent: 0.4rem;
}
.orderListUl>div span:last-of-type{
  display: inline-block;
  width: 78%;
  color: #666666;
}
.orderListUl>div p:first-of-type{
  padding-top: 1.3rem;
}
.orderListUl>div p{
  padding: 0.2rem 0;
  display: flex;
}
/*.orderListUl>div p:first-child{*/
  /*color: #333;*/
  /*font-size:1.4rem;*/
  /*padding-top: 1rem;*/
/*}*/
.orderListUl>div p,.orderDetailUl>div p{
  color: #666;
  font-size: 1.4rem;
}
.orderListUl>div p:last-child{
  padding-bottom: 1.3rem;
  margin-bottom: 1rem;
}
.basicInfoUl>div p:last-child{
  margin-bottom: 0;
  padding-bottom:0;
}
.orderDetailUl>div p{
  padding: 0.5rem 0;
}
.orderDetailUl img{
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}
.orderDetailUl>div span:first-of-type{
  display: inline-block;
  width: 22%;
  color: #666666;
}
.orderDetailUl>div span:last-of-type{
  display: inline-block;
  width: 75%;
  color: #444;
}
/*订单详情  产品详情*/
#payee{
  padding: 0.5rem 0;
  min-height: 20rem;
}
#payee>div{
  background-color: #ffffff;
  color: #666666;
  font-size: 1.4rem;
}
#payee>div.left{
  background-color: #ffffff;
  float: left;
  width: 20%;
  text-indent: 1rem;
}
/*#payee>div.left:not(:first-of-type){*/
  /*border: 1px solid;*/
/*}*/
#payee .right{
  background-color: #ffffff;
  float: left;
  width:100%;
  display: flex;
  justify-content: space-around;
  flex: 1 auto;
}
#payee .rightWidth100{
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#payee .rightWidth100 img{
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
#payee .rightWidth100:last-of-type{
  width: 100%;
  padding-bottom: 1rem;
}
/*#payee .rightWidth100>div:first-child{*/
  /*padding-left: 20%;*/
/*}*/
#payee .right>div:first-child{
  width: 20%;
  color: #666;
}
#payee .right>div:last-child{
  width: 70%;
  color: #333;
}

/****订单详情订单状态****/
.orderListUl>div .orderStatus p:first-child{
  padding-top: 0;
  font-size:1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.orderStateProgress{
  padding: 1rem 0;
}
.orderStatus{
  display: flex;
  align-items: start;
  position: relative;
  overflow: hidden;
}
.orderStatus>p:first-child{
  width: 13%;
  margin-right: 3%;
}
.orderStatus i{
  width: 100%;
  font-style: normal;
  text-align: right;
}
.orderStatus i:first-of-type{
  font-size: 1.6rem;
}
.orderStatus>div.progress{
  width: 7%;
  text-align: center;
}
.orderStatus p.circle{
  height: 2.4rem;
  width: 2.4rem;
  text-align: center;
}
.orderStatus p.circleActive{
  height: 1.3rem;
  width: 1.3rem;
  text-align: center;
  background: url("../images/flagpoint@1x.png") no-repeat center;
  background-position: center bottom;
  background-size: 100% auto;
}
.orderStatus p.circleGary{
  height: 1.3rem;
  width: 1.3rem;
  background: url("../images/flagpointgraay@1x.png") no-repeat center;
  background-position: center bottom;
  background-size: 100% auto;
}
.orderStatus p.bottom{
  width: 100%;
  height: 8.5rem;
  background: url('../images/flagshu@1x.png') .55rem 0 repeat-y;
  background-size: 0.15rem;
}
.orderStatus>p:last-child{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.orderStatus>p:last-child span{
  padding-top: .5rem;
  width: 100%;
  padding-right: .5rem;
  font-size: 1.5rem;
}
.orderListUl>div p.bottom{
  padding-bottom: 0;
  margin-bottom: 0;
}
.borderBottomClass{
  width: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0.1rem;
  background-color: #dddddd;
}
