.us-adv-search-mouse {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../image/mouse-click.svg") no-repeat;
}

.us-file-text {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../image/file-text.svg") no-repeat;
}

.us-file-music {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../image/file-music.svg") no-repeat;
}

.us-file-video {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../image/file-video.svg") no-repeat;
}

.us-file-img {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../image/file-img.svg") no-repeat;
}

.us-file-add {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../image/add.svg") no-repeat;
}

.us-file-default {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../image/file-default.svg") no-repeat;
}
