.us-default-text {
    height: 32px;
    line-height: 32px;
}

.us-hr {
    margin: 0 0 6px 0;
    border-bottom: 1px solid #eeeeee;

}

.us-footer-button {
    text-align: center;
    padding-top: 14px;
}
