body,div,ul,li,p,h1,h2,h3,h4,h5{margin:0;padding: 0;font-size: 14px;font-family: "微软雅黑"}
    ul{
        list-style-type: none;
    }
    .span-right999{font-size: 12px;color: #999;margin-left: 15px;}
    label>p{padding-right: 40px;}
    .assign-search-list{display: inline-block;width: 200px;position: relative;height: 34px;margin-top: 20px;margin-left: 30px}
    .assign-search-box{height: 79px;background:#fff;border-bottom: 1px solid #e8e8e8;}
    .assign-box{position: relative;height: calc(100% - 100px);padding-top: 20px;background: #fff;overflow: hidden;}
    .technician-box{/*width: 408px;*/width: 21%;min-width: 300px;height: 100%;position:absolute;left: 0;top: 20px;z-index: 161;background: #fff;border-right:1px solid #ccc;}
    .assign-title{border-bottom: 1px solid #e8e8e8;height: 50px;background: #fff;}
    .assign-title>a{display: inline-block;width: 35%;text-align: center;height: 50px;line-height: 50px;color: #333;}
    .assign-content{height: calc(100% - 160px);overflow: auto;}
    .assign-content::-webkit-scrollbar{width: 6px;}
    .assign-content::-webkit-scrollbar-thumb{background: #e8e8e8;border-radius: 10px}
    .technician-left-list li,.technician-right-list li{position: relative;padding:10px 15px 10px 35px;border-bottom: 1px solid #e8e8e8;min-height: 61px;}
    .see-position{position: absolute;right: 10px;top: 20px;display: none}
    .technician-left-list li:hover,.technician-right-list li:hover{background: #f5f5f5;}
     .technician-left-list li:hover .see-position,.technician-right-list li:hover .see-position{display: block;}
    }
    .technician-right-list{display: none;}
    .checkbox-btn{position: absolute;left: 10px;top: 7px;}
    .assign-btn{padding-top: 50px;text-align: center;}
    .amap-info-close{display: none;}
    .amap-marker-label,.amap-marker-content,.amap-info-content{width: 76px;height: auto;text-align: center;border:1px solid #e8e8e8;font-size: 12px;padding:10px 5px;box-shadow: 0 0 10px rgba(0,0,0,0.19);background: #fff}
    .amap-marker-content,.amap-info-content{background: #2693ff;top: -40px;left: -20px;}
    .amap-info-sharp{display: none}
    .amap-marker-label:after,.amap-marker-content:after,.amap-info-content:after{content: "";display: inline-block;width:10px;height: 10px;background: #fff;transform: rotate(45deg);position: absolute;bottom: -6px;left: 45%;border: 1px solid #ccc;border-color: transparent #ccc #ccc transparent;}
    .amap-marker-content:after,.amap-info-content:after{background: #2693ff;bottom: -4px;}
    .elect-a{
        display: inline-block;
        height: 44px;
        line-height: 44px;
        border-top: 3px solid #2693ff;
        background: #fff;border-right: 1px solid #e8e8e8;;border-left: 1px solid #e8e8e8;
    }
    /*技术位置弹窗*/
    .Professional-engineer-position{
        width: 250px;
        overflow: hidden;
    }
    .Professional-engineer-position>ul>li{
        margin-top: 10px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .immediately{
        display: block;
        /*margin-top: 20px;*/
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #2693ff;
        border-radius: 5px;
        color: #fff;
    }
    .jl-li4>p:nth-child(2){
        float: right;
    }
    .jl-li4>p{
        display: inline-block;
    }


    /*弹框样式*/
    .pop-up-boss{
        display: none;
    }
    .pop-up{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    display: table;
    
    }
    .prompt-box{
        position: relative;
        width: 100%;
        text-align: center;
        font-size: .2rem;
        display: table-cell;
        vertical-align: middle;
    }
    .prompt-box-ctn{
        width:274px;height: 160px;background: #fff;display: inline-block;
        border-radius: 5px;
    }
    .prompt-box-nr{
        font-size: 14px;
        margin-top: 20px;
    }
     
    .success-order-p{
        font-size: 14px;
        padding: 20px;
        margin-top: 0;
    }
    .biaoti1{
        font-size: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; 
        height: 40px;
        background: #f8f8f8;
        line-height: 40px;
    }
    .xinxi1{
        font-size: 14px;
        padding: 10px 0;
    }
    .tj-a{
        display: inline-block;
        padding: .1rem .6rem;
        background: #2693ff;
        border-radius: 5px;
        color: #fff;
    }
    .ok-btn{
        margin-top: .35rem;
    }
    .div1{
        /*height: 50%;*/
        width: 100%;
        /*overflow: hidden;*/
    }
    .notRange{background: #ccc}
    .sidebar{z-index: 999}
    .shrink,.spread{
        width: 22px;height: 70px;
        background: url('../images/shouhui.png');
        /*background: red;*/
        position: absolute;
    }
    .shrink{
        display: none;
        top: calc(45% - 50px);
        right: -23px;
    }
    .spread{
        top: 200px;
        left: 15px;
    }
    .pop-up-boss{
        /*display: block;*/
        position: relative;
        z-index: 222;
    }
    .up-content{
        width: 273px;background: #fff;display: inline-block;
        padding-bottom: 20px;
    }
    .orange-a{
        display: inline-block;
        padding: 5px 20px;border-radius: 5px;
        background: #2693ff;color: #fff;text-decoration: none;
    }
    .up-content-title{
        width: 100%;background: #f8f8f8; padding: 10px 0;font-size: 16px;
    }
    .up-content-nr{
        padding: 22px;
    }
    .rangeOfReceivingRange{display: none;}
    input[type="checkbox"]:checked + label::before{top: 0;left: 0;}
    .gou-i{top: -4px;left: 3;}
    .kh-content{color:#333;width:300px;background:#fff;font-size: 12px;position: relative;font-family: "Microsoft YaHei";box-shadow: 0 0 10px rgba(0,0,0,0.19);padding:10px;position: relative;}
    .kh-content>p{margin:5px 0;line-height: 1.5;}
    .kh-content:after{content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    bottom: -6px;
    left: 51%;
    border: 1px solid #ccc;
    border-color: transparent #ccc #ccc transparent;}
     .kh-content>.kh-cimg{width: 40px;height: 40px;border-radius: 50%;position: absolute;right: 30px;top: 10px;}
     /*图标样式*/
     @font-face {
        font-family: 'icomoon';
        src:  url('svgFonts/icomoon.eot?b1vqfn');
        src:  url('svgFonts/icomoon.eot?b1vqfn#iefix') format('embedded-opentype'),
        url('svgFonts/icomoon.ttf?b1vqfn') format('truetype'),
        url('svgFonts/icomoon.woff?b1vqfn') format('woff'),
        url('svgFonts/icomoon.svg?b1vqfn#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    [class^="icon-"], [class*="icon1-"] {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon';
      /*font-family: 'icomoon' !important;*/
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .icon1-cha:before {
      content: "\e900";
      color: #bfbfbf;font-size: 14px;
      position: absolute;right: 5px;top: 5px;
    }
    .icon1-gou:before {
      content: "\e901";
      color: #cdcdcd;
    }
    .layui-layer-page>.layui-layer-title{font-family:"微软雅黑"}
