/**
 * 基础样式
 * @author      fbf
 * @date        2018/04/20
 * ---------------------------------------- */
*, :after, :before {
    -webkit-font-smoothing: antialiased; /*字体抗锯齿*/
    -moz-osx-font-smoothing: grayscale; /*字体抗锯齿*/
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%; /*关闭iphone和安卓切换横屏自动调节字体大小*/
    -ms-text-size-adjust: 100%;
    line-height: 1.15;
    /* 针对于ios，设置当点击一个连接或者通过javascript定义的可点击元素时出现的背景 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 10px
}

body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

body:hover, button:hover, code:hover, dd:hover, div:hover, dl:hover, dt:hover, fieldset:hover, figcaption:hover, figure:hover, footer:hover, form:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, header:hover, hgroup:hover, hr:hover, input:hover, legend:hover, li:hover, menu:hover, nav:hover, ol:hover, p:hover, pre:hover, section:hover, td:hover, textarea:hover, th:hover, ul:hover {
    outline: none
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    list-style: none;
    background:#f1f2f7;

}

body, html {
    height: 100%;
    width: 100%
}

[hidden], template {
    display: none
}

img {
    border: 0;
    vertical-align: middle
}

a {
    color: #1890ff;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s
}

a:focus, a:hover {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink
}

a:hover {
    color: #40a9ff
}

a:active {
    color: #096dd9;
    outline: 0;
    text-decoration: none
}

a.a-disabled, a[disabled] {
    color: rgba(0, 0, 0, .25);
    cursor: not-allowed;
    pointer-events: none
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit
}

.h1, h1 {
    font-size: 36px
}

.h2, h2 {
    font-size: 30px
}

.h3, h3 {
    font-size: 24px
}

.h4, h4 {
    font-size: 18px
}

.h5, h5 {
    font-size: 14px
}

.h6, h6 {
    font-size: 12px
}

label {
    max-width: 100%;
    cursor: default;
    font-size: 14px;
    color: rgba(0, 0, 0, .85);
    font-weight: 400;
    margin: 0;
}

p {
    /*长单词或者URL地址内部进行换行*/
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

li {
    display: list-item;
    text-align: -webkit-match-parent
}

.ul, .ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    zoom: 1;
    *zoom: 1
}

.ul:after, .ul:before, .ul li:after, .ul li:before {
    display: table;
    content: " ";
    height: 0
}

.ul:after, .ul li:after {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden
}

span.span {
    display: inline-block;
    vertical-align: middle
}

b, strong {
    font-weight: 700
}

small {
    font-size: 80%
}

hr {
    height: 0;
    box-sizing: content-box
}

table {
    clear: both;
    border-spacing: 0;
    border-collapse: collapse
}

td, th {
    padding: 0;
    font-size: 12px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    margin: 0;
    padding: 0;
    color: inherit
    border:1px solid #ddd;
    border:1px solid #ddd;
    border-radius: 2px;
    padding: 0 5px;
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    /*使元素看上去像个按钮*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

/* firefox私有伪类，消除虚线 */
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal;
   
}

textarea {
    overflow: auto;
    -webkit-appearance: none
}

optgroup {
    font-weight: 700
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f5f5f5
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(72, 72, 72, .19);
    border-radius: 4px;
    background-color: #f5f5f5
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 69%, .3);
    background-color: #bcbcbc
}

/* 垂直居中 */
.vertical-middle {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-middle {
    vertical-align: middle
}

.hr {
    border: 1px solid #d6d6d6;
    border-top: none;
    margin: 8px 0
}

/*-------------------------------------------------------------------------------------------
 * 栅格布局
 *-------------------------------------------------------------------------------------------*/
.row {
    display: block;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    *zoom: 1
}

.row:after, .row:before {
    display: table;
    content: " ";
    height: 0
}

.row:after {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden
}

.row .col {
    margin-top: 8px;
    margin-bottom: 8px
}

.col {
    text-align: center;
    border-radius: 0;
    min-height: 30px;
    position: relative;
    display: block
}

.col-0 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: none
}

.col-push-0 {
    left: auto
}

.col-pull-0 {
    right: auto
}

.col-offset-0 {
    margin-left: 0
}

.col-order-0 {
    -ms-flex-order: 0;
    order: 0
}

.col-1 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 4.16667%
}

.col-push-1 {
    left: 4.16667%
}

.col-pull-1 {
    right: 4.16667%
}

.col-offset-1 {
    margin-left: 4.16667%
}

.col-order-1 {
    -ms-flex-order: 1;
    order: 1
}

.col-2 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%
}

.col-push-2 {
    left: 8.33333%
}

.col-pull-2 {
    right: 8.33333%
}

.col-offset-2 {
    margin-left: 8.33333%
}

.col-order-2 {
    -ms-flex-order: 2;
    order: 2
}

.col-3 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 12.5%
}

.col-push-3 {
    left: 12.5%
}

.col-pull-3 {
    right: 12.5%
}

.col-offset-3 {
    margin-left: 12.5%
}

.col-order-3 {
    -ms-flex-order: 3;
    order: 3
}

.col-4 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66667%
}

.col-push-4 {
    left: 16.66667%
}

.col-pull-4 {
    right: 16.66667%
}

.col-offset-4 {
    margin-left: 16.66667%
}

.col-order-4 {
    -ms-flex-order: 4;
    order: 4
}

.col-5 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20.83333%
}

.col-push-5 {
    left: 20.83333%
}

.col-pull-5 {
    right: 20.83333%
}

.col-offset-5 {
    margin-left: 20.83333%
}

.col-order-5 {
    -ms-flex-order: 5;
    order: 5
}

.col-6 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%
}

.col-push-6 {
    left: 25%
}

.col-pull-6 {
    right: 25%
}

.col-offset-6 {
    margin-left: 25%
}

.col-order-6 {
    -ms-flex-order: 6;
    order: 6
}

.col-7 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 29.16667%
}

.col-push-7 {
    left: 29.16667%
}

.col-pull-7 {
    right: 29.16667%
}

.col-offset-7 {
    margin-left: 29.16667%
}

.col-order-7 {
    -ms-flex-order: 7;
    order: 7
}

.col-8 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%
}

.col-push-8 {
    left: 33.33333%
}

.col-pull-8 {
    right: 33.33333%
}

.col-offset-8 {
    margin-left: 33.33333%
}

.col-order-8 {
    -ms-flex-order: 8;
    order: 8
}

.col-9 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 37.5%
}

.col-push-9 {
    left: 37.5%
}

.col-pull-9 {
    right: 37.5%
}

.col-offset-9 {
    margin-left: 37.5%
}

.col-order-9 {
    -ms-flex-order: 9;
    order: 9
}

.col-10 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%
}

.col-push-10 {
    left: 41.66667%
}

.col-pull-10 {
    right: 41.66667%
}

.col-offset-10 {
    margin-left: 41.66667%
}

.col-order-10 {
    -ms-flex-order: 10;
    order: 10
}

.col-11 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 45.83333%
}

.col-push-11 {
    left: 45.83333%
}

.col-pull-11 {
    right: 45.83333%
}

.col-offset-11 {
    margin-left: 45.83333%
}

.col-order-11 {
    -ms-flex-order: 11;
    order: 11
}

.col-12 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%
}

.col-push-12 {
    left: 50%
}

.col-pull-12 {
    right: 50%
}

.col-offset-12 {
    margin-left: 50%
}

.col-order-12 {
    -ms-flex-order: 12;
    order: 12
}

.col-13 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 54.16667%
}

.col-push-13 {
    left: 54.16667%
}

.col-pull-13 {
    right: 54.16667%
}

.col-offset-13 {
    margin-left: 54.16667%
}

.col-order-13 {
    -ms-flex-order: 13;
    order: 13
}

.col-14 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%
}

.col-push-14 {
    left: 58.33333%
}

.col-pull-14 {
    right: 58.33333%
}

.col-offset-14 {
    margin-left: 58.33333%
}

.col-order-14 {
    -ms-flex-order: 14;
    order: 14
}

.col-15 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 62.5%
}

.col-push-15 {
    left: 62.5%
}

.col-pull-15 {
    right: 62.5%
}

.col-offset-15 {
    margin-left: 62.5%
}

.col-order-15 {
    -ms-flex-order: 15;
    order: 15
}

.col-16 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%
}

.col-push-16 {
    left: 66.66667%
}

.col-pull-16 {
    right: 66.66667%
}

.col-offset-16 {
    margin-left: 66.66667%
}

.col-order-16 {
    -ms-flex-order: 16;
    order: 16
}

.col-17 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 70.83333%
}

.col-push-17 {
    left: 70.83333%
}

.col-pull-17 {
    right: 70.83333%
}

.col-offset-17 {
    margin-left: 70.83333%
}

.col-order-17 {
    -ms-flex-order: 17;
    order: 17
}

.col-18 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%
}

.col-push-18 {
    left: 75%
}

.col-pull-18 {
    right: 75%
}

.col-offset-18 {
    margin-left: 75%
}

.col-order-18 {
    -ms-flex-order: 18;
    order: 18
}

.col-19 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 79.16667%
}

.col-push-19 {
    left: 79.16667%
}

.col-pull-19 {
    right: 79.16667%
}

.col-offset-19 {
    margin-left: 79.16667%
}

.col-order-19 {
    -ms-flex-order: 19;
    order: 19
}

.col-20 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%
}

.col-push-20 {
    left: 83.33333%
}

.col-pull-20 {
    right: 83.33333%
}

.col-offset-20 {
    margin-left: 83.33333%
}

.col-order-20 {
    -ms-flex-order: 20;
    order: 20
}

.col-21 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 87.5%
}

.col-push-21 {
    left: 87.5%
}

.col-pull-21 {
    right: 87.5%
}

.col-offset-21 {
    margin-left: 87.5%
}

.col-order-21 {
    -ms-flex-order: 21;
    order: 21
}

.col-22 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%
}

.col-push-22 {
    left: 91.66667%
}

.col-pull-22 {
    right: 91.66667%
}

.col-offset-22 {
    margin-left: 91.66667%
}

.col-order-22 {
    -ms-flex-order: 22;
    order: 22
}

.col-23 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 95.83333%
}

.col-push-23 {
    left: 95.83333%
}

.col-pull-23 {
    right: 95.83333%
}

.col-offset-23 {
    margin-left: 95.83333%
}

.col-order-23 {
    -ms-flex-order: 23;
    order: 23
}

.col-24 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%
}

.col-push-24 {
    left: 100%
}

.col-pull-24 {
    right: 100%
}

.col-offset-24 {
    margin-left: 100%
}

.col-order-24 {
    -ms-flex-order: 24;
    order: 24
}

/*-------------------------------------------------------------------------------------------
 * 弹性盒子flex布局
 * 理论上不兼容IE10以下版本的浏览器
 * 可以html页面的head中添加 " <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> "
 * chrome=1 强制 IE 使用 Chrome Frame 渲染
 * Edge 模式告诉 IE 以最高级模式渲染文档
 *-------------------------------------------------------------------------------------------*/

.flex {
    display: box; /* OLD - Android 4.4- */
    display: -webkit-box; /*老版本语法：Safari, ios, android browser, older webkit browsers*/
    display: -moz-box; /*老版本语法：Firefox*/
    display: -ms-flexbox; /*混合版本语法：IE 10*/
    display: -webkit-flex; /*新版本语法：Chrome 21+*/
    display: flex; /*新版本语法：Opera 12.1, Firefox 22+*/
}

/* 从左到右 */
/* 水平从左到右布局 */
.flex-left {
    /*-webkit-box-orient: horizontal;*/
    -webkit-box-orient: block-axis;
    -webkit-box-direction: normal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

/* 水平从右到左布局 */
.flex-right {
    -webkit-box-pack: end;
    -webkit-box-direction: reverse;
    /*-webkit-box-orient: horizontal;*/
    -webkit-box-orient: block-axis;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

/* 垂直从上到下布局 */
.flex-top {
    /*-webkit-box-orient: vertical;*/
    -webkit-box-orient: inline-axis;
    -webkit-box-direction: normal;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* 垂直从下到上布局 */
.flex-bottom {
    -webkit-box-pack: end;
    -webkit-box-direction: reverse;
    -webkit-box-orient: inline-axis;
    /*-webkit-box-orient: vertical;*/
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

/* 允许换行 */
.flex-wrap {
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*子元素往主轴起始位置对齐*/
.flex-zz-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
}

/*子元素往主轴中间位置对齐*/
.flex-zz-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

/*子元素往主轴终点位置对齐*/
.flex-zz-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
}

/*主轴上的子元素两边对齐，子元素之间的间隙都相等*/
.flex-zz-between {
    -webkit-box-pack: initial;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

/*主轴上的子元素分散对齐，每个子元素两侧的间隙都一样。*/
.flex-zz-around {
    -webkit-box-pack: initial;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
}

/*子元素交叉轴起始对齐*/
.flex-jcz-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
}

/* 多轴线，与交叉轴的起点对齐 */
.flex-jcz-start-multiple {
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    -o-align-content: flex-start;
    align-content: flex-start;
}

/*子元素交叉轴中间对齐*/
.flex-jcz-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

/* 多轴线，与交叉轴的中点对齐 */
.flex-jcz-center-multiple {
    -ms-align-content: center;
    -o-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center
}

/*子元素交叉轴终点对齐*/
.flex-jcz-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
}

/* 多轴线，与交叉轴的终点对齐 */
.flex-jcz-end-multiple {
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    -ms-align-content: flex-end;
    -o-align-content: flex-end;
    align-content: flex-end;
}

/* 子元素在交叉轴上相对于第一行文字的基线对齐 */
.flex-jcz-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
}

/* 多轴线，与交叉轴的两端对齐，轴线之间的间隔平均分布 */
.flex-jcz-between-multiple {
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    -o-align-content: space-between;
    align-content: space-between;
}

/*允许子元素伸缩*/
.flex-item {
    -webkit-box-flex: 1; /*老版本语法：Safari, ios, android browser, older webkit browsers*/
    -moz-box-flex: 1; /*老版本语法：Firefox*/
    -ms-flex: 1; /*混合版本语法：IE 10*/
    -o-flex: 1;
    -webkit-flex: 1; /*新版本语法：Chrome 21+*/
    flex: 1; /*新版本语法：Opera 12.1, Firefox 22+*/
}

/*元素保持原来的尺寸*/
.flex-item-orig {
    -webkit-box-flex: 0; /*老版本语法：Safari, ios, android browser, older webkit browsers*/
    -moz-box-flex: 0; /*老版本语法：Firefox*/
    -ms-flex: none; /*混合版本语法：IE 10*/
    -o-flex: none; /* none = 0 0 auto */
    -webkit-flex: none; /*新版本语法：Chrome 21+*/
    flex: none; /*新版本语法：Opera 12.1, Firefox 22+*/
}

/* auto = 1 1 auto */
.flex-item-auto {
    -ms-flex: auto;
    flex: auto
}

/* 此项目与交叉轴起点对齐 */
.flex-item-start {
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
    -o-align-self: flex-start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

/* 此项目与交叉轴中点对齐 */
.flex-item-center {
    -moz-align-self: center;
    -ms-align-self: center;
    -o-align-self: center;
    -webkit-align-self: center;
    align-self: center;
}

/* 此项目与交叉轴终点对齐 */
.flex-item-end {
    -moz-align-self: flex-end;
    -ms-align-self: flex-end;
    -o-align-self: flex-end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
}

.clearfix {
    zoom: 1;
    *zoom: 1
}

.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
    height: 0
}

.clearfix:after {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden
}
input::-webkit-input-placeholder{
    color:#999;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#999;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#999;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#999;
}
