body div ul p li{margin: 0;padding: 0;font-size: 14px}
    .revise-title{
        width: 100%;
        background: #fff;
        top: 1;
        z-index: 160;
        height: 55px;
    }
    .popup-boss{position: relative;}
    #container{margin-top: 30px;}
    .jinzhixiug{
        display: inline-block;
        text-indent: 20px;
        position: relative;
        height: 35px;
        line-height: 35px;
    }
    .prohibitModification{
        display: inline-block;
        position: absolute;
        top: 10px;
        width: 15px;
        height: 15px;border: 1px solid #ccc;
        /*margin-top:20px; */
    }
    .revise-title-btn>button,.revise-title-btn>a{
        float: left;
        display: inline-block;text-align: center;line-height: 35px;
        width: 80px;height: 35px;background: #2693ff;color: #fff;
        border: 0px solid #fff;border-radius: 5px;margin:10px; 
    }
    .revise-location{
       line-height: 3;
        /*display: flex;*/
        position: absolute;
        top: 70px;z-index: 151;left: 0px;
    }
    .yes-xuanzhong:after{
        content: "";
        top: 2px;
        left: 1px;
        display: block;position: absolute;
        border-radius: 2px;
        width: 10px;height: 6px;transform: rotate(-45deg);border: 2px solid #ccc;
        border-color: transparent transparent #2693ff #2693ff;
    }
    .revise-location>div{
        /*padding: 0 20px;*/
        float: left;
        height: 45px;
        margin-left: 10px;border-radius: 3px;
    }
    #import-location{
        padding: 0 20px;
        height: 100%;width: 440px;border: 0px solid #fff;
    }
    .revise-location-dizhi{
        position: relative;
    }
    #location-delete{
        position: absolute;
        right: 70px;
        top: 0;
         line-height: 45px;
        height: 45px;
    }
    #searchBar{
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;

        width: 67px;
        height: 45px;
        background: #f8f8f8;
        text-align: center;line-height: 45px;
    }
    .icon-sousuo1{
        font-size: 25px;color: #2693ff;
    }
    .revise-location-km{
        width: 205px;
        height: 45px;
        background: #fff;
        position: relative;
        cursor: pointer;
    }
     .revise-location-km>p{
        width: 100%;height: 100%;
        font-size: 14px;padding:0 20px;
     }
     .revise-location-km>ul{
        display: none;
        position: absolute;
        height: 200px;
        overflow-y: auto;
        top: 29px;
        left: 0;
        background: #fff;
        width: 100%;text-align: center;
        padding-left: 0;
     }
     .revise-location-km>ul>li{
        list-style-type: none;
        height: 30px;line-height: 30px;
     }
     .revise-location-km>ul>li:hover{
        background: #f8f8f8;
     }
     .amap-toolbar{
        margin-top: 120px;
     }
     .amap-icon>img{
        width: 100%;
     }
     .icon-sousuo1-copy:before{font-size: 26px;}
      /*图标样式*/
     @font-face {
        font-family: 'icomoon';
        src:  url('svgFonts/icomoon.eot?b1vqfn');
        src:  url('svgFonts/icomoon.eot?b1vqfn#iefix') format('embedded-opentype'),
        url('svgFonts/icomoon.ttf?b1vqfn') format('truetype'),
        url('svgFonts/icomoon.woff?b1vqfn') format('woff'),
        url('svgFonts/icomoon.svg?b1vqfn#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    [class^="icon-"], [class*="icon1-"] {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon';
      /*font-family: 'icomoon' !important;*/
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .icon1-cha:before {
      content: "\e900";
      color: #bfbfbf;font-size: 14px;
      position: absolute;right: 5px;top: 0px;
    }
    .icon1-gou:before {
      content: "\e901";
      color: #cdcdcd;
    }
    