.page-warp {
    width: 100%;
    height: 100%;
    position: relative;
    background: #f1f2f7;
    /*padding: 27px 0 0 20px;*/
}

.header {
    padding-bottom: 31px;
}

.header .h5 {
    border-left: 3px solid #0378ec;
    padding-left: 10px;
    font-size: 15px;
    color: #333333;
    font-weight: 900;
}

#app {
    padding-top: 26px;
}

#app .section {
    /*border: 1px solid #cccccc;*/
    margin-bottom: 30px;
}

#app .section .h5 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 13px;
}

#app .section .hr {
    margin: 0 0 6px 0;
    border-bottom: 1px solid #eeeeee;
}

#app .section-content {
    padding-left: 48px;
    /*width: 460px;*/
}

#app .table {
    width: 360px;
    table-layout: fixed;
    margin-bottom: 0;
}

#app .table, .table td, .table th {
    border: 1px solid #d9d9d9;
    text-align: center;
    font-size: 12px;
}

#app .table th {
    border-bottom: none;
    background: #f8f8f8;
}

#app .table td {
    padding: 5px 10px;
    height: 40px;
    vertical-align: middle;
}

#app .text-tips {
    color: #9f9f9f;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 12px;
    line-height: 2.5;
    white-space: nowrap;
    /*padding-left: 14px;*/
}

#app .ul li {
    /*padding-bottom: 4px;*/
    position: relative;
    /*background: #f1f2f7;*/
}

#app .ul li .text-tips {
    display: inline-block;
    /* position: absolute;
     top: 50%;
     left: 102%;
     -webkit-transform: translateY(-49%);
     -moz-transform: translateY(-49%);
     -ms-transform: translateY(-49%);
     -o-transform: translateY(-49%);
     transform: translateY(-49%);*/
}

#app .ellipsis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**view*/
#app.view .row > .col {
    width: 350px;
}

#app .form-item-label label {
    font-family: MicrosoftYaHei, sans-serif;
    font-size: 12px;
    color: #38445a;
}

#app .form-item-content .ipt {
    font-family: MicrosoftYaHei, sans-serif;
    font-size: 12px;
    color: #333333;
}

#app.view .row > .col > label {
    width: 60px;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    font-family: MicrosoftYaHei, sans-serif;
    font-size: 12px;
    color: #38445a;
    letter-spacing: 0;
}

#app.view .row > .col > .text-content {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-family: MicrosoftYaHei, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
}

#app .ul.goods-spec li {
    padding-bottom: 10px;
}

#app .ul.goods-spec li:last-child {
    padding-bottom: 0;
}

#app.view .section-content > .row > .col {
    margin-bottom: 0;
}