.ct-tab-box{height: 40px;border-bottom: 1px solid #eee;margin-bottom: 15px;}
.ct-tab-box>ul>li{float: left;line-height: 38px;border-bottom: 2px solid transparent;padding: 0 10px;cursor: pointer;}
.ct-tab-box>ul>li.active{border-bottom: 2px solid #0378ec;color: #0378ec;}
thead th,thead td{border-color: transparent;background: #f7f8f9;font-size: 12px;font-weight: 400;color: #333;text-align: left;padding: 8px 12px;}
tbody tr{border-bottom:1px solid #eee; }
tbody td{font-size: 12px;border:none;padding: 8px 12px;text-align: left;color: #38445a}
tbody td a{color: #0378ec;}
td.center,th.center{text-align: center;}
.right-border{border-right: 1px solid #eee;}
.sousuo{height: 30px;border-radius: 100px;width: 278px;border:1px solid #ddd;padding: 0 10px;color: #333;}
.sousuo:focus{border-color:#40a9ff;}
.field-row[data-v-5b242029]{margin-bottom: 15px;}