@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7z3bml');
  src:  url('../fonts/icomoon.eot?7z3bml#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7z3bml') format('truetype'),
    url('../fonts/icomoon.woff?7z3bml') format('woff'),
    url('../fonts/icomoon.svg?7z3bml#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon2-"], [class*=" icon2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon2-sousuo:before {
  content: "\e971";
}
.icon2-add-order:before {
  content: "\e900";
  color: #ccc;
}
.icon2-bainji-1:before {
  content: "\e901";
}
.icon2-bangzhu:before {
  content: "\e902";
}
.icon2-bianji-2:before {
  content: "\e903";
}
.icon2-bianji-3:before {
  content: "\e904";
}
.icon2-bianji:before {
  content: "\e905";
}
.icon2-buxing:before {
  content: "\e906";
}
.icon2-buxing1:before {
  content: "\e907";
}
.icon2-caiwuguanli:before {
  content: "\e908";
}
.icon2-cangchu:before {
  content: "\e909";
}
.icon2-cangku:before {
  content: "\e90a";
}
.icon2-cengji-1:before {
  content: "\e90b";
}
.icon2-cengji:before {
  content: "\e90c";
}
.icon2-cengjiguanli:before {
  content: "\e90d";
  color: #666;
}
.icon2-cengjishezhi:before {
  content: "\e90e";
}
.icon2-cha1:before {
  content: "\e90f";
  color: #bfbfbf;
}
.icon2-chakan-1:before {
  content: "\e910";
}
.icon2-chakan-2:before {
  content: "\e911";
}
.icon2-chakan:before {
  content: "\e912";
}
.icon2-chanpin:before {
  content: "\e913";
}
.icon2-chuhao:before {
  content: "\e914";
}
.icon2-dan-shang:before {
  content: "\e915";
}
.icon2-dan-xia:before {
  content: "\e916";
}
.icon2-dan-you:before {
  content: "\e917";
}
.icon2-dan-zuo:before {
  content: "\e918";
}
.icon2-daochushuju:before {
  content: "\e919";
}
.icon2-dianhua:before {
  content: "\e91a";
}
.icon2-dianhua1:before {
  content: "\e91b";
}
.icon2-didian:before {
  content: "\e91c";
}
.icon2-didian1:before {
  content: "\e91d";
}
.icon2-dingdan:before {
  content: "\e91e";
}
.icon2-dingdanguanli:before {
  content: "\e91f";
}
.icon2-exl:before {
  content: "\e920";
  color: #249e59;
}
.icon2-fanhui:before {
  content: "\e921";
}
.icon2-fujian:before {
  content: "\e922";
}
.icon2-fuwuneirong:before {
  content: "\e923";
}
.icon2-fuwushangdian:before {
  content: "\e924";
}
.icon2-gongdan:before {
  content: "\e925";
}
.icon2-gongzuo:before {
  content: "\e926";
}
.icon2-gongzuo1:before {
  content: "\e927";
  color: #41515d;
}
.icon2-gou:before {
  content: "\e928";
}
.icon2-hezuo:before {
  content: "\e929";
}
.icon2-jia-1:before {
  content: "\e92a";
}
.icon2-jia:before {
  content: "\e92b";
}
.icon2-jian-1:before {
  content: "\e92c";
}
.icon2-jian-2:before {
  content: "\e92d";
}
.icon2-jian-3:before {
  content: "\e92e";
}
.icon2-jian:before {
  content: "\e92f";
}
.icon2-jiesuan:before {
  content: "\e930";
}
.icon2-jishi:before {
  content: "\e931";
}
.icon2-kehu:before {
  content: "\e932";
}
.icon2-kehuquanzhu:before {
  content: "\e933";
}
.icon2-lingdang:before {
  content: "\e934";
  color: #bfbfbf;
}
.icon2-paiban:before {
  content: "\e935";
}
.icon2-paiban1:before {
  content: "\e936";
}
.icon2-qixing:before {
  content: "\e937";
}
.icon2-quanxian:before {
  content: "\e938";
}
.icon2-quxiao:before {
  content: "\e939";
}
.icon2-renzheng:before {
  content: "\e93a";
}
.icon2-rili:before {
  content: "\e93b";
  line-height: 32px;
}
.icon2-rili1:before {
  content: "\e93c";
}
.icon2-shaixuan:before {
  content: "\e93d";
}
.icon2-shanchu:before {
  content: "\e93e";
}
.icon2-shanchu1:before {
  content: "\e93f";
}
.icon2-shang:before {
  content: "\e940";
}
.icon2-shang1:before {
  content: "\e941";
}
.icon2-shangjia:before {
  content: "\e942";
}
.icon2-shangpin:before {
  content: "\e943";
}
.icon2-shangpin1:before {
  content: "\e944";
}
.icon2-shangpin2:before {
  content: "\e945";
}
.icon2-shaung-you:before {
  content: "\e946";
}
.icon2-shaungjiantou:before {
  content: "\e947";
}
.icon2-shixin-zuo:before {
  content: "\e948";
}
.icon2-shixingxia:before {
  content: "\e949";
}
.icon2-shixinshang:before {
  content: "\e94a";
}
.icon2-shixinxia:before {
  content: "\e94b";
}
.icon2-shixinxia1:before {
  content: "\e94c";
}
.icon2-shixinyou:before {
  content: "\e94d";
}
.icon2-shixinzuo:before {
  content: "\e94e";
}
.icon2-shixinzuo2:before {
  content: "\e94f";
}
.icon2-shouji1:before {
  content: "\e950";
}
.icon2-shouji2:before {
  content: "\e951";
}
.icon2-shoujihao:before {
  content: "\e952";
}
.icon2-shouye:before {
  content: "\e953";
}
.icon2-shuang-zuo:before {
  content: "\e954";
}
.icon2-shuangjiantou-shang:before {
  content: "\e955";
}
.icon2-shuangjiantou-xia:before {
  content: "\e956";
}
.icon2-shxinshang:before {
  content: "\e957";
}
.icon2-suo1:before {
  content: "\e958";
}
.icon2-tianjiakehu:before {
  content: "\e959";
}
.icon2-tongji:before {
  content: "\e95a";
}
.icon2-tongji1:before {
  content: "\e95b";
}
.icon2-touxiang:before {
  content: "\e95c";
}
.icon2-touxiang1:before {
  content: "\e95d";
}
.icon2-weixiugongguanli:before {
  content: "\e95e";
}
.icon2-wenhao:before {
  content: "\e95f";
}
.icon2-wode:before {
  content: "\e960";
}
.icon2-xai1:before {
  content: "\e961";
}
.icon2-xialajiantou:before {
  content: "\e962";
}
.icon2-xiangji:before {
  content: "\e963";
}
.icon2-xiangxia:before {
  content: "\e964";
}
.icon2-xiangyou:before {
  content: "\e965";
}
.icon2-xiaoshou .path1:before {
  content: "\e966";
  color: rgb(112, 131, 169);
}
.icon2-xiaoshou .path2:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(108, 132, 172);
}
.icon2-xiazhai:before {
  content: "\e968";
}
.icon2-xuanzhogn:before {
  content: "\e969";
}
.icon2-xuanzhogn1:before {
  content: "\e96a";
}
.icon2-yangjign:before {
  content: "\e96b";
}
.icon2-yanjign1:before {
  content: "\e96c";
}
.icon2-you1:before {
  content: "\e96d";
}
.icon2-youjian:before {
  content: "\e96e";
}
.icon2-zhanghu:before {
  content: "\e96f";
}
.icon2-zuo1:before {
  content: "\e970";
}
