html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;font-size: 12px;font-family: "Microsoft YaHei"}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a:link,a:hover,a:visited,a:active{text-decoration: none;}a:hover{cursor: pointer;}
html,body{height: 100%;}
#header{height: 60px;background: #1b2750;}
.logo{display: block;width: 40px;height: 40px;border-radius: 50%;overflow: hidden;float: left;margin-top: 10px;margin-left: 15px;}
.herder-nav-right{text-align: right;float: right;}
.herder-nav-right li{line-height: 60px;color: #fff;display: inline-block;margin-left: 30px;}
.touxiang{float: left;width: 24px;height: 24px;display: inline-block;border-radius: 50%;overflow: hidden;margin-top: 18px;margin-right: 8px;text-align: right;}
#personal{float: right;display: block;height: 60px;line-height: 24px;margin-left: 40px;position: relative;}
#personal:hover ul{display: block;}
#personal:hover p{color: #fff;}
#personal>ul{position: absolute;top: 60px;width: 115px;height: 158px;background: #1b2750;right: 0;z-index: 88;padding:15px 15px 15px 30px;display: none;animation:personalHover .2s;-moz-animation:personalHover .2s;-webkit-animation:personalHover .2s;-o-animation:personalHover .2s;}
@keyframes personalHover{
  0%{height: 0}
  100%{height: 158px;}
}
#personal>p{margin-right:15px;color: #acb7c8;float: left;margin-top: 18px;}
#personal>p>span{display: inline-block;width: 77px;overflow: hidden;text-overflow: ellipsis;float: left;white-space:nowrap;}
#personal>p>i{margin-left: 4px;float: left;font-size: 18px;line-height: 23px;}
#personal>ul li{height: 12px;margin-bottom: 18px;text-align: left;line-height: 12px;}
#personal>ul li:hover i,#personal>ul li:hover a{color: #fff;}
#personal>ul li i{color:#acb7c8;}
#personal>ul li a{color: #acb7c8;padding-left: 10px;}
.herder-nav-right li a{color: #acb7c8;}
.herder-nav-right li a:hover{color: #fff;}
.header-title{color: #fff;font-size: 18px;float: left;line-height: 60px;font-family: "Microsoft YaHei";margin-left: 10px;}
.top-nav-box{height: calc(100% - 70px);width: 100%;}
#navigation{background:#1b2750;height: calc(100% - 60px);width: 64px;color: #919dc6;float: left;}
#navigation a{color: #919dc6;}
#navigation .left-nav-list{width: 100%;height: 60px;display: table;position: relative;background: #1b2750;}
.left-nav-list .hover-nav{width: 106px;height: 20px;position: absolute;left:64px;min-height: 40px;height: auto;max-height: 300px;top: 0;padding: 20px 20px 0 20px;display: none;overflow: auto;
animation:hoverWidth .2s;
-moz-animation:hoverWidth .2s; /* Firefox 4 */
-webkit-animation:hoverWidth .2s; /* Safari and Chrome */
-o-animation:hoverWidth .2s; /* Opera */}
@keyframes hoverWidth{
  0%{width: 0;}
  100%{width: 106px}
}
.left-nav-list .hover-nav::-webkit-scrollbar{width: 6px;}
.left-nav-list .hover-nav::-webkit-scrollbar-thumb{background: #5f6d98;border-radius: 10px;}
/*.left-nav-list .hover-nav::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);background: #1b2750;}*/
#navigation .left-nav-list:hover{background:#33406a;}
#navigation .left-nav-list:hover a{color: #fff;}
#navigation .left-nav-list:hover  .hover-nav{background: #33406a;display: block;z-index: 11;}

#navigation .left-nav-list .hover-nav a{color: #acb7c8;}
#navigation .left-nav-list .hover-nav li:hover a{color: #fff;}
#navigation .left-nav-list a{display: block;width: 100%;height: 100%;text-align: center;display: table-cell;vertical-align: middle;}
#navigation .left-nav-list i{display: block;margin-bottom: 6px;font-size: 20px;}
#navigation .left-nav-list .icon2-dingdan{font-size: 30px;}
.hover-nav li{padding-bottom: 20px;}
#content{height:calc(100% - 60px);width:calc(100% - 64px);margin-left: 64px;background: #fff;}
#content .top-nav-box{width: 100%;height: 36px;border-bottom: 1px solid #ddd;overflow: hidden;position: relative; }
.page-left,.page-right{position: absolute;height: 100%;width: 30px;z-index: 2;top: 0;background: #fff;line-height: 36px;text-align: center;}
.page-left{left: 0;border-right: 1px solid #ddd;}
.page-right{right: 0;border-left: 1px solid #ddd;}
.page-left:after,.page-right:after{
	content: '';width: 10px;height: 10px;display: inline-block;
}
.page-left:after{background:url(../images/left_jiantou.png) no-repeat left center;background-size: 100% 100%;}
.page-right:after{background:url(../images/right_jiantou.png) no-repeat left center;background-size: 100% 100%;}
.ifm-tab-nav{padding: 0 30px;position: absolute;width: 5000px;height: 36px;left: 0;top: 0;}
.ifm-tab-nav>li{line-height: 36px;padding: 0 10px;cursor: pointer;float: left;border-right: 1px solid #ddd;color: #666;}
.ifm-tab-nav>li i{color: #999;}
.ifm-tab-nav i{margin-left: 10px;}
.ifm-tab-nav>li.active{background: #2693ff;color: #fff;}
.ifm-tab-nav>li.active i{color: #fff;}
.ifrm-box{height:calc(100% - 36px);width: 100%;}
.ifrm-box>div{width: 100%;height: 100%;overflow: hidden;display: none;}
.ifrmbody-list>iframe{width: 100%;height: 100%;}
.ifrm-box>.ifrmbody-show{display: block;}
/*颜色*/
#navigation .left-nav-list .colorfff{color: #fff;}
#navigation .left-nav-list .hover-nav .colorfff{color: #fff;}

