body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0;font-size: 14px;font-family:"Microsoft YaHei"} 
body, button, input, select, textarea { font:14px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%;font-family:"Microsoft YaHei" } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:"Microsoft YaHei", monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; } 
/*样式开始*/
/*表格样式*/
table{
    border: 1px solid #ccc;
    margin:0 auto;
    width: 100%;
}
th{background: #f7f8f9;}
th,td{
    border: 1px solid #ccc;
    text-align: center;height: 45px;
    font-family: "微软雅黑";
    font-size: 14px;
    min-width: 50px;
}
.table-box90{width: 90%;margin:0 auto;padding-top: 30px;}
.height34{line-height: 34px}