body{background: #f1f2f7;font-size: 14px;font-family: "Microsoft YaHei"}
/*搜索框*/
.return-a{
    display: inline-block;
    position: absolute;
    right: 40px;
    /*border: 1px solid #ccc;*/
    background: #2693ff;
    height: 30px;padding:0 10px;
    line-height: 30px;border-radius: 4px;
}
.search-box{
    position: relative;
    margin-top: 10px;
    height: 40px;
}
.search-box-lable{
    position: absolute;left: 0;top:0;
    width: 85px;text-align: right;
}
.search-box-kuang{
    margin-left: 80px;
}
/**/
i{
    font-style: normal;
}
input{
    background: #fff;border: 1px solid #ccc;
}
.red-i{
    color: red;
}
.fuzzy-query{
    position: relative;
    /*overflow-x: hidden;*/
    padding:0;
    margin-left: 110px;
}
.fuzzy-query-data{
    display: none;
    position: absolute;
    top: 37px;left: 0;
    /*right: 15px;*/
    width: 100%;
    margin-right: 30px;
    background: red;
    /*padding: 6px 12px;*/
    z-index: 2;
    box-shadow: 0 0 5px #ccc;

}
.fuzzy-query-data>li{
    height: 30px;line-height: 30px;
    background: #fff;
    padding:0 10px;
}
.fuzzy-query-data>li:hover{
    display: block;
    background: #f8f8f8;
}
.jn-btn{
    /*margin-left: 20px;*/
    width: 100%;
}
.radio-li-boss{
    /*display: flex;*/
    text-align: justify;
    text-justify:inter-ideograph;
    height: auto;
    font-size: 0;
    width: 100%;
    overflow:hidden; 
}
 .radio-li{
    width: 23%;
    font-size: 14px;
    display: inline-block;
    height: 37px;text-align: center;line-height: 37px;
    padding-left: 0;margin-bottom: 15px;

 }
 .city23_fix{
        display: inline-block;width: 23%;height: 0;padding: 0;overflow: hidden;
 }
 .radio-li-ct{
    cursor:pointer;
    height: 36px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
 }
 .add-btn{
    padding-right: 0;
 }
 .ramark-box{
    padding: 10px;
    width: 100%;
    min-height: 100px;
    border:1px solid  #ccc;border-radius: 4px;
 }
 .paymentmethod{
    width: 200px;
    height: 37px;
    text-align: center;line-height: 37px;border-radius: 4px;border:1px solid #2693ff;
 }
 .xianzhi{
    color: #ccc;
    position: absolute;
    right: 20px;
    bottom: 0;
 }
 .xiangxia,.riqi1{
    top: 0;
    position: absolute;
    right: 5px;
    text-align: right;
    display: block;
    height: 37px;line-height: 37px;
    color: #ccc;font-size: 14px;
 }
 .xiangxia{
    width: 50px;
 }
 .justify_fix{display:inline-block; width:100%; height:0; overflow:hidden;}

/*订单详情样式*/
table{
    width: 100%;border-collapse: collapse;border-spacing: 0;
}
.misplacement{
    color: red;
}
.order-number{
    padding:7px 0;
}
.customer-name{
    font-size: 16px;
}
.customer-sex{
    font-size: 14px;font-weight: 100;
}
.order-top{
    border-bottom: 1px dotted #cdcdcc;
    position: relative;
}
.ordoer-state{
    display: block;
    position: absolute;
    right: 0;top: 0;
    padding:5px 5px;
    color: #fff;
    border-radius: 4px;
}
.order-details>li{
    margin-top: 15px;clear: both;
}
.state-order{
    padding:3px 5px;
    border-radius: 4px;
    color: #fff;
}
.state-order-orange{
    background: #fc9153;
}
.state-order-green{
    background: #44bea3;
}
.state-order-silver{
    background: #ccc;
}
.tab-group{
    width: 100%;
    position: relative;
}
.right-btn-group{
    position: absolute;
    top: -5px;
    right: 16px;
}
.right-btn-group>a{
    display: inline-block;
    line-height: 34px;text-align: center;
    padding:0 10px;
    height: 34px;background: #2693ff;color: #fff;border: 1px solid #2693ff;border-radius: 4px;
}
     /*颜色状态*/
.ignore{
    border: 1px solid #ccc;
}
.bg-f7{border: 1px solid #ccc;background: #f7f7f7;color: #444}
.border-e8{border: 2px solid #e8e8e8;background: #fff}
.reorder{
    padding:3px 5px;
    background: #fc9153;
    color: #fff;
    border-radius: 4px;
}
.orange{
    background: #fc9153;
}
.gray{
    background: #ccc;
}
.green{
    background: #44bea3;
}
.remarks{
    text-align: right;
}
.remarks-list{
    margin-top: 20px;
}
.circular{
    position: absolute;
    top: 13px;
    left: -10px;
    width: 20px;height: 24px;background: #fff;
}
.gold-i,.SpringGreen-i,.red-i1{
    position: absolute;top: 6px;
    left: 2px;
    display: inline-block;
    width: 14px;height: 14px;border-radius: 50%;
}
.gold-i{
    border: 1px solid #2693ff;
    }
.SpringGreen-i{
    border: 1px solid #999999;
    }
.red-i1{
    border: 1px solid red;
}
.gold-i:after,.SpringGreen-i:after,.red-i1:after{
    content: " ";
    display: inline-block;
    width: 8px;height: 8px;border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
}
.gold-i:after{
    background: #2693ff;
}
.SpringGreen-i:after{
    background: #999999;
}
.red-i1:after{
    background: red;
}
/*其他样式*/
.zhi{
    position: absolute;
    top: 5px;right: 0;
}
.Validform_title{
    display: none;
}
/*弹窗样式*/
.information-list,.field-orderform-fault_img{
    position: relative;
    margin-top: 20px;
    height: 36px;
    clear: both;padding-left: 0;
    
}
.name-title-lable{
    position: absolute;
    left: 0;
    /*top: 0;*/
    display: inline-block;
    height: 34px;line-height: 34px;width: 110px;
    /*float: left;*/
    text-align: right;
    font-family: "Microsoft YaHei"

}
.addinput-list{
    margin-left: 110px;padding-left: 0;
}
.wenzi{line-height: 34px;}
/*单选样式*/
.radio-list{
    position: relative;
    display: inline-block;
    width: 100px;height: 30px;
}
.radio-list-label{
    margin-top: 7px;
}
.radio-list-label>.radio-i
{   font-size:12px;
    font-style:normal
    ;display:inline-block;width:15px;
    height:15px;text-align:center;line-height:12px;
    color:#fff;vertical-align:middle;
    margin:-2px 2px 1px 0px;
    /*position: absolute;top: 10px;left:0;*/
    border:#2693ff 1px solid;}
.radio-list-label>.radio-i:after{
    width: 9px;height: 9px;background:red;display: inline-block;
}
/*input[type="checkbox"],input[type="radio"] {display:none;}  */
/*input[type="radio"] + i {border-radius:7px;}  
input[type="checkbox"]:checked + i,input[type="radio"]:checked + i{background:#2693ff;}  
input[type="checkbox"]:disabled + i,input[type="radio"]:disabled + i {border-color:#ccc;}  
input[type="checkbox"]:checked:disabled + i,input[type="radio"]:checked:disabled + i {background:#ccc;} */
/*.right-btn{
    float: right;
    margin-right: 50px;
}*/
/*单选样式*/

input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 15px;
    height: 15px;
    margin-right:5px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-top: -3px;
    /*text-indent: .15em;*/
}
input[type="radio"] + label:hover::before{
    border-color: #999;
}
   input[type="radio"]:checked + label::before {
    border-color: #2693ff;
    background-color: #2693ff;
    background-clip: content-box;
    padding: 2px;
    width: 15px;height: 15px;

}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
/*复选样式*/
.abcdef{
    position: absolute;
    top: 7px;
    left: 3px;
    width: 8px;height: 13px;
    display: none;
    border: 2px solid #ccc;
    transform: rotate(45deg);
    border-color: transparent #fff #fff transparent;

}
input[type="checkbox"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 15px;
    height: 15px;
    margin-right:10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    /*background: #2693ff;*/
    margin-top: -3px;
    /*text-indent: .15em;*/
    position: absolute;
    top: 10px;left: 0px;
   }
   input[type="checkbox"] + label{
     cursor: pointer;padding-left: 20px;
   }
   input[type="checkbox"]:checked + label::before {
    border: 1px solid #2693ff;
    background-color: #2693ff;
    background-clip: content-box;
    /*padding: 2px;*/
    width: 15px;height: 15px;
    cursor: pointer;position: absolute;/*left: -2px;top: 6px;*/

}
 input[type="checkbox"]:checked + label{
    position: relative;cursor: pointer;
 }
 input[type="checkbox"]:checked + label>.abcdef{
    display: block;

}
input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.add-tjpp{
    display: inline-block;
    height: 36px;
    width: 100px;border: 1px solid #2693ff;
    color: #2693ff;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

/**/
.right-btn>input,.right-btn>button{
    height: 32px;width: 82px;border: 1px solid #ccc;border-radius: 4px;
    font-family: "Microsoft YaHei"
}
.right-btn>button{border: 1px solid #2693ff;}
.btn-orange{
    background: #2693ff;border: 1px solid #2693ff;color: #fff;
}

/*详情*/
.details-column{
    position: relative;
    margin-top: 20px;
    width: 700px;
}
.details-column-title{
    text-align: right;
    position: absolute;
    width: 100px;height: 30px;line-height: 30px;
    font-size: 14px;
}
.details-column-content{
    min-height: 30px;
    margin-left: 120px;
    line-height: 30px;
    font-size: 14px;
    position: relative;
}
.error-span{
    position: absolute;
    left: 0;
    color: red;
    top: 29px;
}
.note{
 position:absolute;line-height:20px;padding:3px 5px;top: 0;
 }
.details-column-tupian{
    width: 250px;
    height: 150px;overflow: hidden;
}
.details-column-tupian>a
.details-column-tupian>a,.details-column-tupian>img,.details-column-tupian>a>img{
    width: 100%;height: 100%;display: inline-block;cursor: pointer;
}
.details-column-content>input{
    padding-left: 15px;
    width: 400px;
    height: 36px;border: 1px solid #ccc;border-radius: 4px;
}
        /*三级联动样式*/
.three-linkage{
    width:400px;text-align:justify;
}

.linkage-justify-list{display:inline-block; width:120px;
    /*margin-bottom:15px;*/
    text-align:left;
    vertical-align:top;
    height: 40px;}/*列表元素*/
.justify_fix{display:inline-block; width:100%; height:0; overflow:hidden;}
.details-column-content>textarea{
    width: 400px;
    height: 150px;padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.details-column-content>.details-column-submit{
    width: 150px;background: #2693ff;color: #fff;
}
/*图片上传*/
.aptitude-div{
    position: relative;
    /*display: inline-block;*/
    float: left;
    overflow: hidden;
    width: 200px;height: 200px;margin-right: 20px;
    /*opacity: 0;*/
}
.aptitude-div>img{
    width: 100%;height: 100%;
}
.filePrew{
    position: absolute;
    left: 0;top: 0;
    font-size: 200px;
    opacity: 0;

}
.radio-span{
    display: inline-block;
    margin-right: 30PX;
}

/*多选*/
.checkbox-span{
    /*margin:10px;*/
    display: inline-block;
    width: auto;
    margin-left: 10px;
    position: relative;
}
/*.checkbox-span input[type="checkbox"]:checked + label::before{top: 12px;}*/
.checkbox-box{
    display: none;
     padding: 10px 30px;
    width: 650px;
    height: 250px;
    border: 1px solid #2693ff;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    left: 0;top: 37px;
    z-index: 3;
    overflow-y: auto;
}
.checkbox-box2{
    height: 230px;
    overflow-y: auto;
}
.checkbox-box2::-webkit-scrollbar{width:5px;}
.checkbox-box2::-webkit-scrollbar-thumb{background:#ccc;border-radius: 5px}
.exhibition-checkbox{
    font-size: 0;
}
.exhibition-checkbox>span{
    margin:10px 15px 0 0;
    display: inline-block;
    font-size: 14px;
}
/*个人信息页面*/
.left-box{
    position: absolute;
    left: 0;
    width: 322px;
   

}
.right-box{
    margin-left: 342px;
}
.headPortrait-letter{
    height: 86px;
    height: 141px;
    background: #fff;
}
.headPortrait-letter-left{
    width: 86px;
    height: 86px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 28px;


}
.headPortrait-letter-left>img{
    width: 86px;
    height: 86px;
}
.headPortrait-letter>div{
    margin-top: 27.5px;
    height: 86px;
    float: left;
    font-size: 14px;
    letter-spacing: 0;
    
}
.headPortrait-letter-right{
    margin-left: 22px;
}
.information-nav{
    margin-top: 20px;
    background: #fff;
}
.information-nav-ul{
    padding:40px 0;
}
.information-nav-ul>li{
    height: 64px;
    line-height: 64px;
}
.selected-li{
    background: #f1f2f7;
}
.selected-li>.information-nav-a:link{
       color: #2693ff;
    }
.right-box-title{
    padding:40px 0 20px 0;
    margin:0 45px 0 45px;
    border-bottom: 1px solid #cdcdcc;
}
.change-gallery{
    width: 100px;height: 32px;
    border-radius: 4px;
    background: #2693ff;
    color: #fff;text-align: center;
}
/*首页样式*/
.real-time-a{
    text-align: center;
    float: left;
    /*width: 68px;*/
    width: 1.68rem;
}
.real-time-a:link{
    text-decoration: none;
}
.real-time-num{
    /*font-size: 47px;*/
    font-size: .47rem;
    height: .5rem;
}
.real-time-name{
    /*font-size: 17px;*/
    font-size: .17rem;
    color: #999;
}
.home-left-top{
    /*height: 381px;*/
    height: 3.81rem;
    background: #fff;
}
.home-left-top>div{
    /*margin-bottom: 60px;*/
    margin-bottom: .6rem;
}
.home-left-title{
    /*font-size: 22px;*/
    font-size: .22rem;
    /*padding:20px;*/
    padding: .2rem .3rem;
    font-weight: 600;
}
.home-left-bottom{
    /*margin-top: 35px;*/
    margin-top: .35rem;
    background: #fff;
    /*height: 338px;*/
    height: 3.38rem;

}
.home-operation{
    /*font-size: 18px;*/
    font-size: .18rem;margin-left: .3rem;
}
.home-news-box{
    width: 100%;height: 100%;
    overflow-y:auto; 
    background: #fff;
}
.home-operation:link{
    text-decoration: none;
}
.news-list-li{
    /*padding: 24px;*/
    padding: .24rem;
    border-bottom: 1px solid #ccc;
}
.news-list-li>a:hover{
    text-decoration: none;
}

.home-operation>img{
    width: .64rem;height: .64rem;
}
.news-box-tit{
    /*position: absolute;*/
    width: 100%;
    background: #fff;
    height: .73rem;
    border-bottom: 1px solid #ccc;
}
.real-time-title{
    display: inline-block;
    margin: .1rem 0 0 .2rem;
}

.home-right-bottom{
    height: 6.5rem;overflow-y: auto;
}
.home-right-bottom::-webkit-scrollbar{width:5px;}
.home-right-bottom::-webkit-scrollbar-thumb{background:#ccc;border-radius: 5px}
/*合作服务商*/
.invite-list{
    position: relative;
    margin: 15px;
}
.invite-list>span{
    position: absolute;
    left: 0;
    text-align: right;
    width: 50px;
}
.invite-list-right{
    margin-left: 50px;
}
.invite-input{
    height: 36px;
    width: 350px;border-radius: 4px;
}
.invite-list-right>a{
    margin-top: -4px;
}

/*新服务商样式*/














 /*时间控件样式*/
 li{
        list-style-type: none;position: relative;
    }
    /*预约日期的选择*/
    .datexz-wap li,.datexz-wap ul{list-style-type: none;padding: 0px;margin: 0px;}
    .datexz-wap a:hover,.datexz-wap a:link,.datexz-wap a:active,.datexz-wap a:visited{color: #000000}
    .datexz-wap{width: 95%;border:1px solid #ccc; 
        float: left;
        position:absolute;
        display: none;
        top:45px;
        left:2.5%;
        z-index: 5;

    }
    .datexz-wap .datexz-box{position: relative;display: table;background: #fff;width: 100%;text-align: center;z-index:111;}
    .datexz-box .dt-title-wap{height: 34px;line-height: 34px;font-size: 16px;}
    .datexz-box .dt-title-wap img{width: 10px;height: 10px; position: absolute;right: 10px;top:10px;}

    .warp-date{overflow: hidden;overflow-x:scroll;width:100%;background: #f8f8f8;-webkit-overflow-scrolling : touch;}
    .warp-date::-webkit-scrollbar{height:0px;}
    .warp-date ul {display:flex;height: 100%;}

    .warp-date ul li.acti{color: #2693ff;}


    .datexz-box .warp-date li{width: 20%;flex-shrink:0;text-align: center;cursor: pointer;}
    .datexz-box .warp-date li h3{font-size: 12px;color: #111;height:36px;line-height: 36px;font-weight: normal;}
    .datexz-box .warp-date ul .acti h3{color: #2693ff;}

    .datexz-wap .tdpr-wap{width: 94%;height: 32px;line-height: 32px;
        border: 1px solid #999;border-radius: 2px;font-size: 16px;text-align: center;margin: 10px auto}
    .datexz-wap .tdpr-wap a{display: block;}
    .datexz-wap .tdpr-wap.rotate{border-color: #ffa91f;}
    .datexz-wap .tdpr-wap.rotate a{color: #ffa91f;}
    .tdpr-wap.no-sele{border-color: #ccc;}
    .tdpr-wap.no-sele a{color: #ccc;}


    .datexz-wap .shijian-wap{margin-top: 20px;width: 94%;display: table;margin: 0 auto}
    .datexz-wap .shijian-wap ul{width: 100%;display: table;}
    .shijian-wap ul li{float:left; width: 23%;height: 28px;border: 1px solid #999;margin-right: 7px;border-radius:3px;line-height: 28px;text-align: center;position: relative;margin-bottom: 5px;}
    .shijian-wap ul li:nth-child(4n+0){margin-right: 0;}
    .shijian-wap ul .no-sele a{color: #ccc;}
    .shijian-wap ul .no-sele{border-color:#ccc}
    .shijian-wap ul li img{width: 17px;height: 16px;position: absolute;right: 0;bottom: 0;
        display: none;}
    .shijian-wap ul li.acti{border-color: #2693ff;display: block;}
    .shijian-wap ul li.acti img{display: block;}

    .shijian-wap ul li.acti a{color: #2693ff;}

    .datexz-box .buton{width: 94%;height: 40px;background: #2693ff;border-radius: 3px;line-height: 40px;margin: 10px auto}
    .datexz-box .buton a{display: block;color: #fff;}


    .tdpr-wap {
        position: relative;
    }
    .tdpr-wap img {
        width: 17px;
        height: 16px;
        position: absolute;
        right: 0;
        bottom: 0;
        display: none;
    }
    .rotate img {
        display: block;
    }
    .types-list ul .remarks {
        height: auto;
        display: flex;
        min-height: .85rem;
    }
    .remarks p {
        flex-shrink: 0;
    }
    .remarks_text {
        margin: 0;
        width: 100%;
        display: flex ;
        align-items: center;
        padding-right: .2rem;
        padding-bottom: .5rem;
        position: relative;
        display: none;
    }
    .remarks_text textarea {
        margin-top: .24rem;
        width: 100%;
        line-height: 1.5;
        border: none;
        /*border: 1px blue solid;*/
    }

    /**/
    #note{
        padding-bottom: 20px;
         overflow-y: hidden;
        text-align: left;
        outline: none;

    }
    #order_make_time_type{
        display: none;
    }
    .multi-img-details .multi-item em{
        right: 8px;top: 12px;font-style: normal;
    }



    /**/
    /*==========以下部分是Validform必须的===========*/
.Validform_checktip{
    margin-left:8px;
    line-height:20px;
    height:20px;
    overflow:hidden;
    color:#999;
    font-size:12px;
}
td>.Validform_checktip{display: none;}
.Validform_right{
    color:#71b83d;
    padding-left:20px;
    /*background:url(../images/right.png) no-repeat left center;*/
}
.Validform_wrong{
    color:red;
    padding-left:20px;
    white-space:nowrap;
    /*background:url(../images/error.png) no-repeat left center;*/
}
.Validform_loading{
    padding-left:20px;
    /*background:url(../images/onLoad.gif) no-repeat left center;*/
}
.Validform_error{
    background-color:#ffe7e7;
}

#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}
.Validform_wrong,.Validform_right {padding: 0px;margin: 0px;}

/*适配样式*/
.left-news{height: 7.54rem;}
@media screen and (max-width:1024px) {
    /*首页适配*/
    .home-left-top{
        height: 4.01rem;
    }
    .left-news{height:7.74rem}
    .details-column{width: 600px;}
}
@media screen and (max-width:900px) {
    /*首页适配*/
    .home-left-top{
        height: 4.81rem;
    }
    .news-box-tit{height: 1.23rem;line-height: 1.23rem;}
    .details-column{width: 500px;}
    .details-column-content>input,.three-linkage,.details-column-content>textarea{width: 350px}
    .linkage-justify-list{width: 100px}
    .xianzhi{right: 60px;}
}
@media screen and (max-width:600px) {
    /*首页适配*/
    .home-left-top{
        height: 5.81rem;
    }
}

/*弹框样式*/
.layui-layer-content{text-align: center;}
.layui-layer-btn{text-align: center;}
.layui-layer-btn0{position: static;width: auto;}
.layui-layer-btn a{height: 34px;line-height: 34px;padding: 0 10px;}
/*2.0*/
/*结算管理样式*/
.settlement-box{
    background: #fff;
    padding: 20px 20px 50px;border-radius: 5px;
}
.settlement-box>h5{margin-bottom: 15px}
.cost-title{font-size:16px;font-weight: 600}
.cost-jinge{font-size: 15px}
.numberbox{width: 52px;text-align: center;display: block;cursor: pointer;}
.numberbox-auto{margin:0 auto;}
.numberbox-right{float: right;}
.numberbox>p{
    font-size: .47rem;
}
.numberbox>span{
    color: #999
}
/*工单详情*/
.title-vh5{border-left: 2px solid #ffa94e;padding-left: 8px;font-size: 16px;font-weight: 600;margin-top: 30px;}
.gz-img{
    width: .8rem;height: .8rem;margin-right: 10px;display: inline-block;overflow: hidden;margin-bottom: 10px}
.gz-img>img{width: 100%;height: 100%;}
.o-details-span{
    float: left;
}
.o-details-img{margin-left: 70px;}
.dts-title{float: left;height: 34px;line-height: 34px}
.dts-btnBox{margin-left: 150px;text-align: right;}
.dts-top{margin-bottom: 8px;}
.dts-buttom{margin-top: 30px;}
.dts-buttom-content{margin-left: 65px}
.dts-buttom-content>table{width: 100%;border: 1px solid #d5d5d5}
.dts-list .left-jiao{width: 40px;border:20px solid #ccc;position: absolute;border-color: #ccc #ccc transparent transparent;
    transform: rotate(-90deg);
    left: -20px;
    top: -10px;}
.dts-list .left-jiao i{position: absolute;transform: rotate(90deg);
    color: #fff;
    left: 0px;
    top: -15px;}
.dts-list{margin-top: 20px;clear: both;font-weight: 500;}
.dts-list>span{float: left;width: 70px;text-align: left;}
.dts-list>.left-width42{width: 42px;}
.dts-list>.left-width60{width: 60px;}
.dts-list>div{margin-left: 76px;padding-right: 50px;min-height: 20px;font-family: "Microsoft YaHei";}
.dts-list>.mgleft42{margin-left: 42px;}
.dts-list>.mgleft60{margin-left: 60px;}
.touxiang,.lianxiren{display: inline-block;height: 40px}
.touxiang{width: 40px;border-radius: 50%;overflow: hidden;}
.touxiang>img{width: 100%;height: 100%;}
.product-record-list{border: 1px solid #cdcdcc;width:383px;height: 70px;padding:10px;line-height: 1.6;border-radius: 4px}
.dts-list-xq>table{width: 100%;border: 1px solid #cdcdcc}
.edit-ipt{display: none;}
.editors{display: none;float: right;}
/*订单详情*/
.ordoer-left-state{display: inline-block;padding: 2px 3px;border-radius: 4px;margin-left: 10px;margin-top: 4px;color: #fff}
.total-cost{margin-top: 30px;font-weight: 600;}
.total-cost>p{display: inline-block;margin-right: 50px;line-height: 2;}
.details-list{border: 1px solid #cdcdcd;border-radius: 5px;padding:20px;margin-bottom: 20px;}
/*2018.3.32仓储*/
td>label,th>label{margin-left: 10px;}
td,th{padding:0 10px;font-size: 14px;position: relative; }
td>input{width: 90%;margin-left: 5%;height: 30px;border-radius: 4px;text-align: center;}
.bottom-btn-box{margin-top: 20px;}
.bottom-btn-box>.btn-orange{color: #fff;}
.delet-btn{border: 1px solid #999;background: #f7f7f7;}
hr{clear: both;}

thead{background: #f8f8f8;}
/*4.11 系统设置*/
.nav-box-list{background: #fff;}
.nav-box-list>h4{font-size: 20px;color: #333;margin-left: 30px;padding-top: 20px;margin-bottom: 44px;font-family: "Microsoft YaHei";}
.nav-content>a{display: inline-block;text-align: center;margin-left: 10px;margin-bottom: 33px;margin-right: 10px;}
.nav-content-a>img{width: 60px;height: 60px;display: block;margin:0 auto;}
.nav-content-a>span{color: #333;font-size: 14px;font-family: "Microsoft YaHei";font-weight: 600;display: inline-block;margin-top: 10px;width: 100px;}
/*2018.4.18*/
.icon-rili,.icon2-rili,.single-search-kuang2 .icon2-rili{position: absolute;
    right: 5px;
    top: 1px;
    height: 32px;
    line-height: 32px;
    background: #fff;
    width: 24px;
    text-align: center;line-height: 34px;}
.search-box-kuang>.col-sm-6 {
    padding-left: 0;
    position: relative;
}
.addinput-list{position: relative;text-align: justify;text-justify:inter-ideograph;padding:0;}
.yanzheng-red{position: absolute;left: 15px;bottom: -20px;}
.ignore {
    border: 1px solid #ccc;
    background: #f7f7f7;
    color: #000;
}
.addinput-list>.Validform_wrong{position: absolute;bottom: -20px;left: 0;}
.right-title3>.Validform_wrong{position: absolute;bottom: -20px;left: 0;z-index: 9}
.auto-height{height: auto;margin-bottom: 20px;}
.line-height34{line-height: 34px}
/*5.10搜索框样式*/
.single-search{float: left;width: 250px;position: relative;height: 40px;overflow: hidden;margin-bottom: 15px;}
.single-search>.search-box-lable,.tow-search>.search-box-lable,.three-search>.search-box-lable{line-height: 36px;width: 80px;}
.single-search-kuang1{margin-left:85px; }

.single-search-kuang2{margin-left:85px;text-align: justify;width:355px;height: 40px;overflow: hidden;}
.tow-search,.three-search{float: left;width: 440px;position: relative;overflow: hidden;margin-bottom: 15px;height: 40px;}
.three-search{width: 630px;}
.half-search,.one-third{width: 165px;display: inline-block;position: relative;}
.half-search .icon-rili{right: 5px}
.half-search>.zhi{right: -18px}
.search-confirm{float: left;width: 75px;margin-left: 15px;}
.search-confirm2{width: 150px;float: left;}
.search-confirm>.btn,.search-confirm2>.btn{padding: 6px 10px;margin-left: 15px;}
.no-border{border: 1px solid transparent;}
.nav-tabs{margin-bottom: 15px;}

/*2018.5.16技师排班日历*/
.pb-general-box{width: 100%;position: relative;padding:0 30px;}
.pb-calendar-box,.pb-calendar-dbox{width: 100%;border-radius: 4px;position: relative;overflow-x: auto;}
.pb-calendar-dbox{border-right: 1px solid #ccc;min-height: 300px;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.pt-top,.pt-left{position: absolute;left: 30px;background: #f5f5f5;z-index: 9;top:0;}
.pt-left td{background: #f5f5f5;}
td .Validform_checktip{position: absolute;}
.pt-left{width: auto;}
th>hr{margin: 10px;}
.tb-width-100 td,.tb-width-100 th,.pt-left td,.pt-left th{width: 126px;border: 1px solid #ccc;padding:0;overflow-x: hidden;position: static;}
.tb-width-100 th,.pt-left th{height: 89px;background: #f8f8f8;padding:0;}
.tb-width-100 td{position: relative;}
.bg-f0f8ff{background:#f0f8ff;}/*上午班*/
.bg-fff0f0{background: #fff0f0;}/*晚班*/
.bg-f2fff3{background: #f2fff3;}/*下午班*/
td>.icon-bangzhu{position: absolute;right: 5px;top: 5px;}
.pb-technician-checkbox {
    margin-left: 10px;
    display: inline-block;
    margin-top: 7px;
    width: 120px;
    height: 20px;
    overflow: hidden;
   
}
.justify_fix120{
    display: inline-block;
    width: 120px;
    height: 0;
    overflow: hidden;
}
.pb-technician-checkbox>label{font-weight: 500;width: 100%;height: 100%; text-overflow: ellipsis;white-space: nowrap;
    overflow: hidden;}
.pb-tec-box{min-height: 32px;max-height: 70px;overflow: hidden;}
.center{text-align: center;}
.custom-td{position: relative;}
.td-delete{position: absolute;color: red;right: -40px;}
.display-none{display: none;}
.border-dedede{border:1px solid #dedede;border-radius: 4px}
.month-repeat{width: 422px;}
.month-repeat td{width: 60px;padding:0;}
.month-repeat td:hover{background: #e8e8e8;color: #333;}
.month-repeat-day,.month-repeat-day>label{display: block;width: 100%;height: 100%;position: relative;margin-bottom: 0;margin-right: 0;line-height: 37px;font-weight: 500;font-size: 13px;}
.month-repeat-day input[type="checkbox"] + label::before {
    position: absolute;left: 0;top: 0;
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 100%;
    height: 100%;
    margin-right:10px;
    border-radius: 3px;
    border: 1px solid transparent;
    margin-top: -2px;
   }
.month-repeat-day input[type="checkbox"]:checked + label::before{
    background: transparent;
}
.td-orange{background: #2693ff;color: #fff;}
/*页面加载*/
.loading-img{display: table;width: 100%;}
.loading-img>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.loading-bg{display: inline-block;width: 250px;height: 250px;background:url(../images/jiazai1.gif);background-size: 100% 100%;}
#technician{margin-bottom: 20px;}
.see-more-a{position: absolute;bottom: -15px;left: 120px;}
#weekly>.pb-technician-checkbox{width: auto;}
.single-search-kuang3{margin-left:85px;text-align: justify;width:545px;height: 40px;overflow: hidden;}
/*5.25优化*/
.time-equable{width: 30%;display: inline-block;position: relative;}


/*2018.6.5层级架构*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top: 2px solid #2693ff;
}
.hrc-left-box{
    width: 250px;
    position: absolute;left:10px;
}
.hrc-right-box{
    margin-left: 250px;
    height: 100%;border-left: 1px solid #ccc;min-height: 400px;
}
@media screen(max-height: 900px) {
    .hrc-right-box{min-height: 700px;}
}
.right-top-tab{padding: 10px;position: relative;}
.hrc-left-sousuo{height: 50px;border-bottom: 1px solid #e8e8e8;}
.hrc-left-sousuo>input,.hrc-left-sousuo>button,.hrc-right-sousuo>input,.hrc-right-sousuo>button{float: left;margin-left: 15px;}
.tree-shape-nav{padding-top: 10px;overflow-x: auto;}
.tree-shape-nav span{cursor: pointer;font-size: 12px;position: relative;display: block;height: 25px;}
.tree-shape-nav span>i{margin-right: 10px;position: absolute;left: -15px;top: 3px;}
.hrc-right-sousuo{position: absolute;right: 0;top: 0;}
.tree-shape-nav ul{margin-bottom: 0;width: auto;}
.tree-shape-nav li{width: auto;white-space: nowrap;min-height: 30px;}
/*产品类目样式*/
.left-border-d5d5d5,.center1-border-d5d5d5,.center2-border-d5d5d5,.right-border-d5d5d5{border-right: 1px solid #ccc;float: left;border-top: 1px solid #ccc; }
.left-border-d5d5d5{width: 58%;border-left: 1px solid #ccc;height: 40px;overflow-y:hidden;}
.right-border-d5d5d5{width: 20%;height: 40px;overflow-y:hidden; }
.center1-border-d5d5d5,.center2-border-d5d5d5{width: 10%;height: 40px;overflow-y:hidden; }
.table-box li{clear: both;min-width: 970px;max-width: auto;}
.li-tb-title,.li-td-left{display:block;padding:10px;}
.li-td-center{display: inline-block;width: 100%;padding:10px;text-align: center;}
.li-tb-title{text-align: center;background: #f8f8f8;}
.li-td-left{text-align: left;}
.xian98{width: 98%;height: 1px;background: #ccc;}
.li-td-left i{position: absolute;top: 15px;left: 0;cursor: pointer;}
/*添加类目样式*/
.drop-dw-layerbox,.drop-dw-rolebox{
    width: 100%;height: 215px;overflow: auto;position: absolute;top: 33px;border:1px solid #ccc;background: #fff;display: none;border-radius: 3px;z-index: 66;display: none;
}
.addinput-list>.drop-dw-layerbox .icon2-shixinyou{top: 7px;}
.drop-dw-layerbox li{word-break: keep-all;white-space: normal;padding-left: 10px;}
.addinput-list>.drop-dw-layerbox li{padding-left: 10px;}
.icon-shouqi1{position: absolute;right: 5px;top: 8px;color: #c8c8c8;cursor: pointer;}
.sub-menu .icon-shouqi1{top: 17px;}
.drop-dw-layerbox ul{padding-left: 10px;width: auto;}
li label{font-weight: 500;font-size: 14px;font-family: "Microsoft YaHei";cursor: pointer;}
.drop-dw-layerbox span{display: block;padding:3px 0 3px 20px;color: #333;cursor: pointer;position: relative;}
.drop-dw-layerbox label{cursor: pointer;display: block;}
.drop-dw-layerbox .icon2-shixinxia,.drop-dw-layerbox .icon2-shixinyou,.drop-dw-layerbox .icon2-shixinyou,.drop-dw-layerbox .icon2-shixinxia{position: absolute;left: 0px;top: 7px;color: #666;}
.drop-dw-layerbox .icon2-shixinyou{top: 7px;font-size: 14px;}
.misplacement{display: none;}
.drop-dw-layerbox-department input[type="checkbox"] + label::before{top: 9px;}
.btn-center-box{text-align: center;}
.btn-li{position: absolute;left: 0;bottom: 0;width: 100%;}
.btn-li>a{width: 49.5%;border-width: 0;padding:0;height: 34px;display: inline-block;text-align: center;line-height: 34px;}
.drop-dw-rolebox li{margin-top: 10px;position: relative;padding-left: 10px;}
.drop-dw-rolebox li>input[type="checkbox"] + label::before{top: 6px;left: 5px;}
.drop-dw-rolebox li>input[type="checkbox"]:checked + label::before{top: 6px;left: -5px;}
.drop-dw-rolebox li>label>.gou-i{left: 0;}
.many-role-ul{height: 180px;overflow-y: auto;margin-left: 10px;}
.many-role-ul::-webkit-scrollbar{width: 5px;background: #f8f8f8;}
.many-role-ul::-webkit-scrollbar-thumb{background: #ccc;border-radius: 5px}
/*2018.6.7添加机构*/
.add-step-ul>li{float: left;text-align: center;margin-left: 86px;}
.add-step-ul>li>span{display: inline-block;width: 40px;height: 40px;border-radius: 50%;background: #2693ff;color: #fff;text-align: center;line-height: 40px;font-size: 18px;position: relative;}
.sp-xian{position: absolute;width: 90px;height: 1px;background: #ccc;left: -112px;top: 20px;}
.add-step-ul>li>em{font-style: normal;display:block;font-size: 16px;color: #333;margin-top: 10px;font-weight: 600;}
/*.tab-content{overflow-x: auto;}*/
.fold-tb-box{width: 1500px;}
.text-left{text-align: left;}
.table-bordered > tbody > tr > td{font-size: 12px;}
a.toggleOpenClose{text-decoration: none;}
.hgt-ov58{height: 58px;overflow: hidden;}
.hgt-ov58>.Validform_wrong{bottom: 0;}
/**/
.tb-layerbox{text-align: left;}
.tb-layerbox li>span{position: relative;padding-left: 30px;display: inline-block;width: 100%;}
.tb-layerbox .icon{position: absolute;left: 0;}
td.padding15,th.padding15{padding-top: 5px}
.tb-layerbox li>span>input[type="checkbox"] + label,td.padding15 input[type="checkbox"] + label,th.padding15 input[type="checkbox"] + label{padding-left: 0;position: relative;}
td.padding15 input[type="checkbox"] + label,th.padding15 input[type="checkbox"] + label{margin-left: 0;;display: inline-block;width: 15px;height: 15px;}
td.padding15 input[type="checkbox"] + label:before,th.padding15 input[type="checkbox"] + label:before,td input[type="checkbox"]:checked + label:before,th input[type="checkbox"]:checked + label:before{top: 5px;left: 0;}
.tb-layerbox li>span>input[type="checkbox"] + label::before{top: 8px;left: -17px;}
.tb-layerbox li>span>input[type="checkbox"]:checked + label::before{top: 8px;left: -17px;}
#product_hide .gou-i{left: -14px;}
.tb-layerbox .gou-i{left: -14px;top: 3px;}
.tb-layerbox .icon2-shixinyou,.tb-layerbox .icon2-shixinxia{position: absolute;left: 0;top: 0;line-height: 25px;}
.li-td-center>a{margin:0 4px;}
.td-chlid-box{text-align: left;}
.td-chlid-box>span{margin-right: 10px;position: relative;height: 40px;overflow: hidden;width: 20%;display: inline-block;}
.td-chlid-box label{font-weight: 500;}
.td-chlid-box>span>input[type="checkbox"] + label{padding-left: 18px;left: 0px;top: 0;}
.td-chlid-box>span>input[type="checkbox"] + label::before{position: absolute;left: 0;top: 6px;}
/*.td-chlid-box>span>input[type="checkbox"]:checked + label{padding-left: 15px;}*/
/*.td-chlid-box>span>input[type="checkbox"]:checked + label::before{position: absolute;left: 0px;top: 0;padding: 0;}*/
td>.region-box{width: 28%;float: left;margin:30px 3% 30px 0;text-align: left;}
input.ckb-disabled[type="checkbox"] + label::before{background: #ccc;cursor: not-allowed;border-color: #ccc;}
.whole-region-check input[type="checkbox"] + label::before{top: 6px;}
input.ckb-disabled[type="checkbox"] + label{
     cursor: not-allowed;
   }
.depart span{padding-left: 16px;position: relative;}
.depart .icon{position: absolute;left: -4px;top: 1px;cursor: pointer;}
#depart input[type="checkbox"] + label{position: relative;padding-left: 0;}
#depart  input[type="checkbox"] + label::before{top: 6px;left: -18px;}
#depart .gou-i{left: -14px;}
.table-responsive{clear: both;padding: 0 20px;}
.single-search-kuang1>.drop-dw-layerbox{width: calc(100% - 86px);top: 34px;}
.single-search-kuang1>.drop-dw-layerbox>button{width: 100%;position: absolute;left: 0;bottom: 0;}
.ul-box-h180::-webkit-scrollbar{width:10px;}
/*.ul-box-h180::-webkit-scrollbar-button{background: red;position: relative;}*/
.ul-box-h180::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  -webkit-border-radius: 10px; border-radius: 10px;}
.ul-box-h180::-webkit-scrollbar-button:after{content: '';width: 80%;height: 10px;position: absolute;left: 10%;background: #fff;}
.ul-box-h180::-webkit-scrollbar:horizontal{height:10px;}
.ul-box-h180::-webkit-scrollbar-thumb{background:#ccc;border-radius: 5px}
.ul-box-h180{height: 180px;overflow: auto;}
.ul-box-h180>ul{overflow: visible;width: auto;}
/*.ul-box-h180 ul{padding-left: 0;}*/
.ul-box-h180 input[type="checkbox"] + label{padding-left: 18px;position: relative;}
.ul-box-h180 input[type="checkbox"] + label::before,.ul-box-h180 input[type="checkbox"]:checked + label::before{left: 0px;top: 6px;}
.ul-box-h180 .gou-i{left: 4px;}
.ul-box-h180  .depart .icon{top: 4px}
.ul-box-h180 .icon{left: 0;}
.pop-title100{width: 100%;text-align: center;border-bottom: 1px solid #e8e8e8;position: relative;height: 46px;}
.pop-title100>.position-left{position: absolute;left: 10px;top: 12px;font-size: 16px;}
.pop-title100 span{margin:0px 20px;cursor: pointer;}
.bottom-orangexian{color: #2693ff;border-bottom: 1px solid #2693ff;}
/*layer弹窗样式*/
.layui-layer-setwin .layui-layer-close2,.layui-layer-setwin .layui-layer-close2:hover{background:url(../images/chahao.png) no-repeat left center;background-size:100%;width: 18px;height: 18px;top: -1px;right: 0px;}
/**/
.border-right-auto{overflow: auto;margin:0 10px;border: 1px solid rgba(204,204,204,0.5);padding:10px;}
a.btn-orange:hover{color: #fff;}
.top-data-box{height: 100px;}
.top-data-box>div{float: left;width: 196px;padding:8px 0;border-radius: 10px;margin-right: 20px;text-align: center;color: #fff;}
.top-data-box>div>p{font-size: 18px;margin: 5px 0 0 0;}
#level-tree{padding-left: 0;}
#level-tree li{position: relative;padding-left: 15px;}
#level-tree li i{position: absolute;left: 0;cursor:pointer;}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{position: static;}
.td-pst-relative{position: relative;}
.drop-dw-layerbox-department .icon2-shixinyou{top: 5px;}
.drop-dw-layerbox-department .gou-i{top: 4px;}
.tc-duojishi{width:150px;margin:0px;text-align: center;float: left;}
.popup-nr196 input[type="checkbox"] + label::before{top: 6px;left: 0;}
.popup-nr196 input[type="checkbox"]:checked + label::before{left: 0;}
.height10{padding:5px 0;clear: both;margin:0;}
.mgr10{margin-right: 10px;}
.region-limit>.input-zhanwei{position: absolute;width: 100%;height: 36px;left: 0;top: 0;}
.border-right-auto::-webkit-scrollbar{width:10px;}
.border-right-auto::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  -webkit-border-radius: 10px; border-radius: 10px;}
.border-right-auto::-webkit-scrollbar:horizontal{height:10px;}
.border-right-auto::-webkit-scrollbar-thumb{background:#ccc;border-radius: 5px}
ul.depart{padding-left: 0;}
input[type="radio"] + label.disabled-label::before{border-color: #ccc;cursor: not-allowed;}
/*dxt_v1.0 2018.7.23*/
.padding0{padding: 0}
.padding-right0{padding-right: 0;}
.padding-left0{padding-left: 0;}
.product-jia{position: relative;margin-bottom: 15px;margin-left: 30px;}
.product-jia>i{position: absolute;color: #979797;font-size: 12px;top: 3px;left: -6px;}
.product-jia>.unit{position: absolute;right: 2px;top:1px;height: 32px;line-height: 32px;padding-right: 3px;background: #fff;color: #666}
.add-product-list{clear: both;height: auto;position: relative;}
.add-product-list>.delete-a{position: absolute;right: -50px;height: 34px;line-height: 34px;}
#addProductList{clear: both;display: block;width: 22px;height: 22px;border:1px solid #2693ff;border-radius: 4px;color: #2693ff;margin-bottom: 15px;overflow: hidden;}
#addProductList>.icon-add-more{display: block;
    font-size: 14px;
    text-align: center;}
#addProductList:link{text-decoration: none;}
.addinput-list>.record,.add-product-list>.record{margin-top: 10px;width: calc(100% + 170px);height: 112px;border:1px solid #ddd;margin-bottom: 15px;border-radius: 4px;padding: 15px;position: relative;overflow: hidden;display: none;}
.addinput-list>.record li,.add-product-list>.record li{width: 80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 12px;line-height: 1.8;}
.addinput-list>.record .see-more,.add-product-list>.record .see-more{position: absolute;right: 10px;bottom: 10px;font-size: 12px;}
.radioLable>input[type="radio"] + label::before{display: none;}
.radioLable>input[type="radio"] + label{font-size: 14px;font-weight: 500;}
/*.product-jia>.misplacement{left: 17px;}*/
.imgEnlarge-chlid>img {max-height: auto;max-width: auto;}
#productInformation>.dts-list{border:1px solid #ccc;border-radius: 4px;padding: 10px 20px;}
#productInformation>.dts-list>div{padding: 0;margin-left: 0;}
#productInformation>.dts-list .right-title3{margin-left: 96px;}
#productInformation>.dts-list>.col-lg-4>.right-title3{overflow: hidden;text-overflow: ellipsis;}
#productInformation>.dts-list .left-title80{left: 0;font-weight: 500;}
#productInformation>.dts-list .gz-img{margin-top: 10px;margin-bottom: 0;}
.width540{width: 540px;display: inline-block;}
.width650-box{width: 650px;}
.width630-box{width: 630px;}
.width540-box{width: 540px;}
.width560-box{width: 560px;}
.height-auto{height: auto;}
.margin-top0{margin-top: 0;}
.margin-top20{margin-top: 20px;}
.margin-top30{margin-top: 30px}
.margin-top40{margin-top: 40px;}
.margin-top50{margin-top: 50px;}
.margin-top60{margin-top: 60px;}
.margin-top70{margin-top: 70px;}
.padding-top10{padding-top: 10px;}
.margin-bottom10{margin-bottom: 10px;}
.margin-left30{margin-left: 30px;}
.mgr20{margin-right: 20px}
.margin-right0{margin-right: 0;}
.width380{width: 380px;}
.width390{width: 390px;}
.width400{width: 410px;display: inline-block;}
.width100{width: 100px;display: inline-block;}
.width120{width: 120px;}
.add-product-list>div{float: left;position: relative;}
.left-float{float: left;}
.bottom-10{bottom:-10px;}
.bottom-20{bottom: -20px;}

/*dxt_v2.0 2018.8.1*/
.right-item-shanchu{display: inline-block;position: relative;}
.right-delete-a{position: absolute;right: -35px;}
.border-rt-c{border-right: 1px solid #ccc;}
a .icon2-shixinyou,a .icon2-shixinxia{color: #666;}
#addProductList{text-align: center;}
/*dxt_v3.0 2018.8.20*/
.top-search{position: relative;}
.top-search>i{position: absolute;line-height: 30px;top: 0;left:calc(50% - 30px);width: 30px;text-align: center;color: #bbb;}
.left-content-box,.right-content-box{width: 49%;float: left;}
.left-content-box{border-right: 1px solid #eee;padding-right: 60px;}
.left-content-box .addinput-list,.right-content-box .addinput-list{margin-right: 80px;position: relative;}
.left-content-box .margin-right0{margin-right: 0;}
.left-content-box .addinput-list>.btn{position: absolute;right: -80px;top: 0;}
.left-content-box .add-product-list{margin-right: 200px;}
.left-content-box  .add-product-list>div{float: none;}
.left-content-box .add-product-list .product-jia{position: absolute;right: -120px;top: 0;width: 90px;}
.left-content-box .add-product-list .add-btn{position: absolute;right: -200px;top: 0;}
#addProductBox>.add-product-list{margin-right: 120px;}
#addProductBox>.add-product-list>.padding-left0{margin-bottom: 20px;}
#addProductBox>.add-product-list>.delete-a{top: 0;right: -158px;}
.left-content-box .name-title-lable,.left-content-box label,.left-content-box p,.left-content-box input{font-size: 12px;font-weight:normal;}

    /*右边样式*/
.right-content-box{padding-left: 30px;}
.right-content-box>.top-search>input{width: 50%;height: 30px;border:1px solid #ddd;border-radius: 30px;padding: 0 15px;font-size: 12px;}
.right-content-box>.top-search>input:focus{border-color:#66afe9;}
.right-content-box>.tab-nav{border-bottom: 1px solid #ddd;height: 41px;margin-top: 20px;}
.right-content-box>.tab-nav li{float: left;padding:9px 15px 10px 15px;border-bottom: 2px solid transparent;cursor: pointer;}
.right-content-box>.tab-nav li:hover{color:#0378ec;}
.right-content-box>.tab-nav .active{border-color: #0378ec;color:#0378ec;}
.right-content-box>.tab-content{margin-top: 12px;}
.right-content-box>.tab-content table{font-size: 12px;}
.right-content-box>.tab-content table th{font-weight: normal;background: #fbfbfb;font-size: 12px;text-align: left;color: #666;}
.right-content-box>.tab-content table td{font-size: 12px;text-align: left;background: #fff;padding: 10px;}
.right-content-box>.tab-content table td img{width: 20px;height: 18px;display: inline-block;margin:0 5px;border-radius: 4px;cursor: pointer;}
.tab-content h5{margin:20px 0 10px 0;font-size: 14px;color: #333;}
   /*tab合同样式*/
.right-content-box>.tab-content table .outline-img-box>img{width: 58px;height: 58px;float: left;overflow: hidden;margin:10px;}
/*#tabContract{border-bottom: 1px solid #ddd;}*/
#tabContract>.contract-list{clear: both;border-width: 0 1px 0 1px;border-color: #ddd;border-style: solid;background: #f5f6f7;}
#tabContract>.top-no-border{border-top: 0;}
#tabContract>.bottom-no-border{border-bottom: 0;}
#tabContract>.contract-list>div{}
#tabContract>.contract-list>.stair{border-width: 1px 0 0 0px;border-color: #ddd;border-style: solid;height: 32px;margin-top: -1px;}
#tabContract>.contract-list>.stair>div{background: #fff;float: left;height: 30px;line-height: 30px;text-align: left;border-right: 1px solid #ddd;padding: 0 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#tabContract>.contract-list>.stair>.no-border{border-width: 0;}
#tabContract>.contract-list>.stair>.left{width:23%;font-size: 12px;}
#tabContract>.contract-list>.stair>.center{width:61%;cursor: pointer;font-size: 12px;}
#tabContract>.contract-list>.stair> .right{width:16%;font-size: 12px;}
#tabContract>.contract-list>.stair> .right a{font-size: 12px;color: #0c78ea;}
#tabContract>.contract-list>.stair-content{padding-bottom: 15px;display: none;}
#tabContract>.contract-list>.stair-content>.tow-stage-nav{margin:20px 10px 0 10px;border:1px solid #ddd;}
#tabContract>.contract-list>.stair-content>.tow-stage-nav ul{display: flex;}
#tabContract>.contract-list>.stair-content>.tow-stage-nav li{flex: 1;text-align: center;background: #fff;font-size: 12px;height: 27px;line-height: 27px;border-right: 1px solid #ddd;cursor: pointer;}
#tabContract>.contract-list>.stair-content>.tow-stage-nav li:hover{background:#0c78ea;color: #fff;border-right-color:#0c78ea;}
#tabContract>.contract-list>.stair-content>.tow-stage-nav .no-border{border-width: 0;}
#tabContract>.contract-list>.stair-content>.tow-stage-nav .active{background:#0c78ea;position: relative;color: #fff;border-right-color:#0c78ea;}
#tabContract>.contract-list>.stair-content>.tow-stage-nav .active:after{content: '';position: absolute;width: 10px;height: 10px;transform: rotate(45deg);background: #0c78ea;top: 20px;left:calc(50% - 5px);}
#tabContract .tow-list-box{margin:20px 10px 0 10px;display: none;}
#tabContract .tow-list-box>.title{color: #666;}
#tabContract .tow-list-box>.title>a{float: right;color: #0378ec;font-size: 12px;}
.tab-content-list,.three-level-box{display: none;}
.product-add-order-a{margin-left: 10px;display: none;}
.no-data-zhibang{margin-top: 100px;text-align: center;display: none;}
/*svg图标*/
 @font-face {
        font-family: 'icomoon';
        src:  url('svgFonts/icomoon.eot?b1vqfn');
        src:  url('svgFonts/icomoon.eot?b1vqfn#iefix') format('embedded-opentype'),
        url('svgFonts/icomoon.ttf?b1vqfn') format('truetype'),
        url('svgFonts/icomoon.woff?b1vqfn') format('woff'),
        url('svgFonts/icomoon.svg?b1vqfn#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    [class^="icon-"], [class*="icon1-"] {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon';
      /*font-family: 'icomoon' !important;*/
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .icon1-cha:before {
      content: "\e900";
      color: #bfbfbf;font-size: 14px;
      position: absolute;right: 5px;top: 5px;
    }
    .icon1-gou:before {
      content: "\e901";
      color: #cdcdcd;
    }