/*注册头部*/
body {
    font-family: "微软雅黑";
}

.register-title {
    width: 100%;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

.box-1200 {
    width: 1200px;
    margin: 0 auto;
}

.register-title-box > div {
    display: inline-block;
    height: 43px;
    overflow: hidden;
}

.register-title-left > img {
    height: 43px;
}

.register-title-right > p {
    margin-left: 10px;
    line-height: 43px;
    font-size: 28px;
    font-weight: 500;
}

.login-box {
    box-shadow: 0 0 5px #ccc;
    margin: 30px auto;
    padding: 30px 50px;
    background: #ffffff;
    width: 700px;
}

/**/
.title {
    text-align: center;
    height: 200px;
    margin: auto;
    width: 400px;
    position: relative;
}

.logo {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: 0;
}

.biaoti {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    width: 400px;
    bottom: 5px;
    left: 20px;

}

.register-step-i {
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    font-style: normal;
    color: #fff;
}

.register-step {
    text-align: center;
    margin: 20px;
    position: relative;
}

.xiantiao {
    position: absolute;
    top: 20px;
    left: 315px;
    width: 533px;
    height: 1px;
    border-bottom: 1px solid #ccc;
    z-index: -1;
}

.step > span {
    /*margin: 0 50px;*/
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ccc;
    transform: rotate(45deg);
    z-index: 1;
}

.step > p {
    font-size: 12px;
    margin-top: 10px;
}

.step {
    display: inline-block;
    /*position: relative;*/
    padding: 10px;
    background: red;
    /*width: 80px;*/
    background: #fff;
    margin: 0 100px;
}

.step > .execute-span {
    background: #2693ff;
}

.step > .execute-p {
    color: #2693ff;
}

#register-form {
    margin: 50px 0;
}

.form-group {
    border-bottom: 15px;
}

.btn-register {
    margin: 0 auto;
}

#register_submit {
    width: 200px;
    /*margin: 0 auto;*/
    margin-left: 120px;
    background: #2693ff;
    border: 0px solid #fff;
    box-shadow: 0 0 5px #e8e8e8;
}

.control-label {
    width: 70px;
    text-align: right;
    font-size: 14px;
    margin-right: 30px;
}

.form-control {
    display: inline-block;
    width: 280px;
}

.remind_message {
    color: red;
    margin: 5px;
    font-size: medium;
}

.btn-father {
    position: relative;
}

.btn-yzm, .btn-fsyzm {
    height: 26px;
    color: #fff;
    border-radius: 2px;
}

.btn-yzm {
    background: #2693ff;
    /*background: rgb(66,139,202);*/
    border: 1px solid #2693ff;
}

.btn-yzm[disabled], .btn-disabled {
    background: #c6c9cb;
    border: 1px solid #c6c9cb;
}

.btn-fsyzm {
    display: none;
    font-size: 12px;
    background: #ccc;
    line-height: 32px;
    text-align: center;
}

/*第二页样式*/
#userinfo-user_type {
    display: inline-block;
}

/*.radio{
    display: inline-block;
    width: 120px;
}*/
.input-group {
    margin-top: -30px;
    display: inline-block;
    width: 280px;
}

.input-group {
    /*display: none;*/
    margin-left: 80px;
}

.box-footer {
    text-align: center;
}

/*第二个页面*/
.radio {
    position: relative;
}

.radio-label {
    display: inline-block;
    position: relative;
    margin-right: 50px;
}

.radio-label input {
    position: absolute;
    /*left: -9999px;*/
}

.radio-label > i {
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    outline: 0;
    border: 1px solid #e4e4e4;
    background: #ffffff;
    border-radius: 50%;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;

}

.radio .radio-label input + i:after {
    position: absolute;
    content: '';
    border: 1px solid #e4e4e4;
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #2693ff;
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}

.radio-label input:checked + i:after {
    opacity: 1;

}

.radio-label input:checked + i {
    border: 1px solid #2693ff;
}

.delImage {
    font-style: normal;
    font-weight: 100;
}

.field-userinfo-logo {
    margin-top: 20px;
}

.field-userinfo-logo > .input-group, .field-userinfo-business_licence > .input-group {
    display: inline-block;
    margin-left: 0;
}

.field-userinfo-logo > .input-group > span, .bus_class {
    display: inline-block;
}

.field-userinfo-logo > .input-group > span > button, .bus_class > button {
    background: #2693ff;
    color: #fff;
}

.field-userinfo-logo > .logo_class, .field-userinfo-business_licence > .bus_class {
    display: none;
    /*width: 100px;*/
    margin-top: 15px;
    margin-left: 105px;
    overflow: hidden;
}

.field-userinfo-business_licence > .bus_class {
    width: 243px;
    height: 160px;
}

.field-userinfo-business_licence > .bus_class > img {
    width: 100%;
    height: 150px;
}

.field-userinfo-business_licence > .bus_class > em {
    left: 220px;
}

.field-userinfo-logo > .logo_class > .cus-img {
    /*display: none;*/
}

.box-footer {
    width: 386px;
}

.bus_class > button:hover {
    background: #2693ff;
    color: #fff;
}

.box-footer > button {
    width: 180px;
    height: 40px;
    background: #2693ff;
    border: 0 solid #fff;
}

.box-footer > button:hover {
    background: #2693ff;
    border: 0 solid #fff;
}

/*第三页*/
.check-wancheng {
    margin: 0 auto;
    position: relative;
    width: 80px;
    height: 80px;
    border: 5px solid #67b636;
    border-radius: 50%;
}

.check-wancheng:after {
    position: absolute;
    top: 10px;
    left: 15px;
    content: "";
    display: block;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    border: 5px solid #67b636;
    border-color: transparent transparent #67b636 #67b636;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}

.check-denglu {
    display: block;
    margin: 10px auto;
    width: 75px;
    height: 25px;
    background: #2693ff;
    border-radius: 5px;
    line-height: 25px;
    color: #fff;
}

.check-denglu:hover {
    text-decoration: none;
    color: #fff;
}