
.ipt {
    /*width: 300px;*/
}

.ipt-error .ipt, .ipt-error .ipt:hover {
    border-color: #f04134;
}

.ipt-error .ipt:focus {
    border-color: #f04134;
    outline: 0;
    -webkit-box-shadow: 0 0 2px 1px rgba(240, 65, 52, 0.6);
    box-shadow: 0 0 2px 1px rgba(240, 65, 52, 0.6);
}

.ipt-done .ipt, .ipt-done .ipt:hover {
    border-color: #34bd30;
}

.ipt-done .ipt:focus {
    border-color: #34bd30;
    outline: 0;
    -webkit-box-shadow: 0 0 2px 1px rgba(52, 189, 48, 0.6);
    box-shadow: 0 0 2px 1px rgba(52, 189, 48, 0.6);
}

span.ipt-explain {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 12px;
    list-style: none;
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    height: 14px;
    line-height: 14px;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

span.ipt-explain > i.fa {
    margin-right: 3px;
    font-size: 16px;
    vertical-align: middle;
}

.ipt-done span.ipt-explain {
    color: #34bd30;
}

.ipt-error span.ipt-explain {
    color: #f04134;
}

.ipt-wrapper {
    position: relative;
    display: inline-block;
}

.ipt-wrapper .btn-yzm {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.ipt-group {
    position: relative;
}