.table-responsive{
	width: 100%;
}
.table-bordered{
	margin-top: 30px;
}
.reportForm-title{
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: 600;
}
.report-bottom-title{
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.daochu{
	float: right;
	margin-right: 30px;
}
.class_type_list{
	position: relative;
}
.class_type_list{
        height: 56px;overflow: hidden;
    }
    .cus-ser-bili{
        width: 187px;
    }
.shrink,.stop{
	position: absolute;
	top: 16px;
	right:30px;
}
.stop{
	display: none;
}
.brand-label{
	font-size: 14px;
	font-weight: 100;
	padding: 10px;
}
.pinpai{
	position: relative;
	margin-left: 55px;
	border-radius: 2px;
	margin-top: 30px;
	border: 1px solid #ccc;
}
.left-tit-cp{
	position: absolute;
	left: -42px;top: 0;
}
.brand-box{
	width: 75%;
	display: inline-block;
}
.search-ok{
	padding: 30px;
	border-top:1px solid #ccc;

}
.search-ok-btn{
	border: 1px solid #2693ff;
	background: #2693ff;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	margin-left: 100px;
}

#main{
	margin-top: 50px;
}
.cus-ser-box{
	position: relative;
	width: 100%;
}
.cus-ser-bili{
	position: absolute;
	height: 400px;
	right: 0;
	top: 0;
	width: 170px;
	text-align: left;
	font-size: 14px;font-family: "微软雅黑";
	display: table;
}
.aaaa{
	display: table-cell;
        vertical-align: middle;
}
.cus-ser-ul{
	display: inline-block;
}
.cus-ser-ul>li{
	height: 30px;line-height: 30px;
}
.one-drop-down{
	position: relative;
	display: inline-block;
	width: 190px;
	/*height: 30px;*/
	margin-left: 10px;
	border-radius: 4px;
	text-align: center;
}
.one-drop-input{
	padding-left: 5px;
	width: 100%;
	height: 30px;border: 1px solid #ccc;border-radius: 4px;
}
.drop-down-ul{
	display: none;
	position: absolute;
	top: 30px;
	width: 100%;
	border:1px solid #ccc;
	border-top-color: transparent;
	background: #fff;
	border-radius: 4px;
	padding:15px 0;
	text-align: left;
}
.drop-down-ul>li{
	height: 30px;
	padding: 0 10px;
	line-height: 30px;

}
.selected-radio-li{
	
	background: #f8f8f8;
}

/*品牌页面*/
.brand-ul{
	padding:10px 20px 20px 20px;
}
.brand-ul>li{
height: 40px;
line-height: 40px;
/*width: 15%;*/
text-align: left;
width: 190px;
display: inline-block;

}
/**/
.time_pick{
	position: relative;
	text-align: right;
	height: 40px;
}
.time_pick>input{
	float: right;
	border: 1px solid transparent;
	height: 40px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
}
.time_pick>i{
	position: absolute;
	right: 20px;
	top: 15px;
}
/*单选样式*/
input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 15px;
    height: 15px;
    margin-right:10px;
    border-radius: 50%;
    border: 1px solid #2693ff;
    margin-top: -3px;
    /*text-indent: .15em;*/
   }
   input[type="radio"]:checked + label::before {
    background-color: #2693ff;
    background-clip: content-box;
    padding: 2px;
    width: 15px;height: 15px;

}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
/*复选样式*/
.abcdef{
    position: absolute;
    top: 11px;
    left: 14px;
    width: 8px;height: 13px;
    display: none;
    border: 2px solid #ccc;
    transform: rotate(45deg);
    border-color: transparent #fff #fff transparent;

}
input[type="checkbox"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 15px;
    height: 15px;
    margin-right:10px;
    /*border-radius: 50%;*/
    border: 1px solid #ccc;
    /*background: #2693ff;*/
    margin-top: -3px;
    /*text-indent: .15em;*/
   }
   input[type="checkbox"]:checked + label::before {
    background-color: #2693ff;
    background-clip: content-box;
    /*padding: 2px;*/
    width: 15px;height: 15px;

}
 input[type="checkbox"]:checked + label{
    position: relative;
 }
 input[type="checkbox"]:checked + label>.abcdef{
    display: block;

}
input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.add-tjpp{
    display: inline-block;
    height: 36px;
    width: 100px;border: 1px solid #2693ff;
    color: #2693ff;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}
