h5{margin:0;}
img{overflow: hidden;}
a{color: #0c78ea;}
.cus-size { width: 650px; height: 650px; }
.multi-img-details{ padding: 0; }
.multi-img-details .multi-item {max-height: 100px; max-width: 100px; position: relative; float: left; margin-right: 18px; margin-top: 20px;}
.multi-img-details .multi-item em {position: absolute; top: 5px; right:5px; }
.cus-img {  width: 100px;height: 100px; }
.delImage {position:absolute; top: 11px; left: 80px;}
.panel-body{padding-bottom: 50px}
.red-i{color: red;}
.f2693ff{color: #2693ff}
.gray{color: gray}
.layui-layer-btn a{position: static;padding:0 20px;width: auto;}
.layui-layer-btn{text-align: center;}
.xian{height: 1px;background: #cdcdcc}
.btn-a{padding:4px 0;width: 80px;display: inline-block;text-align: center;border: 1px solid transparent;border-radius: 4px}
/*2.0样式*/
table{border-collapse: collapse;border-spacing: 0;border-radius: 4px;width: 100%}
th,td{border:1px solid #cdcdcc;height: 38px;text-align: center;}
.icons-calendar{position: absolute; right: 21px;top: 8px;cursor: pointer;}
/*服务区域管理*/
.region-box{width: 100%;border:1px solid #ccc;border-radius: 5px;}
.region-box-title{border-bottom: 1px solid #ccc;text-align: center;height: 34px;line-height: 34px}
.region-box-ul{height: 213px;padding:0 10px;overflow-y:auto;}
.region-box-ul::-webkit-scrollbar{width: 5px;}
.region-box-ul::-webkit-scrollbar-thumb{background:#ccc;border-radius: 5px}
.region-box-ul>li{padding:5px 0;}
.region-box-ul>li>label,.whole-region-check>label{font-weight: 500}
.bj-btn,.bc-btn{position: absolute;left: 150px;top:0;}
.bc-btn{display: none}
.whole-region-check{margin-left: 10px;display: inline-block;margin-top: 10px;position: relative;}

    /*复选样式*/
.gou-i{
    position: absolute;
    top: 2px;
    left: 3px;
    width: 8px;height: 13px;
    display: none;
    border: 2px solid #ccc;
    transform: rotate(45deg);
    border-color: transparent #fff #fff transparent;

}
input[type="checkbox"] + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 15px;
    height: 15px;
    margin-right:10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: -2px;
   }
input[type="checkbox"]:checked + label::before {border: 1px solid #2693ff;background-color: #2693ff;background-clip: content-box;width: 15px;height: 15px;}
input[type="checkbox"]:checked + label{
    position: relative;
 }
 input[type="checkbox"]:checked + label>.gou-i{
    display: block;

}
input[type="checkbox"] {
    /*position: absolute;
    clip: rect(0, 0, 0, 0);*/
    /*opacity: 0;*/display: none;
    position: static;
    width: 0px;
}
/*添加结算规则*/
.information-list,.field-productform-scope_img{
    position: relative;
    margin-top: 20px;
    height: 34px;
    clear: both;
    
}
.name-title-lable{
    position: absolute;
    left: 0;
    display: inline-block;
    height: 34px;line-height: 34px;width: 110px;
    text-align: right;
    font-family: "Microsoft YaHei"

}
.addinput-list{margin-left: 110px;padding-left: 0;}
input[type="radio"] {position: absolute;clip: rect(0, 0, 0, 0);}
.bothEnds{text-align: justify;}
.city3{vertical-align: top;width: 30%;display: inline-block;}
.city3_fix{width: 136px;height:0; padding:0; overflow:hidden;margin-bottom: 0;vertical-align: top;display: inline-block;}
    /*单选大框样式*/
.radioLable,.nodata-btn-orange{display: inline-block;width: 136px;height: 36px;text-align: center;line-height: 36px;
overflow: hidden;margin-bottom: 10px;cursor: pointer;border:1px solid #cdcdcc;border-radius: 4px;}
.radioLable>label{display: inline-block;width: 100%;height: 100%;cursor: pointer;}
.radioLable>input[type="radio"]:checked +label{background-color: #2693ff;border:1px solid #2693ff;color: #fff}
.roundRadio{display: inline-block;margin-right: 30px;height: 30px;line-height: 30px}
.roundRadio>input[type="radio"] + label::before {
    content: "\a0"; 
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 15px;
    height: 15px;
    margin-right:10px;
    border-radius: 50%;
    border: 1px solid #2693ff;
    margin-top: -3px;

   }
.roundRadio>input[type="radio"]:checked + label::before {
    background-color: #2693ff;
    background-clip: content-box;
    padding: 2px;
    width: 15px;height: 15px;

}
.dataBox{width: 80%;margin-top: 10px;}
.celectionWeek{position: relative;}
.weekUl{border: 1px solid #cdcdcc;border-top-color: transparent;position: absolute;left: 0;top: 38px;width: 100%;background: #fff;z-index: 3;
display: none;height: 140px;overflow-y: auto;}
.weekUl>li{line-height: 2;padding:0 10px;text-align: left;}
.weekUl>li:hover{background: #ccc;cursor: pointer;}
.celectionWeek>.icon,.down-i>.icon{position: absolute;right: 10px;top: 10px;cursor: pointer;}
.down-i{
    width: 45%;display: inline-block;position: relative;
}
.addinput-list>div>label,.roundRadio>label{font-weight: 500}
.chargeDiv{width: 598px;height: 110px;border-radius: 4px;border:1px solid #cdcdcc;padding:15px;margin-bottom: 15px}
.chargeUl>li{float: left;}
/*添加技师结算规则*/
.ChoicePopup{text-align: center;}
.PopupTable{height: 200px;overflow-y: auto;}
.Popup-sousuo{width: 200px;position: absolute;left: 30px;top:37px;border:1px solid #cdcdcc;border-radius: 4px;border-top: transparent;
   background: #fff;padding:10px 0; display: none;
}
.Popup-sousuo>li{line-height:25px;padding:0 20px; }
.Popup-sousuo>li:hover{background: #f8f8f8;}
/*添加品牌*/
.addBrand>li,.added-box>li{height: 30px;line-height: 30px;}
.brand-Name{float: left;}
.brand-operation{float: right;}
.brand-operation>i{line-height: 30px;cursor: pointer;}
.brand-operation>.icon2-jia{color: #2693ff}
.brand-operation>.icon2-shanchu1{color: #ccc}
.brand-operation>.icon2-shanchu1:hover{color: rgba(240,17,17,.8);}
.sort_letter{font-weight: 600}
.added{display: none;color: #ccc}
/*编辑类目页面*/
.one-category,.tow-category{height: 30px;cursor: pointer;}
.region-box-ul>.one-category,.region-box-ul>.tow-category{padding:0 15px;line-height: 30px}
.one-category:hover{background: #f8f8f8;}
.none-i,.all-i,.xuanzhe-i{display: inline-block;width: 15px;margin-top: 6px;height: 15px;border: 1px solid #2693ff;border-radius: 2px;float: left;position: relative;}
.none-i{border-color: #ccc;}
.all-i:after{
    content: '';
    position: absolute;
    width: 9px;height: 9px;background: #2693ff;left: 2px;top: 2px
}
.xuanzhe-i{
    background: #2693ff;border-color: #2693ff;
}
.xuanzhe-i:after{content: '';
    position: absolute;
    width: 7px;
    height: 10px;
    left: 3px;
    top: -1px;
    border: 1px solid #ccc;
    transform: rotate(45deg);
    border-color: transparent #fff #fff transparent}
.className{float: left;margin-left: 10px;margin-top: -2px}
/*收费详情*/
.charge-content-ul{margin: 30px;}
.charge-content-ul>li{line-height: 30px}
.charge-content-ul>li>span{display: inline-block;margin-left: 90px;}
.download{border: 1px solid #f1f1f1;margin-top: 10px}
.download-title{background: #f1f1f1;padding:10px;}
.download-list{clear: both;}
.download-list-left,.download-list-right{display: inline-block;}
.download-list-left{width: 60px;height: 55px;line-height: 40px;padding-left: 10px}
.download-list-left>img{width:35px;height: 35px}
.download-list-right{height: 30px;position: relative;}
.download-list-right>a{color: #1553ee}
.celectionMonth{position: relative;}
.section-day{position: absolute;top:35px;background: #fff;width: 45%;z-index: 2;border: 1px solid #ccc;
padding:15px;display: none}
.section-day>li{float: left;width: 30px;text-align: center;line-height: 30px;cursor: pointer;}
.section-day>li:hover{background: #2693ff;border-radius: 50%;}
/*其他样式*/
.icons-calendar{position: absolute;right: 22px;top: 10px;}
/*2018.4.2*/
.panel-body{position: relative;}
#main-content>.panel-body{background: #fff;min-height: calc(100% - 50px);border-radius: 4px;border:1px solid #ddd;box-shadow:0 1px 1px rgba(0,0,0,.05);padding-bottom: 50px;
min-height: calc(100% - 50px);max-height: auto;min-width: 800px;position: relative;
}
.top-block-hint{position: absolute;left: 0;top: 0;width: 100%;background: #f7f7f7;height: 34px;
line-height: 34px;font-size: 12px;color: #666;padding: 0 10px;}
.red-hint-i{width: 16px;height: 16px;background: url(/images/ts.png);display: inline-block;line-height: 34px;position: absolute;top: 8px;}
.top-block-hint>span{float: left;margin-left: 20px;}
select{cursor: pointer;}
.hover-right-hint{position: absolute;right: -200px;top: 0;width: 180px;box-shadow: 0 0 10px #ccc;min-height: 132px;z-index: 77;
text-align: center;display: none;-webkit-transition: all .28s ease-in .1s;background: #fff;
   -moz-animation:hoverRightHintBox 1s; 
    -webkit-animation:hoverRightHintBox 1s;
    -o-animation:hoverRightHintBox 1s;

}
.hover-right-hintbox{margin:10px auto;position: relative;font-size: 12px;z-index: 55;}
.lingdang{display: block;position: absolute;width: 50px;height: 50px;background: url(/images/hover_lingdang.png) no-repeat;
top: -35px;left: 65px; }
.hover-right-hintbox>p{padding: 20px 15px;line-height: 1.8}
.fuzzy-query:hover .hover-right-hint,.addinput-list:hover .hover-right-hint,.chargeDiv:hover  .hover-right-hint{display: block;font-size: 12px;z-index: 999;}
@-webkit-keyframes hoverRightHintBox{
    0%{opacity: 0}
    100%{opacity: 1}
}
/*2018.4.3*/
.rule-minute{border: 1px solid #ccc;border-radius: 5px;padding: 30px;margin-top: 20px;}
.height34{height: 34px;line-height: 34px;}
.xian{clear: both;}
.ignore{background: #f7f7f7;border: 1px solid #999;}
.rule-name,.opt-rule-name{height: 38px;line-height: 38px;margin-right: 10px;display: inline-block;padding: 0 10px;border-radius: 3px;
cursor: pointer;}
.rule-name{border: 1px solid #cdcdcc;}
.opt-rule-name{background: #2693ff;color: #fff;}
.rule-list{position: relative;margin-bottom: 20px}
.rule-list>div{margin-left: 90px;}
.rule-list>label{position: absolute;width: 100px;text-align: right;left: -20px;}
  /*空白页面样式*/
.no-data-page{
    display: table;width: 100%;
}
.no-data-page>div{display: table-cell;vertical-align: middle;text-align: center;}
.kbtp{
    display: inline-block;
    width: 97px;height: 64px;background: url(/images/kbtp.png);
}
.no-data-zi{color: #ccc;margin-top: 15px;}
.nodata-btn-orange{color: #fff;background: #2693ff;}
/*4.12 图片放大*/
.imgEnlarge-box{position: fixed;left: 0;z-index: 228;width: 100%;height: 100%;background: rgba(0,0,0,0.4);top: 0;display: none}
.hezi{width: 100%;height: 100%;display: table;top: 0;}
.imgEnlarge-chlid{display: table-cell;text-align: center;vertical-align: middle;}
/*.imgEnlarge-chlid>img{max-height: 400px;max-width: 1000px;}*/
/*4.18*/
.jn-title{margin-top: 8px;position: absolute;left: 0;top: 0;}
.jn-title>.icon2-bangzhu{float: right;font-size: 20px;}
.right-btn-box{margin-right: 15px;text-align: right;}
.left-title80{position: absolute;
    left: 10px;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 100px;text-align: right;overflow: hidden;
    font-family:"Microsoft YaHei";}
.right-title3 {position: relative;
    margin-left: 92px;
    line-height: 34px;min-height: 34px;
}
.block-h5 {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    font-weight: 600;clear: both;
    padding-bottom: 15px;padding-top: 30px;margin-left: 15px;}
textarea{border-radius: 4px;}
td{padding: 0 5px}
td>input,td>select{text-align: center;height: 30px;width: 80%;border-radius: 4px;border: 1px solid #c3c3c3;}
.bottom-btn-box{margin-top: 20px;}
tfoot{font-size: 14px;}
.right-btn-box>a:hover{text-decoration: none;}
.jn-title-box .jn-btn{top: 0;font-size: 14px;}
.textarea100{height: 100px;width: 90%;border: 1px solid #d5d5d5;}
.select-fuji{position: relative;}
h4{font-size: 16px;font-family:"Microsoft YaHei"}
.btn{padding: 7px 20px;border-radius: 4px;}
.mgr8{margin-right:8px; }
.addinput-list>.line-height34{line-height: 34px}
.misplacement{display: none;position: absolute;bottom: -28px;left: 0}
.block-h5one{padding-top: 10px;margin-top:0;margin-bottom: 0;}
/*2018 5.3分组管理*/
.hide-box{display: none}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{border-bottom-width: 1px;}
.table-striped >tbody >tr:nth-of-type(odd){background: #fff;}
.edit10-btn{padding:5px 10px;border:1px solid #dcdccd;border-radius: 4px;}
.popup-nr196{height: 210px;width: 100%;overflow: auto;margin-top: 30px;text-align: justify;border-bottom: 1px solid #e8e8e8;}
.popup-nr196::-webkit-scrollbar{width: 5px;}
.popup-nr196::-webkit-scrollbar-thumb{background:#ccc;border-radius: 5px}
.li33{min-width: 50%;text-align: left;overflow: hidden;display: inline-block;margin-bottom: 10px;float:left}
.li33seize{min-width: 36%;display: inline-block;height: 0;overflow: hidden;}
.radio-w200{margin-left: 20px;margin-bottom: 20px;}
.no-data-page{min-height: 300px;}
.intercept20{max-width: 200px;max-height:100px;}
/*分页样式*/
.pagination>.btn{padding:5px 10px}
 /*2018.5.16技师排班表*/
 .no-padding-left{padding-left: 0}
 .padding0{padding:15px 0;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background: #fff;cursor: pointer;color: #333;}
/*2015.6.15角色添加*/
.role-table-box{height: 300px;overflow: auto;}
.role-table-box::-webkit-scrollbar{width: 10px;background: #f4f7f8;}
.role-table-box::-webkit-scrollbar-thumb{background: #ccc;border-radius: 20px;}
@media screen and (max-height:700px) {
    .role-table-box{height: 300px;}
}
@media screen and (min-height:900px) {
    .role-table-box{height: 500px;}
}
.has-success .form-control,.has-success .form-control:focus{border-color: #ccc;}
.has-error .form-control{border-color: red;}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{color: red;}
.set_status, .layui-layer-btn0{width: auto;}
.height10{padding:5px 0;clear: both;margin:0;}
.layui-layer-content{text-align: center;}
.table{width: 99.8%;max-width: 99.8%;}
.bg-f7 {
    border: 1px solid #ccc;
    background: #f7f7f7;
    color: #444;
}
.form-control{color: #333;}