input::-webkit-input-placeholder{
    color:#999;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#999;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#999;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#999;
}

[v-cloak] {
    display: none;
}

.u-title-h5 {
    margin: 20px 0;
    font-size: 15px;
    font-weight: normal;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    color: #000;
    padding-left: 10px;
}

.u-tips-p {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -17px;
}

.u-title-h5 > .bianji {
    font-size: 12px;
    padding-left: 18px;
    position: relative;
    margin-left: 10px;
}

.u-title-h5 > .bianji > i {
    position: absolute;
    font-size: 16px;
    left: 0;
    top: 0;
}

.u-btn-box {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.panel-body > .top-btn-box {
    position: absolute;
    top: -42px;
    right: 0;
}

.u-btn-box > .btn, .top-btn-box > .btn {
    padding: 5px 15px;
}

.u,
.ipt {
    transition: all .3s;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #333333;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    /*-webkit-appearance: none;*/
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    width: 100%;
    height: 32px;
    border-radius: 2px;
}

.ipt[disabled] {
    color: #adadad !important;
    background: #f5f5f5 !important;
    border-color: #d8d8d8 !important;
    cursor: not-allowed !important;
}

.ipt::-webkit-input-placeholder {
    color: #9f9f9f;
    font-size: 12px
}

.ipt:-moz-placeholder, .ipt::-moz-placeholder {
    color: #9f9f9f;
    opacity: 1;
    font-size: 12px
}

.ipt:-ms-input-placeholder {
    color: #9f9f9f;
    font-size: 12px
}

.input-warp[data-v-24ad2701] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%
}

.input-warp textarea[data-v-24ad2701] {
    resize: none;
    height: 100%
}

.input-warp .compute-font[data-v-24ad2701] {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    list-style: none;
    color: #9f9f9f
}

.ipt-warp {
    position: relative;
    width: 100%;
    display: inline-block;
}

.ipt-explain {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: red;
    position: absolute;
    left: 104%;
    /*right: -50px;*/
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    display: block;
    z-index: 100;
}

/*图片上传*/
.select-image-warp {
    position: relative;
    display: block;
    width: 100%;
}

.select-image-warp input[type=file][data-v-895fa160] {
    display: none
}

.select-image-warp .select-image-add .image-content[data-v-895fa160] {
    width: 82px;
    height: 82px;
    cursor: pointer;
    border: 1px solid #ddd;
    background: #f8f8f8;
}

.select-image-warp .select-image-add-icon[data-v-895fa160] {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 50px;
    color: #d8d8d8;
    list-style: none;
    font-weight: 100;
    display: inline-block;
}

.select-image-warp .select-image-add-text[data-v-895fa160] {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 12px;
    /*line-height: 1.5;*/
    color: #666666;
    list-style: none;
    display: inline-block;
}

.select-image-warp .image-content[data-v-895fa160] {
    position: relative
}

.select-image-warp .image-content .slot[data-v-895fa160] {
    padding-left: 8px
}

.select-image-warp .image-content .slot textarea[data-v-895fa160] {
    width: 100%;
    height: 100%
}

.select-image-warp .image-content-mask[data-v-895fa160] {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 0;
    left: 0
}

.select-image-warp .image-content-mask[data-v-895fa160]:hover .image-content-mask-btn[data-v-895fa160] {
    /*display: inline-block;*/
    opacity: 1;
    filter: alpha(opacity=1);
}

.select-image-warp .image-content-desc[data-v-895fa160] {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    text-align: left;
    /*width: 100;*/
    width: 600px;
}

.select-image-warp .image-content-mask-btn[data-v-895fa160] {
    /*display: none;*/
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    background: #2693ff;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    list-style: none;
    color: #fff;
    padding: 0 2px;
    cursor: pointer;
    text-align: center;
}

.select-image-warp .image-content-mask-btn-left[data-v-895fa160] {
    bottom: 0;
    left: 0;
    right: 0;
}

.select-image-warp .image-content-mask-btn-right[data-v-895fa160] {
    background: #9999;
    width: 20px;
    height: 20px;
    top: 1px;
    right: 1px;
}

.select-image-warp .image-content-mask-btn-right[data-v-895fa160]:before {
    content: "\2716";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.select-image-warp .image-content img[data-v-895fa160] {
    width: 82px;
    height: 82px;
    box-shadow:0 0 2px #ccc;
}

.select-image-warp .ul li[data-v-895fa160] {
    background: #fff
}

.select-image-warp .ul.level > li[data-v-895fa160] {
    float: left;
    margin-right: 10px;
}

.select-image-warp .ul.vertical > li[data-v-895fa160] {
    /*margin: 8px 0 0 8px*/
    margin-bottom: 12px;
}

.select-image-warp .ul.vertical > li[data-v-895fa160].select-image-add {
    margin-bottom: 0;
}

/**form*/
.form[data-v-f4ca5dcc] {
    width: 100%
}

.form-item-row[data-v-5b242029] .col[data-v-5b242029] {
    min-height: 32px;
    line-height: 32px;
    margin-top: 14px;
    margin-bottom: 0;
}

.form-item-label[data-v-5b242029] {
    text-align: right;
    width: 60px;
}

.form-item-label label[data-v-5b242029] {
    /*display: inline-block;*/
    vertical-align: middle;
    font-family: MicrosoftYaHei, sans-serif;
    font-size: 12px;
    color: #38445a;
    letter-spacing: 0;
}

.form-item-label-imp[data-v-5b242029], .important {
    display: inline-block;
    /*padding-right: 4px;*/
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    list-style: none;
    color: red
}

.form-item-orig[data-v-5b242029] {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.form-item-content[data-v-5b242029] {
    padding-left: 12px;
    text-align: left;
}

/*******/
.u-button {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    list-style: none;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

/*btn*/

.btn[data-v-6b64a23e] {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, .65);
    list-style: none;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    vertical-align: middle;
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100px;
    height: 32px;
    background-color: #fff;
    border-color: #d9d9d9;
    border-radius: 2px;
}

.btn[data-v-6b64a23e], .btn[data-v-6b64a23e]:active, .btn[data-v-6b64a23e]:focus {
    outline: 0
}

.btn-default-hover[data-v-6b64a23e], .btn-default[data-v-6b64a23e]:focus, .btn-default[data-v-6b64a23e]:hover {
    border-color: #2693ff;
    color: #2693ff
}

.btn-default[data-v-6b64a23e]:active {
    border-color: #0050b3;
    color: #0050b3
}

.btn-primary[data-v-6b64a23e] {
    background-color: #2693ff;
    border-color: #2693ff;
    color: #fff
}

.btn-primary-hover[data-v-6b64a23e], .btn-primary[data-v-6b64a23e]:focus, .btn-primary[data-v-6b64a23e]:hover {
    background-color: #40a9ff
}

.btn[disabled][data-v-6b64a23e] {
    color: #d8d8d8;
    background: #f5f5f5;
    border-color: #d8d8d8;
    cursor: not-allowed
}

/*分页样式*/
.sousuo-box {
    position: relative;
    width: auto;
    display: inline-block;
}

.sousuo-box > i {
    color: #bbb;
    position: absolute;
    right: 10px;
    top: 9px;
}

.mg-top30 {
    margin-top: 30px;
    clear: both;
}

.page-bar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.page-button-disabled {
    color: #ddd !important;
}

.page-bar li {
    list-style: none;
    display: inline-block;
    margin: 3px;
}

.page-bar li:first-child > a {
    margin-left: 0px;
}

.page-bar a {
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 2px 8px;
    margin-left: -1px;
    color: #000;
    cursor: pointer;
    font-size: 12px;
}

.page-bar a:hover {
    color: #0378ec;
}

.page-bar .active a {
    color: #fff;
    cursor: default;
    background-color: #0378ec;;
    border-color: #0378ec;
}

.page-bar i {
    font-style: normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}

.field-row[data-v-5b242029] {
    position: relative;
    width: 364px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    /*float: left;*/
}

.field-row[data-v-5b242029] > label[data-v-5b242029] {
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    font-family: MicrosoftYaHei, sans-serif;
    font-size: 12px;
    color: #38445a;
    letter-spacing: 0;
    text-align: right;
    padding-right: 10px;
}

.field-row[data-v-5b242029] > .field-cell[data-v-5b242029] {
    font-family: MicrosoftYaHei, sans-serif;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    display: block;
    margin-left: 98px;
    min-height: 20px;
}

/*日历样式*/
.u-box {
    width: 300px;
    position: relative;
}

.u-dt-box {
    margin-top: 5px;
    width: 230px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    position: absolute;
    top: 28px;
    background: #fff;
    z-index: 10;
    font-size: 12px;
    color: #666;
    /*width: 100%;*/
    z-index: 101;
}

.u-dt-input-wrap {
    position: relative;
}

.u-dt-input-wrap i {
    position: absolute;
    top: 3px;
    right: 10px;
    z-index: 9;
    color: #333;
}

.u-dt-middle-input {
    width: 100%;
    height: 32px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 10px;
}

.u-dt-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.u-dt-table th {
    padding: 6px 0;
    border: 0;
}

.u-dt-table td {
    padding: 4px 0;
    line-height: 18px;
    border: 0;
    height: 25px;
}

.u-dt-table th span {
    display: block;
    font-weight: normal;
}

.u-dt-table td span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    margin: 0 auto;
    transition: background 0.3s ease;
    border-radius: 4px;
    padding: 0;
    box-sizing: border-box;
}

.u-dt-table td span:hover {
    background: #eaf8fe;
    cursor: pointer;
}

.u-dt-table .u-dt-last span {
    color: #ccc;
}
.u-dt-table .u-dt-last-span{color: #ccc;}
.u-dt-table .u-dt-last-span:hover{cursor: default;background: #fff;}
.u-dt-table .u-dt-today span {
    border-color: #d5d5d5;
    font-weight: bold;
    color: #0378ec;
    text-align: center;
}

.u-dt-table .u-dt-select span {
    background: #0378ec;
    color: #fff;
    border: 1px solid transparent;
    text-align: center;
}

.u-dt-table .u-dt-select span:hover {
    background: #0378ec;
}

.u-dt-header {
    position: relative;
    text-align: center;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #e9e9e9;
}

.u-dt-header .u-dt-ym {
    font-weight: bold;
}

.u-dt-header a {
    color: #999;
    line-height: 34px;
    height: 34px;
    font-size: 16px;
    display: inline-block;
    padding: 0 5px;
    position: absolute;
}

.u-dt-header a:hover {
    color: #2db7f5;
    /*cursor: pointer;*/
}

.u-dt-header .u-dt-h-1 {
    left: 7px;
}

.u-dt-header .u-dt-h-2 {
    left: 29px;
}

.u-dt-header .u-dt-h-3 {
    right: 29px;
}

.u-dt-header .u-dt-h-4 {
    right: 7px;
}

.u-dt-footer {
    height: 34px;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    position: relative;
}

.u-dt-footer p {
    display: inline-block;
    line-height: 32px;
    height: 32px;
    font-size: 12px;
    position: absolute;
    left: 10px;
    color: #0378ef;
    top: 0;
}

.u-dt-footer span {
    position: absolute;
    right: 10px;
    top: 4px;
    background: #0378ec;
    color: #fff;
    padding: 2px 5px;
}

.u-dt .btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    white-space: nowrap;
    line-height: 1.5;
    padding: 1px 6px;
    font-size: 12px;
    border-radius: 6px;
    background-color: #2db7f5;
    outline: 0;
    opacity: 1;
    color: #fff;
}

.u-ymd-box {
    text-align: left;
    margin-left: 20px;
}

.u-ymd-box > input {
    width: 30px;
}

.btn-search {
    height: 32px;
    background: #2693ff;
    color: #fff;
    padding: 0 10px;
}

/**/

.u-popover[data-v-1c132c38] {
    position: absolute;
    display: inline-block;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetical Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    list-style: none;
    margin: 0;
    padding: 0;
    webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    white-space: nowrap;
    font-weight: 400;
    text-align: left;
    cursor: auto;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 600
}

.u-popover[data-v-1c132c38]:after {
    content: " ";
    position: absolute
}

.u-popover-content[data-v-1c132c38] {
    margin: 0;
    padding: 0
}

.u-popover-arrow[data-v-1c132c38] {
    position: absolute;
    background: #fff;
    width: 7.07106781px;
    height: 7.07106781px;
    display: block;
    border-color: transparent;
    border-style: solid
}

.u-popover-arrow-top[data-v-1c132c38] {
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(45deg);
    box-shadow: -3px -3px 7px rgba(0, 0, 0, .07)
}

.u-popover-arrow-down[data-v-1c132c38] {
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(45deg);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .07)
}

.u-popover-arrow-left[data-v-1c132c38] {
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
    transform: rotate(45deg);
    box-shadow: -3px 3px 7px rgba(0, 0, 0, .07)
}

.u-popover-arrow-right[data-v-1c132c38] {
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
    transform: rotate(45deg);
    box-shadow: 3px -3px 7px rgba(0, 0, 0, .07)
}

.u-popover-inner[data-v-1c132c38] {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, .15);*/
    overflow: hidden
}

.u-popover-inner-content[data-v-1c132c38] {
    padding: 12px 16px;
    color: rgba(0, 0, 0, .65)
}

.u-popover-title[data-v-1c132c38] {
    margin: 0;
    padding: 5px 16px 4px;
    min-height: 32px;
    border-bottom: 1px solid #e8e8e8;
    color: rgba(0, 0, 0, .85);
    font-weight: 500
}

/*物流跟踪*/
.u-sch-box {
    width: 100%;
}

.u-sch-box > li {
    min-height: 30px;
    padding-bottom: 15px;
    position: relative;
    padding-left: 30px;
    border-left: 1px solid #d5d5d5;
    line-height: 10px;
    max-height: auto;
}

.u-sch-box > li > span, .u-sch-box > li > .u-oper-btn {
    font-size: 12px;
}

.u-sch-box > li > .u-oper-btn {
    position: absolute;
    top: 1px;
}

.u-sch-box > li > .u-sch-list-center {
    margin: -4px 50px;
    line-height: 1.5;
    margin-left: 150px;
    display: inline-block;
    max-width: 600px;
}

.u-sch-box > li > .u-sch-list-left {
    position: absolute;
    left: 20px;
    top: 0;
}

.icon-yuan {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #d5d5d5;
    left: -4px;
    top: 0;
}

/**/
.selection-warp[data-v-1c132c39] {
    position: relative;
    /*display: inline-block;*/
    display: table;
}

.selection-content[data-v-1c132c39] {
    height: 200px;
    overflow-y: auto;
    background: #ffffff;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);*/
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 0;
}

.selection-content[data-v-1c132c39], .selection-content li[data-v-1c132c40] {
    list-style: none;
    margin: 0;
    padding: 0;
}

.selection-content li[data-v-1c132c40] {
    width: 100%;
    overflow: hidden;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] {
    position: relative;
    padding: 4px 0 4px 20px;
    /*height: 29px;*/
    /*line-height: 29px;*/
    /*cursor: pointer;*/
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    text-align: left;
    /*display: inline-block;*/
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40]:hover {
    background: rgba(118, 224, 255, 0.13);
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40].selected {
    font-weight: 600;
    color: #1890ff;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] > label[data-v-1c132c40],
.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] > label[data-v-1c132c40] > span[data-v-1c132c40],
.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] > label[data-v-1c132c40] > i[data-v-1c132c40] {
    display: inline-block;
    vertical-align: middle;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] > label[data-v-1c132c40] > i[data-v-1c132c40].selection-opt-radio {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] > label[data-v-1c132c40] > i[data-v-1c132c40].selection-opt-radio:before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-top: -3px;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] .selection-opts-open[data-v-1c132c40],
.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] .selection-opts-close[data-v-1c132c40] {
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 13px;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] .selection-opts-open[data-v-1c132c40] {
    border-top-color: #545454;
    top: 15px;
    left: 7px;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] .selection-opts-close[data-v-1c132c40] {
    border-left-color: #545454;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] label[data-v-1c132c40] input[data-v-1c132c40] {
    display: none;
}

.selection-content[data-v-1c132c39] .selection-option[data-v-1c132c40] label[data-v-1c132c40] input[data-v-1c132c40]:checked + i[data-v-1c132c40].selection-opt-radio:before {
    border-color: #2693ff;
    background-color: #2693ff;
    background-clip: content-box;
    padding: 2px;
    width: 15px;
    height: 15px;
}

/*弹出层样式*/
.u-layer-box {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    display: table;
}

.u-layer-centered {
    display: table-cell;
    vertical-align: middle;
}

.u-layer-body {
    width: 400px;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
    height: 280px;
}

.u-layer-title {
    background: #f8f8f8;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    font-size: 14px;
    position: relative;
}

.u-layer-title > i {
    position: absolute;
    right: 10px;
    top: 10px;
}

.u-layer-content {
    padding: 10px 30px;
}

/**/
.association-warp[data-v-1c132c41] {
    position: relative;
    display: inline-block;
}

.association-content[data-v-1c132c41] {
    list-style: none;
    max-height: 280px;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
    border: 1px solid #ccc;
    border-radius: 2px;
}

.association-content[data-v-1c132c41] li[data-v-1c132c41] {
    padding: 0 8px;
    position: relative;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    text-align: left;
    cursor: pointer;
    height: 29px;
    line-height: 29px;
}

.association-content[data-v-1c132c41] li[data-v-1c132c41]:hover,
.association-content[data-v-1c132c41] li[data-v-1c132c41].hover {
    background: #2693ff;
}

.association-content[data-v-1c132c41] li[data-v-1c132c41] > span {
    background: #2693ff;
    color: #ffffff;
}