body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    overflow: hidden;
}

body, html {
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
}

* {
    text-decoration: none;
    list-style: none;
}

img {
    border: 0px;
}

ul, li, dl, dd, dt, p, ol, h1, h2, h3, h4, h5 {
    font-size: 12px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

i {
    font-style: normal;
}

.wrap {
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.index {
    overflow: hidden;
}

.clr {
    clear: both;
    height: 0px;
    width: 100%;
    font-size: 1px;
    line-height: 0px;
    visibility: hidden;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

a, input, button {
    outline: none;
}

::-moz-focus-inner {
    border: 0px;
}

/*a:link {color:#0f0;text-decoration:none;}
a:visited {color: #FFFF00; text-decoration:none;} 
a:hover {color: #00FF00; text-decoration:underline;} 
a:active {color: #0000FF; text-decoration:underline;}*/
a {
    color: #000;
}

.wrapper {
    clear: both;
    width: 100%;
}

table {
    border-collapse: collapse;
}

/*word-break:break-all *//*文字换行*/
/*white-space:nowrap 文字不换行*/
input, select {
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: #fff;
}

.ui-title {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
}

.ui-form-item {
    padding-left: 80px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    min-height: 32px;
}

.ui-input {
    width: 100%;
}

.ui-input > input {
    width: 100%;
    display: inline-block;
    width: 100%;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.ui-form-item_lable {
    position: absolute;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    height: 32px;
    font-size: 12px;
    font-weight: normal;
}

.ui-form-item_lable > i {
    color: red;
}

.ui-form-item .ui-hint {
    position: absolute;
    bottom: -15px;
    color: red;
}

.ui-btn {
    padding: 5px 18px;
    border-radius: 2px;
    border: 1px solid #2693ff;
}

.ui-btn-cancel {
    color: #2693ff;
    background: #fff;
}

.ui-btn-ok {
    background: #2693ff;
    color: #fff;
}

.ui-select {
    width: 100%;
}

.ui-col {
    width: 100%;
}

.ui-col-12 {
    width: 48%;
    float: left;
}

.ui-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui-justify {
    text-align: justify;
    height: 32px;
}

.ui-justify-list {
    display: inline-block;
    width: 48%;
}

.justify-fix {
    width: 48%;
    height: 0;
    overflow: hidden;
    display: inline-block;
}