<template>
  <div class="wrapper">
    <div class="orderListUl orderDetailUl basicInfoUl">
      <p><span>订单状态</span><span>{{data4.status | formatStatus}}</span></p>
      <div>
        <p><span>订单编号</span><span>{{data4.order_no}}</span></p>
        <p v-if="data4.subject_name"><span>主题</span><span>{{data4.subject_name}}</span></p>
        <p><span>客户姓名</span><span>{{data4.account_name}}</span></p>
        <p><span>客户电话</span><span><a :href="'tel:'+data4.account_mobile" style="color: #0378ec;font-size: 1.4rem;"><img src="../../../assets/images/dianhua@3x.png" style="width: 1.2rem;height: 1.2rem;vertical-align: middle;margin: 0 .5rem 0 0;" alt="">{{data4.account_mobile}}</a></span></p>
        <p><span>服务地址</span><span>{{data4.address_desc}}</span></p>
        <p v-if="data4.word_type_desc"><span>服务类型</span><span>{{data4.word_type_desc}}</span></p>
        <p>
          <span>服务时间</span>
          <span v-if="data4.plan_time!='1970-01-01 '&&data4.plan_time!=''">{{data4.plan_time}}</span>
          <span v-if="data4.plan_time=='1970-01-01 '||data4.plan_time==''">暂无</span>
        </p>
        <p v-if="data4.workDetail[0].fault_img_arr.length>0"><span>故障图片</span><span><img :src="item" height="100" alt="" v-for="(item,index) in data4.workDetail[0].fault_img_arr" style="vertical-align: top;" class="preview-img" @click="show(index)"></span></p>
        <p v-if="data4.create_time"><span>下单时间</span><span>{{data4.create_time}}</span></p>
        <p v-if="data4.description"><span>备注</span><span>{{data4.description}}</span></p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:['data4'],
    data(){
      return {
        errorImg:[]
      }
    },
    methods:{
      show(index){
        this.errorImg = [];
        for(let i=0;i<this.data4.workDetail[0].fault_img_arr.length;i++){
          let img = new Image();
          img.src = this.data4.workDetail[0].fault_img_arr[i];
          this.errorImg.push({
            src:img.src,
            w:img.width,
            h:img.height
          })
        }
        let _this = this;
        setTimeout(() => {
          _this.$preview.open(index, _this.errorImg);
        }, 0)
      }
    },
    filters:{
      formatStatus(status){
        if(status=='1') return "待指派";
        if(status=='2') return "待服务";
        if(status=='3') return "服务中";
        if(status=='4') return "待验收";
        if(status=='5') return "已完成";
        if(status=='6') return "已取消";
        if(status=='7') return "待审核";
        if(status=='8') return "未通过";
      },
    },
  }
</script>
<style scoped>
  @import "../../../assets/css/order.css";
  .wrapper{
    background-color: #f5f5f5;
    height: 100vh;
  }
  .orderDetailUl>div:last-child{
    padding-bottom: 1.5rem;
  }
</style>
