<template>
  <div class="wrapper">
    <div class="orderWrapper">
      <mt-navbar v-model="activeName" fixed>
        <mt-tab-item id="1">基本信息</mt-tab-item>
        <mt-tab-item id="2">服务详情</mt-tab-item>
        <mt-tab-item id="3">订单动态</mt-tab-item>
        <mt-tab-item id="4">产品信息</mt-tab-item>
      </mt-navbar>
      <!-- tab-container -->
      <mt-tab-container v-model="activeName" style="margin-top: 5rem;">
        <mt-tab-container-item id="1">
          <basicInfoCmpt :data4="basicInfo" v-if="basicInfo"></basicInfoCmpt>
        </mt-tab-container-item>
        <mt-tab-container-item id="2">
          <serverDetailCmpt :data3="serverDetailInfo" :basicInfo="basicInfo" v-if="serverDetailInfo"></serverDetailCmpt>
        </mt-tab-container-item>
        <mt-tab-container-item id="3">
          <orderStatusCmpt :data2="orderStatusInfo" v-if="orderStatusInfo"></orderStatusCmpt>
        </mt-tab-container-item>
        <mt-tab-container-item id="4">
          <productInfoCmpt :data1="productInfo" v-if="productInfo"></productInfoCmpt>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
  </div>
</template>
<script>
  import api from '../api/api';
  import basicInfoCmpt from './basicInfoCmpt';
  import serverDetailCmpt from './serverDetailCmpt';
  import orderStatusCmpt from './orderStatusCmpt';
  import productInfoCmpt from './productInfoCmpt';
  import publicFun from '../../../common/public';
  export default {
    components:{
      basicInfoCmpt,
      serverDetailCmpt,
      orderStatusCmpt,
      productInfoCmpt
    },
    data(){
      return{
        activeName:'1',
        orderNo:this.$route.query.id,
        basicInfo:'',//基本信息
        productInfo:'',//产品信息
        orderStatusInfo:'',//订单状态
        serverDetailInfo:'',//服务详情
      }
    },
    methods:{
      getInitDataFunc(){
        api.getOrderDetailByIdAxios(this.orderNo).then((res)=>{
          if(res.code==200){
            this.basicInfo = res.data.orderDetail;
            this.productInfo = res.data.orderDetail.product_new_arr;
            this.orderStatusInfo = res.data.orderDetail.process;
            this.serverDetailInfo =res.data.orderDetail.workArr;
            for(var i=0;i<this.serverDetailInfo.length;i++){
              if(this.serverDetailInfo[i].finsh_service_time!=''&&this.serverDetailInfo[i].finsh_service_time!=null){
                this.serverDetailInfo[i].finsh_service_time = publicFun.timestampToTime(this.serverDetailInfo[i].finsh_service_time)
              }else{
                return;
              }
            }

            for(var i=0;i<this.productInfo.length;i++){
              if(this.productInfo[i].product.buy_time>0&&this.productInfo[i].product.buy_time!=''&&this.productInfo[i].product.buy_time!=null){
                this.productInfo[i].product.buy_time = publicFun.timestampToDay(this.productInfo[i].product.buy_time)
              }
              if(this.productInfo[i].product.produce_time>0&&this.productInfo[i].product.produce_time!=''&&this.productInfo[i].product.produce_time!=null){
                this.productInfo[i].product.produce_time = publicFun.timestampToDay(this.productInfo[i].product.produce_time)
              }
            }
          }else{
            this.$toast.center('数据请求失败,请重试！')
          }
        })
      }
    },
    mounted(){
      this.getInitDataFunc()
      document.title = '订单详情';
      window.localStorage.setItem('currentPage',this.$route.query.ind);
    }
  }
</script>
<style scoped>
  @import "../../../assets/css/order.css";
  .wrapper{
    background-color: #f5f5f5;
  }
</style>
