<template>
  <div class="wrapper">
    <div class="headerWrapper" @click="handleLoginOut">
      <div class="engineer_info">
        <div>
          <img :src="userInfo.headerImg" v-show="userInfo.headerImg && userInfo.headerImg != 'null'"/>
          <img src="../../../assets/images/userHeaderImg.png" v-show="userInfo.headerImg=='' || userInfo.headerImg == 'null'" />
        </div>
        <div>
          <p>{{userInfo.userName}}</p>
          <p>{{userInfo.mobile}}</p>
        </div>
      </div>
      <div class="arrow_img">
        <img src="../../../assets/images/arrow.png" alt="">
      </div>
    </div>
    <div class="orderWrapper orderListWrapper">
      <mt-navbar v-model="activeName" fixed>
        <mt-tab-item id="1">待指派</mt-tab-item>
        <mt-tab-item id="2">待服务</mt-tab-item>
        <mt-tab-item id="3">服务中</mt-tab-item>
        <mt-tab-item id="4">待验收</mt-tab-item>
        <mt-tab-item id="5">已完成</mt-tab-item>
        <mt-tab-item id="6">全部</mt-tab-item>

      </mt-navbar>
      <!-- tab-container -->
      <mt-tab-container v-model="activeName">
        <mt-tab-container-item id="1">
          <div class="nodatawrapper" v-if="activeName==1&&noDataVisible">
            <div>
              <img src="../../../assets/images/nodata@3x.png" alt="">
              <p>暂无数据</p>
            </div>
          </div>
          <div class="orderListUl" v-if="activeName==1&&orderList.length>0" v-for="(item,index) in orderList" style="background-color: #ffffff;" @click="handleToDetail(item)">
            <p><span>{{item.work_type_desc}}</span><span>{{item.status|formatStatus}}</span></p>
            <div>
              <p><span>客户姓名：</span><span>{{item.account_name}}</span></p>
              <p><span>客户电话：</span><span>{{item.account_mobile}}</span></p>
              <p><span>服务地址：</span><span>{{item.address}}</span></p>
              <p>
                <span>服务时间：</span>
                <span v-if="item.plan_time">{{item.plan_time_type==5?item.plan_time:item.plan_time.split(' ')[0]}} {{item.plan_time_type|formatPlanTimeType}}</span>
                <span v-if="item.plan_time==''">暂无</span>
              </p>
            </div>
          </div>
          <div class="loadmore" :ref="'loadmore'+activeName" @click="handleLoadMore" v-if="activeName==1&&orderList.length>0">{{loadMoreText}}</div>
        </mt-tab-container-item>
        <mt-tab-container-item id="2">
          <div class="nodatawrapper" v-if="activeName==2&&noDataVisible">
            <div>
              <img src="../../../assets/images/nodata@3x.png" alt="">
              <p>暂无数据</p>
            </div>
          </div>
          <div class="orderListUl" v-if="activeName==2&&orderList.length>0" v-for="(item,index) in orderList" style="background-color: #ffffff;" @click="handleToDetail(item)">
            <p><span>{{item.work_type_desc}}</span><span>{{item.status|formatStatus}}</span></p>
            <div>
              <p><span>客户姓名：</span><span>{{item.account_name}}</span></p>
              <p><span>客户电话：</span><span>{{item.account_mobile}}</span></p>
              <p><span>服务地址：</span><span>{{item.address}}</span></p>
              <p>
                <span>服务时间：</span>
                <span v-if="item.plan_time">{{item.plan_time_type==5?item.plan_time:item.plan_time.split(' ')[0]}} {{item.plan_time_type|formatPlanTimeType}}</span>
                <span v-if="item.plan_time==''">暂无</span>
              </p>
            </div>
          </div>
          <div class="loadmore" :ref="'loadmore'+activeName" @click="handleLoadMore" v-if="activeName==2&&orderList.length>0">{{loadMoreText}}</div>
        </mt-tab-container-item>
        <mt-tab-container-item id="3">
          <div class="nodatawrapper" v-if="activeName==3&&noDataVisible">
            <div>
              <img src="../../../assets/images/nodata@3x.png" alt="">
              <p>暂无数据</p>
            </div>
          </div>
          <div class="orderListUl" v-for="(item,index) in orderList" style="background-color: #ffffff;" @click="handleToDetail(item)" v-if="activeName==3&&orderList.length>0">
            <p><span>{{item.work_type_desc}}</span><span>{{item.status|formatStatus}}</span></p>
            <div>
              <p><span>客户姓名：</span><span>{{item.account_name}}</span></p>
              <p><span>客户电话：</span><span>{{item.account_mobile}}</span></p>
              <p><span>服务地址：</span><span>{{item.address}}</span></p>
              <p>
                <span>服务时间：</span>
                <span v-if="item.plan_time">{{item.plan_time_type==5?item.plan_time:item.plan_time.split(' ')[0]}} {{item.plan_time_type|formatPlanTimeType}}</span>
                <span v-if="item.plan_time==''">暂无</span>
              </p>
            </div>
          </div>
          <div class="loadmore" :ref="'loadmore'+activeName" @click="handleLoadMore" v-if="activeName==3&&orderList.length>0">{{loadMoreText}}</div>
        </mt-tab-container-item>
        <mt-tab-container-item id="4">
          <div class="nodatawrapper" v-if="activeName==4&&noDataVisible">
            <div>
              <img src="../../../assets/images/nodata@3x.png" alt="">
              <p>暂无数据</p>
            </div>
          </div>
          <div class="orderListUl" v-for="(item,index) in orderList" style="background-color: #ffffff;" @click="handleToDetail(item)" v-if="activeName==4&&orderList.length>0">
            <p><span>{{item.work_type_desc}}</span><span>{{item.status|formatStatus}}</span></p>
            <div>
              <p><span>客户姓名：</span><span>{{item.account_name}}</span></p>
              <p><span>客户电话：</span><span>{{item.account_mobile}}</span></p>
              <p><span>服务地址：</span><span>{{item.address}}</span></p>
              <p>
                  <span>服务时间：</span>
                  <span v-if="item.plan_time">{{item.plan_time_type==5?item.plan_time:item.plan_time.split(' ')[0]}} {{item.plan_time_type|formatPlanTimeType}}</span>
                  <span v-if="item.plan_time==''">暂无</span>
              </p>
            </div>
          </div>
          <div class="loadmore" :ref="'loadmore'+activeName" @click="handleLoadMore" v-if="activeName==4&&orderList.length>0">{{loadMoreText}}</div>
        </mt-tab-container-item>
        <mt-tab-container-item id="5">
          <div class="nodatawrapper" v-if="activeName==5&&noDataVisible">
            <div>
              <img src="../../../assets/images/nodata@3x.png" alt="">
              <p>暂无数据</p>
            </div>
          </div>
          <div class="orderListUl" v-for="(item,index) in orderList" style="background-color: #ffffff;" @click="handleToDetail(item)" v-if="activeName==5&&orderList.length>0">
            <p><span>{{item.work_type_desc}}</span><span>{{item.status|formatStatus}}</span></p>
            <div>
              <p><span>客户姓名：</span><span>{{item.account_name}}</span></p>
              <p><span>客户电话：</span><span>{{item.account_mobile}}</span></p>
              <p><span>服务地址：</span><span>{{item.address}}</span></p>
              <p>
                <span>服务时间：</span>
                <span v-if="item.plan_time">{{item.plan_time_type==5?item.plan_time:item.plan_time.split(' ')[0]}} {{item.plan_time_type|formatPlanTimeType}}</span>
                <span v-if="item.plan_time==''">暂无</span>
              </p>
             </div>
          </div>
          <div class="loadmore" :ref="'loadmore'+activeName" @click="handleLoadMore" v-if="activeName==5&&orderList.length>0">{{loadMoreText}}</div>
        </mt-tab-container-item>
        <mt-tab-container-item id="6">
          <div class="nodatawrapper" v-if="activeName==6&&noDataVisible">
            <div>
              <img src="../../../assets/images/nodata@3x.png" alt="">
              <p>暂无数据</p>
            </div>
          </div>
          <div class="loadmoreUl">
            <div class="orderListUl" v-for="(item,index) in orderList" style="background-color: #ffffff;" @click="handleToDetail(item)" v-if="activeName==6&&orderList.length>0">
              <p><span>{{item.work_type_desc}}</span><span>{{item.status|formatStatus}}</span></p>
              <div>
                <p><span>客户姓名：</span><span>{{item.account_name}}</span></p>
                <p><span>客户电话：</span><span>{{item.account_mobile}}</span></p>
                <p><span>服务地址：</span><span>{{item.address}}</span></p>
                <p>
                  <span>服务时间：</span>
                  <span v-if="item.plan_time">{{item.plan_time_type==5?item.plan_time:item.plan_time.split(' ')[0]}} {{item.plan_time_type|formatPlanTimeType}}</span>
                  <span v-if="item.plan_time==''">暂无</span>
                </p>
              </div>
            </div>
          </div>
          <div class="loadmore" :ref="'loadmore'+activeName" @click="handleLoadMore" v-if="activeName==6&&orderList.length>0">{{loadMoreText}}</div>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
  </div>
</template>
<script>
  import { Loadmore } from 'mint-ui';
  import api from '../api/api';
  import noDataListCmpt from '../../common/pages/noOrderListDataCmpt'
  export default {
    components: {
      'v-loadmoreAssigned':Loadmore,
      'v-inserver':Loadmore,
      'v-accepted':Loadmore,
      'v-complete':Loadmore,
      'v-all':Loadmore,
      'v-loadmore':Loadmore,
      noDataListCmpt,
    },
    data(){
      return {
        userInfo:{
          userName:'',
          mobile:'',
          company:'',
          headerImg:''
        },
        activeName:'1',
        searchCondition:{  //分页属性
          pageNo:"1",
          pageSize:"20"
        },
        totalPage:0,//总页数
        flags:true,//是否要下滑
        orderList:[],
        allLoadedassigned: false, //是否可以上拉属性，false可以上拉，true为禁止上拉，就是不让往上划加载数据了
        scrollMode:"auto",//移动端弹性滚动效果，touch为弹性滚动，auto是非弹性滚
        noDataVisible:false,//无数据是否显示
        topStatus:'',
        bottomStatus:'',
        loadMoreText:''
      }
    },
    methods:{
      handleLoginOut(){
        this.$router.push('/loginout')
      },

      //跳转到详情
      handleToDetail(data){
        this.$router.push({path:'/order/detail',query:{id:data.order_no,ind:this.activeName}})
      },

      //加载更多
      handleLoadMore(){
        this.searchCondition.pageNo = parseInt(this.searchCondition.pageNo)+1;
        if(parseInt(this.searchCondition.pageNo)<=this.totalPage){
          var params;
          if(this.activeName==1||this.activeName==2||this.activeName==3||this.activeName==4||this.activeName==5){
            params = {
              status:this.activeName,
              page:this.searchCondition.pageNo,
              pageSize:this.searchCondition.pageSize
            };
          }else if(this.activeName==6){
            params = {
              page:this.searchCondition.pageNo,
              pageSize:this.searchCondition.pageSize
            };
          }
          api.getOrderListAxios(params).then((res)=>{
            this.$refs['loadmore'+this.activeName].innerHTML = '加载中...';
            if(res.code==200){
              this.orderList = this.orderList.concat(res.data.list);
              if(this.orderList.length==res.data.totalCount){
                this.$refs['loadmore'+this.activeName].innerHTML = '没有更多数据了';
              }else{
                this.$refs['loadmore'+this.activeName].innerHTML = '加载更多...';

              }
            }else if(res.code==10005){
              this.$router.push('/login')
            }else{
              this.$toast.center('订单列表请求失败,请重试!')
            }
          })
        }else{
          return false;
        }
      },

      //初始化
      initOrderListFunc(){
        var params;
        if(this.activeName==1||this.activeName==2||this.activeName==3||this.activeName==4||this.activeName==5){
          params = {
            status:this.activeName,
            page:this.searchCondition.pageNo,
            pageSize:this.searchCondition.pageSize
          };
        }else if(this.activeName==6){
          params = {
            page:this.searchCondition.pageNo,
            pageSize:this.searchCondition.pageSize
          };
        }
        api.getOrderListAxios(params).then((res)=>{
          if(res.code==200){
            this.orderList = res.data.list;
            this.totalPage = res.data.totalPage;
            if(this.orderList.length==0){
              this.noDataVisible = true;
            }else{
              this.noDataVisible = false;
              if(res.data.totalCount>20){
                this.loadMoreText = '加载更多...';
              }else{
                this.loadMoreText ='';
              }
            }
          }else if(res.code==10005){
            this.$router.push('/login')
          }else{
            this.$toast.center('订单列表请求失败,请重试!')
          }
        })
      }

    },
    mounted(){
      if(window.localStorage.getItem('currentPage')){
        this.activeName=window.localStorage.getItem('currentPage');
      }else{
        this.activeName = '1';
      }
      this.initOrderListFunc()
      if(window.localStorage.getItem('username')){
        this.userInfo.userName = require('js-base64').Base64.decode(window.localStorage.getItem('username'));
      }
      if(window.localStorage.getItem('mobile')){
        this.userInfo.mobile = require('js-base64').Base64.decode(window.localStorage.getItem('mobile'));
      }
      if(window.localStorage.getItem('company')){
        this.userInfo.company = require('js-base64').Base64.decode(window.localStorage.getItem('company'));
      }
      if(window.localStorage.getItem('headerImg')){
        this.userInfo.headerImg = require('js-base64').Base64.decode(window.localStorage.getItem('headerImg'));
      }
    },
    watch:{
      activeName:function(val,oldVal){
        this.searchCondition.pageNo = 1;
        this.initOrderListFunc();
      }
    },
    filters:{
      formatStatus(status){
        if(status==1) return "待指派";
        if(status==2) return "待服务";
        if(status==3) return "服务中";
        if(status==4) return "待验收";
        if(status==5) return "已完成";
        if(status==6) return "已取消";
        if(status==7) return "待审核";
        if(status==8) return "未通过";

      },

      formatPlanTimeType(plan_time_type){
        if(plan_time_type==1) return "全天";
        if(plan_time_type==2) return "上午";
        if(plan_time_type==3) return "下午";
        if(plan_time_type==4) return "晚上";
      }
    }
  }
</script>
<style scoped>
  @import "../../../assets/css/order.css";
  .wrapper{
    background-color: #f5f5f5;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
  }
  .loadmore{
    text-align: center;
    color: #666;
    padding-bottom: .5rem;
  }
  .loadmoreUl{
    overflow: auto;
  }
  .nodatawrapper{
    background-color: #f5f5f5;
    width: 100%;
    height: 20rem;
    text-align: center;
  }
  .nodatawrapper>div{
    margin-top: 10rem;
  }
  .nodatawrapper img{
    display: inline-block;
    width: 5rem;
    height: 5rem;
  }
  .nodatawrapper p{
    margin-top: 1rem;
    color: #38445A;
  }
</style>
