<template>
  <div>
    <div class="orderListUl">
      <div class="orderStateProgress">
        <div class="orderStatus" v-for="(item,index) in data2">
          <p><i style="display: inline-block;">{{item.create_time.split(' ')[0].split(new Date().getFullYear()+'-')[1]}}</i><i style="font-size: 1.5rem;display: inline-block;">{{item.create_time.split(' ')[1].split(':')[0]+':'+item.create_time.split(' ')[1].split(':')[1]}}</i></p>
          <div class="progress">
            <p style="padding-top: 0.4rem;" :class="index==0?'circle circleActive':'circle circleGary'"></p>
            <p class="bottom"></p>
          </div>
          <p>
            <strong style="font-size:1.5rem;font-weight: 100;color: #333;">{{item.title}}</strong>
            <span style="text-indent: 0;">{{item.content}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:['data2']
  }
</script>
<style scoped>
  @import "../../../assets/css/order.css";
  .wrapper{
    background-color: #f5f5f5;
  }
</style>
