<template>
  <div class="wrapper">
    <div class="orderListUl orderDetailUl" v-for="item in data1">
      <div>
        <p v-if="item.product.prod_name"><span>产品名称</span><span>{{item.product.prod_name}}</span></p>
        <p v-if="item.product.prod_no"><span>产品编号</span><span>{{item.product.prod_no}}</span></p>
        <p v-if="item.product.brand_name"><span>品牌</span><span>{{item.product.brand_name}}</span></p>
        <p v-if="item.product.model"><span>产品型号</span><span>{{item.product.model}}</span></p>
        <p v-if="item.sn.sn"><span>序列号</span><span>{{item.sn.sn}}</span></p>
        <p v-if="item.product.buy_time>0&&item.product.buy_time!=null&&item.product.buy_time!=''"><span>购买日期</span><span>{{item.product.buy_time}}</span></p>
        <p v-if="item.product.produce_time>0&&item.product.produce_time!=null&&item.product.produce_time!=''"><span>出厂日期</span><span>{{item.product.produce_time}}</span></p>
        <p v-if="item.product.is_scope"><span>质保状态</span><span>{{item.product.is_scope |formatScope}}</span></p>
        <p v-if="item.product.warranty"><span>质保期</span><span>{{item.product.warranty}}</span></p>
        <p v-if="item.product.scope_img.length>0"><span>质保凭证</span><span><img v-for="url in item.product.scope_img" :src="url+'?x-oss-process=image/resize,m_fixed,h_150,w_250'" alt=""></span></p>
        <p v-if="item.sn.remark"><span>备注</span><span>{{item.sn.remark}}</span></p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:['id','data1'],
    filters:{
      formatScope(scope){
        if(scope=='0') return "暂无";
        if(scope=='1') return "保内";
        if(scope=='2') return "保外";
        if(scope=='3') return "待协商";
      }
    }
  }
</script>
<style scoped>
  @import "../../../assets/css/order.css";
  .wrapper{
    height: 100vh;
    background-color: #f5f5f5;
    overflow: scroll;
  }
</style>
