<template>
  <div style="background: #f5f5f5;height: 100vh;">
    <div class="orderListUl orderDetailUl" v-for="(item,index) in data3">
      <p><span>子单状态</span><span>{{item.status|formatStatus}}</span></p>
      <div>
        <p><span>子单编号</span><span>{{item.work_no}}</span></p>
        <p><span>服务流程</span><span>{{item.work_stage_desc}}</span></p>
        <p>
          <span>服务产品</span>
          <span v-if="productInfo.length==1">{{(productInfo[0].prod_info.brand_name==''||productInfo[0].prod_info.brand_name==null)?(productInfo[0].prod_info.prod_name+'x'+productInfo[0].prod_info.unit_num_name):(productInfo[0].prod_info.brand_name+'-'+productInfo[0].prod_info.prod_name+'x'+productInfo[0].prod_info.unit_num_name)}}</span>
          <span v-if="productInfo.length>1">{{(productInfo[0].prod_info.brand_name==''||productInfo[0].prod_info.brand_name==null)?(productInfo[0].prod_info.prod_name+'x'+productInfo[0].prod_info.unit_num_name):(productInfo[0].prod_info.brand_name+'-'+productInfo[0].prod_info.prod_name+'x'+productInfo[0].prod_info.unit_num_name)}}等多个产品</span>
        </p>
        <p>
          <span>预约时间</span>
          <span v-if="item.work_plan_time!='1970-01-01 '&&item.work_plan_time!=''">{{item.work_plan_time}}</span>
          <span v-if="item.work_plan_time=='1970-01-01 '||item.work_plan_time==''">暂无</span>
        </p>
        <p v-if="item.finsh_service_time!=''&&item.status!=1"><span>服务时间</span><span>{{item.finsh_service_time}}</span></p>
        <p v-if="item.technicianArr.length>0&&item.status!=1"><span>技师信息</span><span><a style="font-size: 1.3rem;" v-for="(techn,index) in item.technicianArr">{{techn.name}}({{techn.title}})<i v-if="index!=item.technicianArr.length-1">、</i></a></span></p>
        <p v-if="item.work_img.length>0&&item.status!=1"><span>服务工单</span><span><img v-for="(imgUrl,index) in item.work_img" class="preview-img" :src="imgUrl+'?x-oss-process=image/resize,m_fixed,h_150,w_250'" alt="" @click="show(item,index,'serviceOrder')"></span></p>
        <p v-if="item.scene_img.length>0&&item.status!=1"><span>现场拍照</span><span><img v-for="(imgUrl,index) in item.scene_img" class="preview-img" :src="imgUrl+'?x-oss-process=image/resize,m_fixed,h_150,w_250'" alt="" @click="show(item,index,'active')"></span></p>
        <p v-if="item.service_record&&item.status!=1"><span>服务记录</span><span>{{item.service_record}}</span></p>
        <p v-if="item.signature.length>0&&item.status!=1"><span>客户签名</span><span><img v-for="imgUrl in item.signature" class="preview-img" :src="imgUrl+'?x-oss-process=image/resize,m_fixed,h_150,w_250'" alt="" @click="show(item,index,'sign')"></span></p>
      </div>
      <div id="payee" style="background-color: #ffffff;" v-if="item.work_cost.length>0&&item.status!=1">
        <div class="left">收费项目</div>
        <div v-for="(orderItem,index) in item.work_cost" :class="index==0?'floatRight floatRight70P':'floatRight floatRightPayee'">
          <div class="right" :style="[{marginTop:index==0 ? '0' : '0.8rem'}]">
            <div :style="[{textIndent:index==0?'0.15rem':'0.5rem'}]">{{orderItem.work_cost_name}}</div>
            <div>{{orderItem.cost_payer?orderItem.cost_payer:''}}</div>
          </div>
          <div class="right rightWidth100">
            <div :style="[{textIndent:index==0?'0.15rem':'0.5rem'}]">价格</div>
            <div>{{orderItem.cost_price*orderItem.cost_number}}元</div>
          </div>
          <div class="right rightWidth100" v-if="orderItem.voucher_img">
            <div :style="[{textIndent:index==0?'0.15rem':'0.5rem'}]">凭证</div>
            <div>
              <img :src="imgUrl+'?x-oss-process=image/resize,m_fixed,h_150,w_250'" v-for="(imgUrl,index) in orderItem.voucher_img" class="preview-img" @click="show(orderItem,index,'voucher')" alt="">
            </div>
          </div>
          <div class="right rightWidth100" style="margin-bottom: 1rem;" v-if="orderItem.comment">
            <div :style="[{textIndent:index==0?'0.15rem':'0.5rem'}]">备注</div>
            <div>{{orderItem.comment}}</div>
          </div>
          <div class="borderBottomClass" v-if="index!=item.work_cost.length-1"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import api from '../api/api';
  import publicFun from '../../../common/public'
  export default {
    props:['data3','basicInfo'],
    data(){
      return{
        productInfo:'',//服务产品
        serviceOrderImg:[],//服务工单
        activeImg:[],//现场拍照
        customerSign:[],//客户签名
        voucherImg:[],//凭证
      }
    },
    methods:{
      getInitDataFunc(){
        this.productInfo = this.basicInfo.sale_order_new_arr;
      },
      show(data,index,type){
        if(type=='serviceOrder'){
          this.serviceOrderImg = [];
          for(let i=0;i<data.work_img.length;i++){
            let img = new Image();
            img.src = data.work_img[i];
            this.serviceOrderImg.push({
              src:img.src,
              w:img.width,
              h:img.height
            })
          }
          let _this = this;
          setTimeout(() => {
            _this.$preview.open(index, _this.serviceOrderImg);
          }, 0)
        }else if(type=='active'){
          this.activeImg = [];
          for(let i=0;i<data.scene_img.length;i++){
            let img = new Image();
            img.src = data.scene_img[i];
            this.activeImg.push({
              src:img.src,
              w:img.width,
              h:img.height
            })
          }
          let _this = this;
          setTimeout(() => {
            _this.$preview.open(index, _this.activeImg);
          }, 0)
        }else if(type=='sign'){
          this.customerSign = [];
          for(let i=0;i<data.signature.length;i++){
            let img = new Image();
            img.src = data.signature[i];
            this.customerSign.push({
              src:img.src,
              w:img.width,
              h:img.height
            })
          }
          let _this = this;
          setTimeout(() => {
            _this.$preview.open(index, _this.customerSign);
          }, 0)
        }else{
          this.voucherImg = [];
          for(let i=0;i<data.voucher_img.length;i++){
            let img = new Image();
            img.src = data.voucher_img[i];
            this.voucherImg.push({
              src:img.src,
              w:img.width,
              h:img.height
            })
          }
          let _this = this;
          setTimeout(() => {
            _this.$preview.open(index, _this.voucherImg);
          }, 0)
        }
      }

    },
    mounted(){
      this.getInitDataFunc()
    },
    filters:{
      formatStatus(status){
        if(status=='1') return "待指派";
        if(status=='2') return "待服务";
        if(status=='3') return "服务中";
        if(status=='4') return "待验收";
        if(status=='5') return "已完成";
        if(status=='6') return "已取消";
        if(status=='7') return "待审核";
        if(status=='8') return "未通过";
      },
    }
  }
</script>
<style scoped>
  @import "../../../assets/css/order.css";
  .wrapper{
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
  }
  .floatRight{
    width: 80%;
    float: left;
    border-bottom: 0.1rem solid #eee;
  }
  #payee .floatRight70P>div.right>div:last-child{
    width: 60%;
  }
  .floatRightPayee{
    width: 100%;
    border-bottom: none;
    position: relative;
  }
  .floatRightPayee .right{
    padding-left: 20%;
  }
  #payee .floatRightPayee .right>div:first-child{
    text-indent: 1rem;
  }
  .orderDetailUl>div:last-child{
    padding-bottom: .2rem;
  }
</style>
