.main-content-wrapper {
    height: auto;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
    background: #ffffff;
    padding-top: 10px;
}

#app .col {
    min-height: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.section {
    padding-bottom: 30px;
}

.section .h5 {
    padding-left: 15px;
    margin: 0;
    font-family: MicrosoftYaHei, sans-serif;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    line-height: 16px;
    text-align: left;
    font-weight: normal;
}

.section .hr {
    margin-bottom: 10px;
    border-color: #eeeeee;
}

.section .field-row {
    margin-bottom: 15px;
}

#app .table {
    table-layout: fixed;
    width: 100%;
    margin-top: 10px;
}

#app .table th, #app .table td {
    padding: 0;
    vertical-align: middle;
    margin: 0;
}

#app .table thead th {
    background: #f8f8f8;
    font-weight: bold;
    font-size: 12px;
    font-family: MicrosoftYaHei-Bold, sans-serif;
}

#app .table > thead > tr > th {
    border-bottom-width: 1px;
}

#app .table, .table td, .table th {
    border: 1px solid #d5d5d5;
    text-align: center;
}

#app .table td {
    font-size: 12px;
    height: 40px;
    line-height: normal;
    vertical-align: middle;
    padding: 5px;
}

#app .ellipsis, #app .table td {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hr {
    margin: 10px 0 40px 0;
}

#app .ipt-explain {
    left: 0;
    top: 45px;
}
