<template>
  <div class="wrapper login-wrapper">
    <div class="header-img">
      <img src="../../../assets/images/logo.png" alt="">
    </div>
    <div class="loginInfoWrapper">
      <mt-field label="" class="inputUser" placeholder="请输入手机号" v-model="userInfoForm.name" @blur.native.capture="handleValidateMobileFunc(userInfoForm.name)"></mt-field>
      <div @click="handleSearchCompany" v-if="options.length>0">
        <mt-cell title="请选择机构" is-link ref="companyName" style="padding-left: 1rem;color:#555;">
          <span>{{userInfoForm.companyName?userInfoForm.companyName: ''}}</span>
        </mt-cell>
      </div>
      <mt-field label="" type="password" class="inputUser" placeholder="请输入密码" v-model="userInfoForm.password" @blur.native.capture="handleValidatePassFunc(userInfoForm.password)"></mt-field>
    </div>
    <div class="errorMsgWrapper">
      <span v-show="errorMsg">{{errorMsgText}}</span>
    </div>
    <div class="buttonWrapper">
      <div @click="handleLogin">登录</div>
    </div>
    <mt-popup v-model="popupVisible" popup-transition="popup-fade" class="mint-popup">
      <mt-picker :slots="companyArr" :visible-item-count="5" :show-toolbar="true"  ref="picker" value-key="cName">
        <mt-button @click="handleConfirm" class="picker-sureBtn">确认</mt-button>
      </mt-picker>
    </mt-popup>
  </div>

</template>
<script>
  import api from '../api/api';
  import { Field } from 'mint-ui';
  import { Indicator } from 'mint-ui';
  export default {
    data(){
      return {
        userInfoForm:{
          name:'',
          password:'',
          companyName:'',
          companyId:''
        },
        errorMsg:true,
        errorMsgText:'',
        popupVisible:false,//弹框是否显示
        companyArr:[{
          values:[],
          flex: 1,
          className: 'slot1',
          textAlign: 'center'
        }],
        options:[],
        Base64:require('js-base64').Base64

      }

    },
    methods:{
      //验证手机号
      handleValidateMobileFunc(data){
        this.options = [];
        var reg = /^1[3456789]\d{9}$/;
        if (data === '') {
          this.errorMsgText = "请输入手机号";
        } else if (!reg.test(data)) {
          this.errorMsgText = "请输入正确格式的手机号";
        } else {
          this.errorMsgText = "";
          let params = {
            mobile:this.userInfoForm.name
          };
          api.getCompanyNameAxios(params).then((res)=>{
            if(res.code==200){
              if(res.data.length>0){
                for(var i=0;i<res.data.length;i++){
                  let obj = {};
                  obj.label= res.data[i].name;
                  obj.value = res.data[i].direct_company_id;
                  this.options.push(obj);
                }
              }

            }else{
              this.$toast.center('请求失败!')
            }
          })
        }
      },

      //验证密码
      handleValidatePassFunc(data){
        if (data === '') {
          this.errorMsgText = "请输入密码";
        } else if (data.length<6||data.length>20) {
          this.errorMsgText = "密码在6 - 20个字符之间";
        } else {
          this.errorMsgText = "";
        }
      },

      //登录
      handleLogin(){
        var reg = /^1[3456789]\d{9}$/;
        if (this.userInfoForm.name === '') {
          this.errorMsgText = "请输入手机号";
          return false;
        }
        if (!reg.test(this.userInfoForm.name)) {
          this.errorMsgText = "请输入正确格式的手机号";
          return false;
        }
        if(this.userInfoForm.password===''){
          this.errorMsgText = "请输入密码";
          return false;
        }
        if(this.userInfoForm.password.length<6||this.userInfoForm.password.length>20){
          this.errorMsgText = "密码在6 - 20个字符之间";
          return false;
        };
        Indicator.open('登录中...');
        let params = {
          username:this.userInfoForm.name,
          password:this.userInfoForm.password,
          department_id:this.userInfoForm.companyId
        };
        api.loginAxios(params).then((res)=>{
          Indicator.close();
          if(res.code==200){
            window.localStorage.setItem('username',Base64.encode(res.data.username));
            window.localStorage.setItem('mobile',Base64.encode(res.data.mobile));
            window.localStorage.setItem('company',Base64.encode(res.data.company));
            window.localStorage.setItem('headerImg',Base64.encode(res.data.avatar));
            this.$router.push('/')
          }else if(res.code==10005){
            this.$toast.center('登录失败,请重试!')
          }
        })
      },

      //确定公司
      handleChangeCompany(){

      },

      //查询机构
      handleSearchCompany(){
        var reg = /^1[3456789]\d{9}$/;
        if (this.userInfoForm.name === '') {
          this.errorMsgText = "请输入手机号";
          return false;
        }
        if (!reg.test(this.userInfoForm.name)) {
          this.errorMsgText = "请输入正确格式的手机号";
          return false;
        } else {
          this.errorMsgText = "";
          this.popupVisible = true;
          this.companyArr[0].values = [];
          let params = {
            mobile:this.userInfoForm.name
          };
          api.getCompanyNameAxios(params).then((res)=>{
            if(res.code==200){
              if(res.data.length>0){
                for(var i=0;i<res.data.length;i++){
                  let obj = {};
                  obj.label= res.data[i].name;
                  obj.value = res.data[i].direct_company_id;
                  this.companyArr[0].values.push(obj.label);
                  this.options.push(obj);
                }
              }else{

              }

            }else{
              this.$toast.center('请求失败!')
            }
          })
        }

      },

      handleConfirm(){
        this.userInfoForm.companyName = this.$refs.picker.getValues()[0]
        this.$refs.companyName.$el.innerHTML  = this.userInfoForm.companyName;
        this.$refs.companyName.$el.style.textIndent = "1rem";
        this.$refs.companyName.$el.style.fontSize = "1.6rem";
        this.popupVisible = false;
        this.options.forEach((item)=>{
          if(item.label==this.userInfoForm.companyName){
            this.userInfoForm.companyId = item.value;
          }
        })
      }


    },
    mounted(){
      document.title = '登录';
    }
  }
</script>
<style scoped>
@import "../../../assets/css/login.css";
</style>
