<template>
  <div class="wrapper">
    <div class="userInfoWrapper">
      <p><span>头像</span><span> <img :src="userInfo.headerImg" v-show="userInfo.headerImg && userInfo.headerImg != 'null'"/>
          <img src="../../../assets/images/userHeaderImg.png" v-show="userInfo.headerImg=='' || userInfo.headerImg == 'null'" />
        </span></p>
      <p><span>姓名</span><span>{{userInfo.userName}}</span></p>
      <p><span>手机号</span><span>{{userInfo.mobile}}</span></p>
    </div>
    <div class="buttonWrapper loginOutBtn">
      <div @click="handleLoginOut">退出登录</div>
    </div>
  </div>
</template>
<script>
  import { MessageBox } from 'mint-ui';
  import api from '../api/api';
  export default {
    data(){
      return {
        Base64:require('js-base64').Base64,
        userInfo:{
          userName:require('js-base64').Base64.decode(window.localStorage.getItem('username')),
          mobile:require('js-base64').Base64.decode(window.localStorage.getItem('mobile')),
          company:require('js-base64').Base64.decode(window.localStorage.getItem('company')),
          headerImg:require('js-base64').Base64.decode(window.localStorage.getItem('headerImg'))

        },
      }
    },
    methods:{
      handleLoginOut(){
        MessageBox({
          title: '退出登录',
          message: '确认要退出登录吗?',
          showCancelButton: true
        }).then(action => {
          api.loginoutAxios().then((res)=>{
            if(res.code==200){
              window.localStorage.clear();
              this.$router.push('/login');
            }else{
              this.$toast.center('退出登录失败,请重试!')
            }
          })
        }).catch(err => {
          if (err == 'cancel') {     //取消的回调

          }
        });
      }
    },
    mounted(){
      document.title = "北方智能";
      document.body.style.backgroundColor = "#f5f5f5";
    }

  }
</script>
<style scoped>
@import "../../../assets/css/login.css";
  .wrapper{
    background-color: #f5f5f5;
  }

</style>
